Repository rollup/plugins, pull requests merged in 2019-11, with the labels that each got.

#29 (alias) customResolver bugfix
  packages/alias/src/index.js
  packages/alias/test/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin/alias

#53 feat: export Rollup*Options interfaces
  packages/buble/index.d.ts
  packages/buble/test/types.ts
  packages/inject/index.d.ts
  packages/inject/test/types.ts
  packages/json/index.d.ts
  packages/json/test/types.ts
  packages/replace/index.d.ts
  packages/replace/test/types.ts
Labels: pr⁶ 🔧 refactor, v² ⋅ minor, v¹ ⋅ major, 🔌 plugin/buble, 🔌 plugin/inject, 🔌 plugin/json, 🔌 plugin/replace

#54 feat(buble): use types from @types/buble
  packages/buble/index.d.ts
  packages/buble/package.json
  packages/buble/test/types.ts
  pnpm-lock.yaml
Labels: pr⁶ 🔧 refactor, v¹ ⋅ major, 🔌 plugin/buble

#57 chore: add @rollup/plugin-html
  packages/auto-install/README.md
  packages/html/README.md
  packages/html/lib/index.js
  packages/html/package.json
  packages/html/test/fixtures/batman.js
  packages/html/test/fixtures/joker.css
  packages/html/test/fixtures/joker.js
  packages/html/test/fixtures/robin.js
  packages/html/test/snapshots/test.js.md
  packages/html/test/snapshots/test.js.snap
  packages/html/test/test.js
  pnpm-lock.yaml
  tsconfig.eslint.json
  util/test.js
Labels: pr¹ 🔧 chore
