Repository rollup/plugins, pull requests merged in 2019-12, with the labels that each got.

#55 Allow Replacement plugin to operate as an output plugin
  packages/replace/src/index.js
  packages/replace/test/misc.js
  packages/replace/test/snapshots/sourcemaps.js.md
  packages/replace/test/snapshots/sourcemaps.js.snap
  packages/replace/test/sourcemaps.js
Labels: pr³ 🔧 feature, v² ⋅ minor, 🔌 plugin-replace

#34 (alias) Breaking feature: built-in resolving algorithm is replaced in favor of Rollup's `this.resolve()`
  packages/alias/README.md
  packages/alias/package.json
  packages/alias/src/index.js
  packages/alias/test/fixtures/folder/deep/deep2/index.js
  packages/alias/test/fixtures/folder/index.js
  packages/alias/test/test.js
  pnpm-lock.yaml
Labels: t³ ✨ enhancement, v¹ ⋅ major, 🔌 plugin-alias

#84 fix(pluginutils): Escape glob characters in folder
  packages/pluginutils/src/createFilter.ts
  packages/pluginutils/test/createFilter.ts
  packages/pluginutils/test/fixtures/folder-with (parens)/.gitkeep
Labels: pr⁴ 🔧 fix, 🔌 plugin utils

#98 feat(node-resolve): add rootDir option
  packages/node-resolve/.eslintignore
  packages/node-resolve/README.md
  packages/node-resolve/src/index.js
  packages/node-resolve/test/fixtures/monorepo-dedupe/node_modules/react/index.js
  packages/node-resolve/test/fixtures/monorepo-dedupe/packages/package-a/index.js
  packages/node-resolve/test/fixtures/monorepo-dedupe/packages/package-a/node_modules/react/index.js
  packages/node-resolve/test/fixtures/monorepo-dedupe/packages/package-b/index.js
  packages/node-resolve/test/fixtures/monorepo-dedupe/packages/package-b/node_modules/react/index.js
  packages/node-resolve/test/root-dir.js
  packages/node-resolve/test/snapshots/root-dir.js.md
  packages/node-resolve/test/snapshots/root-dir.js.snap
  packages/node-resolve/types/index.d.ts
Labels: pr³ 🔧 feature, v² ⋅ minor, 🔌 plugin-node-resolve

#115 Add typings to `run`
  README.md
  packages/run/index.d.ts
  packages/run/package.json
  pnpm-lock.yaml
Labels: pr¹ 🔧 chore, 🔌 plugin-run

#117 Normalize Array format in README
  packages/alias/README.md
  packages/buble/README.md
  packages/commonjs/README.md
  packages/image/README.md
  packages/inject/README.md
  packages/json/README.md
  packages/node-resolve/README.md
  packages/pluginutils/README.md
  packages/replace/README.md
  packages/strip/README.md
  packages/sucrase/README.md
  packages/typescript/README.md
  packages/url/README.md
  packages/wasm/README.md
  packages/yaml/README.md
Labels: pr¹ 🔧 chore

#121 fix(commonjs): module.exports object spread
  packages/commonjs/src/transform.js
  packages/commonjs/test/fixtures/samples/module-exports-spread/main.js
  packages/commonjs/test/snapshots/test.js.md
  packages/commonjs/test/snapshots/test.js.snap
  packages/commonjs/test/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-commonjs

#116 fix(pluginutils): fix makeLegalIdentifier using potentially unsafe input for computed blacklisted identifier
  packages/pluginutils/src/makeLegalIdentifier.ts
  packages/pluginutils/test/makeLegalIdentifier.ts
Labels: pr⁴ 🔧 fix, 🔌 plugin utils
