Repository rollup/plugins, pull requests merged in 2020-07, with the labels that each got.

#465 fix(commonjs): Support __esModule packages with a default export
  packages/commonjs/src/helpers.js
  packages/commonjs/src/transform.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-commonjs

#469 docs(node-resolve): Fix mainFields valid values
  packages/node-resolve/README.md
Labels: pr⁴ 🔧 fix, 🔌 plugin-node-resolve

#462 feat(babel): add typings
  packages/babel/package.json
  packages/babel/test/types.ts
  packages/babel/types/index.d.ts
  pnpm-lock.yaml
Labels: pr³ 🔧 feature, 🔌 plugin-babel

#471 fix(strip): support specifying both functions and labels
  packages/strip/README.md
  packages/strip/src/index.js
  packages/strip/test/fixtures/excluded-not-changed/input.js
  packages/strip/test/fixtures/functions-direct/input.js
  packages/strip/test/fixtures/functions-spaced/input.js
  packages/strip/test/fixtures/label-awkward-spacing/input.js
  packages/strip/test/fixtures/label-expression/input.js
  packages/strip/test/fixtures/label-multiple-times/input.js
  packages/strip/test/fixtures/label-whitespace/input.js
  packages/strip/test/fixtures/lambda-void/input.js
  packages/strip/test/fixtures/no-changes/input.js
  packages/strip/test/snapshots/test.js.md
  packages/strip/test/snapshots/test.js.snap
  packages/strip/test/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-strip

#446 feat(commonjs): prevent rewrite require.resolve
  packages/commonjs/src/transform.js
  packages/commonjs/test/fixtures/form/ndoe-require-methods/input.js
  packages/commonjs/test/fixtures/form/ndoe-require-methods/output.js
Labels: c¹ ⋅ discussion, pr⁴ 🔧 fix, 🔌 plugin-commonjs

#487 feat(node-resolve): preserve search params and hashes
  packages/node-resolve/src/index.js
  packages/node-resolve/test/fixtures/hash.js
  packages/node-resolve/test/fixtures/search-params-and-hash.js
  packages/node-resolve/test/fixtures/search-params.js
  packages/node-resolve/test/test.js
Labels: pr³ 🔧 feature, 🔌 plugin-node-resolve
