Repository rollup/plugins, pull requests merged in 2020-11, with the labels that each got.

#584 fix(babel): clone cached helper identifier before returning it
  packages/babel/src/bundledHelpersPlugin.js
Labels: 🔌 plugin-babel

#535 feat(typescript): Implement cached incremental code
  .gitignore
  packages/typescript/README.md
  packages/typescript/src/index.ts
  packages/typescript/src/options/plugin.ts
  packages/typescript/src/outputFile.ts
  packages/typescript/src/tscache.ts
  packages/typescript/test/fixtures/incremental/main.ts
  packages/typescript/test/test.js
  packages/typescript/types/index.d.ts
Labels: pr³ 🔧 feature, 🔌 plugin-typescript

#627 feat(node-resolve): Mark built-ins as external
  packages/node-resolve/README.md
  packages/node-resolve/src/index.js
  packages/node-resolve/src/resolveImportSpecifiers.js
  packages/node-resolve/test/prefer-builtins.js
  packages/node-resolve/test/snapshots/dedupe-custom.js.md
  packages/node-resolve/test/snapshots/dedupe.js.md
  packages/node-resolve/test/snapshots/dedupe.js.snap
  packages/node-resolve/test/snapshots/jail.js.md
  packages/node-resolve/test/snapshots/only.js.md
  packages/node-resolve/test/snapshots/only.js.snap
  packages/node-resolve/test/snapshots/prefer-builtins.js.md
  packages/node-resolve/test/snapshots/prefer-builtins.js.snap
  packages/node-resolve/test/snapshots/root-dir.js.md
  packages/node-resolve/test/snapshots/root-dir.js.snap
  packages/node-resolve/test/snapshots/test.js.md
  packages/node-resolve/test/snapshots/test.js.snap
Labels: pr³ 🔧 feature, 🔌 plugin-node-resolve

#633 fix(typescript): add missing imports
  packages/typescript/types/index.d.ts
Labels: pr⁴ 🔧 fix, 🔌 plugin-typescript

#656 node-resolve: simplify builtins and remove `customResolveOptions`
  .eslintrc.js
  packages/dynamic-import-vars/README.md
  packages/node-resolve/README.md
  packages/node-resolve/package.json
  packages/node-resolve/src/deprecated-options.js
  packages/node-resolve/src/index.js
  packages/node-resolve/src/resolveImportSpecifiers.js
  packages/node-resolve/src/util.js
  packages/node-resolve/test/dedupe-custom.js
  packages/node-resolve/test/fixtures/custom-module-dir/dedupe.js
  packages/node-resolve/test/fixtures/custom-module-dir/js_modules/foo.js
  packages/node-resolve/test/fixtures/custom-module-dir/js_modules/package-a/index.js
  packages/node-resolve/test/fixtures/custom-module-dir/js_modules/package-a/js_modules/package-b/index.js
  packages/node-resolve/test/fixtures/custom-module-dir/js_modules/package-b/index.js
  packages/node-resolve/test/fixtures/custom-module-dir/main.js
  packages/node-resolve/test/fixtures/prefer-builtin-no-local.js
  packages/node-resolve/test/only.js
  packages/node-resolve/test/prefer-builtins.js
  packages/node-resolve/test/snapshots/dedupe.js.snap
  packages/node-resolve/test/snapshots/only.js.md
  packages/node-resolve/test/snapshots/only.js.snap
  packages/node-resolve/test/snapshots/test.js.md
  packages/node-resolve/test/snapshots/test.js.snap
  packages/node-resolve/test/test.js
  packages/node-resolve/test/types.ts
  packages/node-resolve/types/index.d.ts
  pnpm-lock.yaml
Labels: pr⁶ 🔧 refactor, 🔌 plugin-node-resolve

#637 Node-resolve: refactor handling builtins, do not log warning if no local version
  packages/node-resolve/src/index.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-node-resolve
