Repository rollup/plugins, pull requests merged in 2020-05, with the labels that each got.

#326 Expose the virtual `require` function on mock `module` (Closes #307)
  packages/commonjs/src/helpers.js
  packages/commonjs/src/transform.js
  packages/commonjs/test/fixtures/function/dynamic-module-require/_config.js
  packages/commonjs/test/fixtures/function/dynamic-module-require/main.js
  packages/commonjs/test/fixtures/function/dynamic-module-require/submodule.js
  packages/commonjs/test/fixtures/function/typeof-module-require/foo.js
  packages/commonjs/test/fixtures/function/typeof-module-require/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Labels: pr³ 🔧 feature, 🔌 plugin-commonjs

#352 fix(typescript): fix a memory leak (#322)
  packages/data-uri/test/test.js
  packages/typescript/src/index.ts
Labels: pr⁴ 🔧 fix, s² 🔥🔥 important, 🔌 plugin-typescript

#337 fix(node-resolve): Resolve local files if `resolveOption` is set
  packages/node-resolve/src/index.js
  packages/node-resolve/test/fixtures/only-local.js
  packages/node-resolve/test/fixtures/only.js
  packages/node-resolve/test/only.js
  util/test.d.ts
  util/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-node-resolve

#306 refactor(pluginutils): replace micromatch with more lightweight picomatch.
  packages/pluginutils/package.json
  packages/pluginutils/src/createFilter.ts
  pnpm-lock.yaml
Labels: pr⁶ 🔧 refactor, 🔌 plugin utils

#377 docs(babel): Cleanup misleading leftovers in the README
  packages/babel/README.md
Labels: pr² 🔧 docs, 🔌 plugin-babel

#390 fix (sucrase): resolve directory imports
  packages/sucrase/src/index.js
  packages/sucrase/test/fixtures/typescript-resolve-directory/example-a/index.ts
  packages/sucrase/test/fixtures/typescript-resolve-directory/example-b.ts
  packages/sucrase/test/fixtures/typescript-resolve-directory/example-b/index.ts
  packages/sucrase/test/fixtures/typescript-resolve-directory/main.js
  packages/sucrase/test/snapshots/test.js.md
  packages/sucrase/test/snapshots/test.js.snap
  packages/sucrase/test/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-sucrase

#361 feat(node-resolve): Add default export
  packages/node-resolve/src/index.js
  packages/node-resolve/types/index.d.ts
Labels: 🔌 plugin-node-resolve

#363 feat(wasm): Switch to TypeScript & named exports
  packages/wasm/README.md
  packages/wasm/package.json
  packages/wasm/rollup.config.js
  packages/wasm/src/index.ts
  packages/wasm/test/test.js
  packages/wasm/types/index.d.ts
  pnpm-lock.yaml
  shared/rollup.config.js
  util/test.d.ts
  util/test.js
Labels: 🔌 plugin-wasm

#387 fix(sucrase): fix aliases not resolving
  packages/sucrase/package.json
  packages/sucrase/src/index.js
  packages/sucrase/test/fixtures/typescript-with-aliases/main.js
  packages/sucrase/test/fixtures/typescript-with-aliases/src/example.ts
  packages/sucrase/test/fixtures/typescript-with-aliases/src/index.ts
  packages/sucrase/test/snapshots/test.js.md
  packages/sucrase/test/snapshots/test.js.snap
  packages/sucrase/test/test.js
  packages/wasm/rollup.config.js
  pnpm-lock.yaml
Labels: pr⁴ 🔧 fix, 🔌 plugin-sucrase

#397 docs(babel): update babelHelpers default description
  packages/babel/README.md
Labels: pr² 🔧 docs, 🔌 plugin-babel
