Repository rollup/plugins, pull requests merged in 2020-12, with the labels that each got.

#675 fix(node-resolve): export map specificity
  packages/node-resolve/src/index.js
  packages/node-resolve/src/resolveImportSpecifiers.js
  packages/node-resolve/test/fixtures/exports-directory-specificity.js
  packages/node-resolve/test/fixtures/exports-literal-specificity.js
  packages/node-resolve/test/fixtures/node_modules/exports-directory-specificity/foo-one/a.js
  packages/node-resolve/test/fixtures/node_modules/exports-directory-specificity/foo-three/a.js
  packages/node-resolve/test/fixtures/node_modules/exports-directory-specificity/foo-two/a.js
  packages/node-resolve/test/fixtures/node_modules/exports-directory-specificity/package.json
  packages/node-resolve/test/fixtures/node_modules/exports-literal-specificity/exported-foo/a.js
  packages/node-resolve/test/fixtures/node_modules/exports-literal-specificity/foo-a.js
  packages/node-resolve/test/fixtures/node_modules/exports-literal-specificity/package.json
  packages/node-resolve/test/package-entry-points.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-node-resolve

#634 refactor(html): refactor to typescript
  packages/html/package.json
  packages/html/rollup.config.js
  packages/html/src/index.ts
  packages/html/tsconfig.json
  packages/html/types/index.d.ts
  pnpm-lock.yaml
Labels: pr⁶ 🔧 refactor, 🔌 plugin-html

#673 chore(typescript): fix TypeScript warnings
  package.json
  packages/typescript/package.json
  packages/typescript/src/diagnostics/emit.ts
  packages/typescript/src/diagnostics/host.ts
  packages/typescript/src/diagnostics/toWarning.ts
  packages/typescript/src/index.ts
  packages/typescript/src/moduleResolution.ts
  packages/typescript/src/options/interfaces.ts
  packages/typescript/src/options/tsconfig.ts
  packages/typescript/src/outputFile.ts
  packages/typescript/src/watchProgram.ts
  pnpm-lock.yaml
Labels: pr⁶ 🔧 refactor, 🔌 plugin-typescript

#715 chore(pluginutils): upgrade TypeScript
  .eslintrc.js
  packages/pluginutils/package.json
  pnpm-lock.yaml
Labels: t⁶ ⋅ waiting on upstream, x⁴ ⋅ hold
