Repository rollup/plugins, pull requests merged in 2020-01, with the labels that each got.

#101 fix(node-resolve): allow deduplicating custom module dirs
  packages/node-resolve/src/index.js
  packages/node-resolve/test/dedupe-custom.js
  packages/node-resolve/test/fixtures/custom-resolve-options/dedupe.js
  packages/node-resolve/test/fixtures/custom-resolve-options/js_modules/package-a/index.js
  packages/node-resolve/test/fixtures/custom-resolve-options/js_modules/package-a/js_modules/package-b/index.js
  packages/node-resolve/test/fixtures/custom-resolve-options/js_modules/package-b/index.js
  packages/node-resolve/test/snapshots/dedupe-custom.js.md
  packages/node-resolve/test/snapshots/dedupe-custom.js.snap
Labels: pr⁴ 🔧 fix, 🔌 plugin-node-resolve

#134 chore(repo): assert changelogs
  packages/alias/CHANGELOG.md
  packages/auto-install/CHANGELOG.md
  packages/beep/CHANGELOG.md
  packages/buble/CHANGELOG.md
  packages/commonjs/CHANGELOG.md
  packages/dsv/CHANGELOG.md
  packages/html/CHANGELOG.md
  packages/image/CHANGELOG.md
  packages/inject/CHANGELOG.md
  packages/json/CHANGELOG.md
  packages/legacy/CHANGELOG.md
  packages/multi-entry/CHANGELOG.md
  packages/node-resolve/CHANGELOG.md
  packages/pluginutils/CHANGELOG.md
  packages/replace/CHANGELOG.md
  packages/run/CHANGELOG.md
  packages/strip/CHANGELOG.md
  packages/sucrase/CHANGELOG.md
  packages/typescript/CHANGELOG.md
  packages/url/CHANGELOG.md
  packages/virtual/CHANGELOG.md
  packages/wasm/CHANGELOG.md
  packages/yaml/CHANGELOG.md
Labels: pr¹ 🔧 chore, s¹ 🔥🔥🔥 critical

#133 chore(repo): revamp package publish script
  package.json
  pnpm-lock.yaml
  scripts/publish.js
Labels: pr¹ 🔧 chore, s¹ 🔥🔥🔥 critical

#138 docs(node-resolve): improve doc related to mainFields
  packages/node-resolve/README.md
Labels: pr² 🔧 docs, 🔌 plugin-node-resolve

#141 fix(pluginutils): createFilter Windows regression
  packages/auto-install/test/fixtures/npm-bare/package.json
  packages/pluginutils/src/createFilter.ts
Labels: pr⁴ 🔧 fix, s¹ 🔥🔥🔥 critical, t⁴ ⋅ regression

#137 feat(yaml): add documentMode, safe options
  packages/yaml/README.md
  packages/yaml/package.json
  packages/yaml/src/index.js
  packages/yaml/test/fixtures/multi/config.yml
  packages/yaml/test/fixtures/multi/main.js
  packages/yaml/test/fixtures/spec.json
  packages/yaml/test/test.js
  pnpm-lock.yaml
Labels: pr³ 🔧 feature, 🔌 plugin-yaml

#99 feat(node-resolve): dedupe by package name
  packages/node-resolve/README.md
  packages/node-resolve/src/index.js
  packages/node-resolve/test/dedupe.js
  packages/node-resolve/test/fixtures/node_modules/@scoped/deduped/deep.js
  packages/node-resolve/test/fixtures/node_modules/react-consumer/deep.js
  packages/node-resolve/test/fixtures/node_modules/react-consumer/node_modules/react/deep.js
  packages/node-resolve/test/fixtures/node_modules/react-consumer/node_modules/react/index.js
  packages/node-resolve/test/fixtures/node_modules/react/deep.js
  packages/node-resolve/test/fixtures/node_modules/scoped-deduped-consumer/index.js
  packages/node-resolve/test/fixtures/node_modules/scoped-deduped-consumer/node_modules/.gitkeep
  packages/node-resolve/test/fixtures/node_modules/scoped-deduped-consumer/node_modules/@scoped/deduped/deep.js
  packages/node-resolve/test/fixtures/react-app-deep-import.js
  packages/node-resolve/test/fixtures/scoped-deep-import.js
  packages/node-resolve/test/snapshots/dedupe.js.md
  packages/node-resolve/test/snapshots/dedupe.js.snap
Labels: pr³ 🔧 feature, v² ⋅ minor, 🔌 plugin-node-resolve

#146 fix(url): windows compatible, tests
  packages/url/src/index.js
  packages/url/test/test.js
Labels: pr⁴ 🔧 fix, s¹ 🔥🔥🔥 critical, 🔌 plugin-url

#147 test(auto-install): fix yarn tests
  packages/auto-install/lib/index.js
  packages/auto-install/test/fixtures/npm-bare/package.json
  packages/auto-install/test/fixtures/yarn-bare/package.json
  packages/auto-install/test/fixtures/yarn/package.json
  packages/auto-install/test/snapshots/yarn-bare.js.md
  packages/auto-install/test/snapshots/yarn-bare.js.snap
  packages/auto-install/test/snapshots/yarn.js.md
  packages/auto-install/test/snapshots/yarn.js.snap
  packages/auto-install/test/yarn-bare.js
  packages/auto-install/test/yarn.js
Labels: pr⁸ 🔧 test, s² 🔥🔥 important, 🔌 plugin-auto-install

#152 chore(commonjs): remove jsnext:main
  packages/commonjs/package.json
Labels: pr¹ 🔧 chore, 🔌 plugin-commonjs

#151 fix(pluginutils): keep for(const..) out of scope
  packages/pluginutils/src/attachScopes.ts
  packages/pluginutils/src/createFilter.ts
Labels: pr⁴ 🔧 fix, s² 🔥🔥 important, 🔌 plugin utils

#150 chore(repo): new plugin data-uri
  packages/data-uri/CHANGELOG.md
  packages/data-uri/README.md
  packages/data-uri/package.json
  packages/data-uri/rollup.config.js
  packages/data-uri/src/index.ts
  packages/data-uri/test/fixtures/.eslintrc
  packages/data-uri/test/fixtures/bad-json.js
  packages/data-uri/test/fixtures/base64.js
  packages/data-uri/test/fixtures/import.js
  packages/data-uri/test/fixtures/json.js
  packages/data-uri/test/snapshots/test.js.md
  packages/data-uri/test/snapshots/test.js.snap
  packages/data-uri/test/snapshots/test.ts.md
  packages/data-uri/test/snapshots/test.ts.snap
  packages/data-uri/test/test.js
  packages/data-uri/tsconfig.json
  packages/data-uri/types/index.d.ts
  pnpm-lock.yaml
Labels: pr¹ 🔧 chore

#157 fix(typescript) extended config file path
  packages/typescript/src/options.ts
  packages/typescript/test/fixtures/tsconfig-extends/ts-config-extends-child/main.tsx
  packages/typescript/test/fixtures/tsconfig-extends/ts-config-extends-child/tsconfig.json
  packages/typescript/test/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-typescript

#161 Update type definitions
  packages/json/index.d.ts
Labels: pr⁴ 🔧 fix, s¹ 🔥🔥🔥 critical, 🔌 plugin-json

#160 update package dependencies
  packages/alias/package.json
  packages/alias/rollup.config.js
  packages/alias/test/test.js
  packages/auto-install/README.md
  packages/auto-install/package.json
  packages/auto-install/test/npm-bare.js
  packages/auto-install/test/npm.js
  packages/auto-install/test/yarn-bare.js
  packages/auto-install/test/yarn.js
  packages/buble/package.json
  packages/buble/src/index.js
  packages/commonjs/package.json
  packages/dsv/package.json
  packages/dsv/rollup.config.js
  packages/dsv/src/index.js
  packages/image/package.json
  packages/image/rollup.config.js
  packages/inject/package.json
  packages/inject/rollup.config.js
  packages/inject/src/index.js
  packages/json/package.json
  packages/json/rollup.config.js
  packages/json/src/index.js
  packages/json/test/test.js
  packages/replace/package.json
  packages/replace/rollup.config.js
  packages/replace/src/index.js
  packages/run/package.json
  packages/strip/package.json
  packages/strip/src/index.js
  packages/typescript/package.json
  packages/typescript/test/test.js
  packages/url/package.json
  packages/url/src/index.js
  packages/virtual/package.json
  packages/virtual/rollup.config.js
  pnpm-lock.yaml
Labels: pr¹ 🔧 chore

#162 chore(typescript): Always use ParsedCommandLine
  packages/typescript/src/index.ts
  packages/typescript/src/options.ts
  packages/typescript/src/tslib.ts
  packages/typescript/test/test.js
  packages/typescript/tsconfig.json
Labels: pr⁶ 🔧 refactor, 🔌 plugin-typescript

#155 refactor(node resolve): clean codebase and fix external warnings
  packages/node-resolve/README.md
  packages/node-resolve/package.json
  packages/node-resolve/rollup.config.js
  packages/node-resolve/src/cache.js
  packages/node-resolve/src/fs.js
  packages/node-resolve/src/index.js
  packages/node-resolve/src/util.js
  packages/node-resolve/test/deprecated.js
  packages/node-resolve/test/only.js
  packages/node-resolve/test/order.js
  packages/node-resolve/test/snapshots/only.js.md
  packages/node-resolve/test/snapshots/only.js.snap
  packages/node-resolve/test/symlinks.js
  packages/node-resolve/test/test.js
  packages/node-resolve/test/types.ts
  packages/node-resolve/types/index.d.ts
  pnpm-lock.yaml
Labels: pr⁴ 🔧 fix, pr⁶ 🔧 refactor, v¹ ⋅ major, 🔌 plugin-node-resolve

#187 chore(pluginutils): Use readonly arrays, add TSDoc
  packages/pluginutils/src/createFilter.ts
  packages/pluginutils/src/dataToEsm.ts
  packages/pluginutils/src/utils/ensureArray.ts
  packages/pluginutils/types/index.d.ts
Labels: pr¹ 🔧 chore, 🔌 plugin utils
