Repository rollup/plugins, pull requests merged in 2020-10, with the labels that each got.

#611 feat(commonjs): pass type of import to node-resolve
  package.json
  packages/commonjs/README.md
  packages/commonjs/src/dynamic-packages-manager.js
  packages/commonjs/src/helpers.js
  packages/commonjs/src/index.js
  packages/commonjs/src/resolve-id.js
  packages/commonjs/src/transform.js
  packages/commonjs/test/fixtures/form/constant-template-literal/output.js
  packages/commonjs/test/fixtures/form/ignore-ids-function/output.js
  packages/commonjs/test/fixtures/form/ignore-ids/output.js
  packages/commonjs/test/fixtures/form/multi-entry-module-exports/output1.js
  packages/commonjs/test/fixtures/form/multiple-var-declarations-b/output.js
  packages/commonjs/test/fixtures/form/multiple-var-declarations-c/output.js
  packages/commonjs/test/fixtures/form/multiple-var-declarations/output.js
  packages/commonjs/test/fixtures/form/no-exports-entry/output.js
  packages/commonjs/test/fixtures/form/require-collision/output.js
  packages/commonjs/test/fixtures/form/unambiguous-with-default-export/output.js
  packages/commonjs/test/fixtures/form/unambiguous-with-import/output.js
  packages/commonjs/test/fixtures/form/unambiguous-with-named-export/output.js
  packages/commonjs/test/fixtures/function/dynamic-require-absolute-paths/_config.js
  packages/commonjs/test/fixtures/function/late-entry-dependency/_config.js
  packages/commonjs/test/fixtures/function/pass-require-to-node-resolve/_config.js
  packages/commonjs/test/fixtures/function/pass-require-to-node-resolve/bar-imported.js
  packages/commonjs/test/fixtures/function/pass-require-to-node-resolve/bar-required.js
  packages/commonjs/test/fixtures/function/pass-require-to-node-resolve/foo-imported.js
  packages/commonjs/test/fixtures/function/pass-require-to-node-resolve/foo-required.js
  packages/commonjs/test/fixtures/function/pass-require-to-node-resolve/main.js
  packages/commonjs/test/fixtures/function/pass-require-to-node-resolve/requiring.js
  packages/commonjs/test/fixtures/function/unresolved-dependencies/_config.js
  packages/commonjs/test/fixtures/function/unresolved-dependencies/main.js
  packages/commonjs/test/fixtures/samples/dynamic-require-different-loader/submodule1.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/test.js
  pnpm-lock.yaml
Labels: 🔌 plugin-commonjs

#607 refact(wasm): use helper module instead of banner
  packages/wasm/src/helper.ts
  packages/wasm/src/index.ts
  packages/wasm/test/fixtures/foo.js
  packages/wasm/test/fixtures/injectHelper.js
  packages/wasm/test/test.js
Labels: 🔌 plugin-wasm

#551 refactor(pluginutils): improve readability of attachScopes test
  packages/pluginutils/package.json
  packages/pluginutils/test/attachScopes.ts
  pnpm-lock.yaml
Labels: 🔌 plugin utils

#564 fix(node-resolve): do not ignore exceptions
  packages/node-resolve/src/index.js
  packages/node-resolve/src/util.js
  packages/node-resolve/test/root-dir.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-node-resolve

#533 fix(babel): strip hash and query param in extension filter
  packages/babel/package.json
  packages/babel/src/index.js
  packages/babel/src/utils.js
  packages/babel/test/as-input-plugin.js
  packages/babel/test/fixtures/with-query-and-hash/main.js
  packages/babel/test/fixtures/with-query-and-hash/module#Hash.js
  packages/babel/test/fixtures/with-query-and-hash/moduleQuery.js
  packages/babel/test/fixtures/with-query-and-hash/moduleQueryAnd#Hash.js
  pnpm-lock.yaml
Labels: 🔌 plugin-babel
