Repository rollup/plugins, pull requests merged in 2020-04, with the labels that each got.

#271 fix(typescript): use parsedOptions.fileNames for emit declaration files (#270)
  packages/typescript/src/index.ts
  packages/typescript/test/fixtures/export-interface-only/interface.ts
  packages/typescript/test/fixtures/export-interface-only/main.ts
  packages/typescript/test/fixtures/export-interface-only/tsconfig.json
  packages/typescript/test/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-typescript

#276 Fix typescript sourcemap generated as null
  packages/typescript/src/options/normalize.ts
  packages/typescript/test/test.js
  util/test.js
Labels: 🔌 plugin-typescript

#149 feat(commonjs): set syntheticNamedExports for commonjs modules
  packages/commonjs/README.md
  packages/commonjs/package.json
  packages/commonjs/src/index.js
  packages/commonjs/src/transform.js
  packages/commonjs/test/fixtures/.eslintrc
  packages/commonjs/test/fixtures/function/__esModule/main.js
  packages/commonjs/test/fixtures/function/named-exports-conditional/main.js
  packages/commonjs/test/fixtures/function/named-exports-conditional/x.js
  packages/commonjs/test/fixtures/function/named-exports-dynamic/_config.js
  packages/commonjs/test/fixtures/function/named-exports-dynamic/main.js
  packages/commonjs/test/fixtures/function/named-exports-dynamic/x.js
  packages/commonjs/test/fixtures/function/named-exports-object-define/main.js
  packages/commonjs/test/fixtures/function/named-exports-object-define/x.js
  packages/commonjs/test/fixtures/function/named-exports-reexport-default/export.js
  packages/commonjs/test/fixtures/function/named-exports-reexport-default/main.js
  packages/commonjs/test/fixtures/function/named-exports-reexport-default/reexport.js
  packages/commonjs/test/fixtures/function/named-exports-reexport-named/export.js
  packages/commonjs/test/fixtures/function/named-exports-reexport-named/main.js
  packages/commonjs/test/fixtures/function/named-exports-reexport-named/reexport.js
  packages/commonjs/test/fixtures/function/named-exports-unexported/main.js
  packages/commonjs/test/fixtures/function/named-exports-unexported/x.js
  packages/commonjs/test/fixtures/function/reexports/_config.js
  packages/commonjs/test/fixtures/function/reexports/bar.js
  packages/commonjs/test/fixtures/function/reexports/foo.js
  packages/commonjs/test/fixtures/function/reexports/main.js
  packages/commonjs/test/fixtures/samples/custom-named-exports-browser-shims/main.js
  packages/commonjs/test/fixtures/samples/custom-named-exports-false-positive/main.js
  packages/commonjs/test/fixtures/samples/custom-named-exports-false-positive/other.js
  packages/commonjs/test/fixtures/samples/custom-named-exports-warn-builtins/main.js
  packages/commonjs/test/fixtures/samples/custom-named-exports/main.js
  packages/commonjs/test/fixtures/samples/custom-named-exports/secret-named-exporter.js
  packages/commonjs/test/fixtures/samples/define-property/foo.js
  packages/commonjs/test/fixtures/samples/define-property/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/test.js
  packages/commonjs/test/types.ts
  pnpm-lock.yaml
Labels: pr³ 🔧 feature, t⁶ ⋅ waiting on upstream, v¹ ⋅ major, x⁴ ⋅ hold, 🔌 plugin-commonjs

#323 Add example for passing code to Rollup's input
  packages/virtual/README.md
Labels: t² 📚 documentation, 🔌 plugin- virtual

#334 Make wasm plugin work with service workers
  packages/wasm/src/index.js
  packages/wasm/test/fixtures/worker.js
  packages/wasm/test/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-wasm

#325 Support for explicit module.require calls (Closes #310)
  packages/commonjs/src/transform.js
  packages/commonjs/test/fixtures/function/module_require/_config.js
  packages/commonjs/test/fixtures/function/module_require/foo.js
  packages/commonjs/test/fixtures/function/module_require/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Labels: pr³ 🔧 feature, 🔌 plugin-commonjs

#212 fix(url): Don't append path separator on empty dirname
  packages/url/src/index.js
  packages/url/test/snapshots/test.js.md
  packages/url/test/snapshots/test.js.snap
  packages/url/test/test.js
Labels: pr⁴ 🔧 fix, s² 🔥🔥 important, 🔌 plugin-url

#355 Improved shouldWrap logic (Closes #304)
  packages/commonjs/src/transform.js
  packages/commonjs/test/fixtures/function/es6-export-with-global-sniffing/_config.js
  packages/commonjs/test/fixtures/function/es6-export-with-global-sniffing/main.js
  packages/commonjs/test/fixtures/function/es6-export-with-global-sniffing/submodule.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Labels: pr⁴ 🔧 fix, s² 🔥🔥 important, 🔌 plugin-commonjs
