Repository rollup/plugins, pull requests merged in 2020-02, with the labels that each got.

#173 fix(image): url-encode SVG source
  packages/image/package.json
  packages/image/src/index.js
  packages/image/test/snapshots/test.js.md
  packages/image/test/snapshots/test.js.snap
  packages/image/test/test.js
  pnpm-lock.yaml
Labels: pr⁴ 🔧 fix, x⁴ ⋅ hold, 🔌 plugin-image

#199 fix(typescript): Use builtin extends resolution
  .gitignore
  packages/typescript/src/options.ts
  packages/typescript/test/fixtures/tsconfig-extends-module/main.tsx
  packages/typescript/test/fixtures/tsconfig-extends-module/node_modules/shared-config/package.json
  packages/typescript/test/fixtures/tsconfig-extends-module/node_modules/shared-config/tsconfig.json
  packages/typescript/test/fixtures/tsconfig-extends-module/tsconfig.json
  packages/typescript/test/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-typescript

#201 fix(commonjs): produce legal variable names from filenames containing hyphens.
  packages/commonjs/src/transform.js
  packages/commonjs/test/fixtures/function/dash-name/_config.js
  packages/commonjs/test/fixtures/function/dash-name/dash-name.js
  packages/commonjs/test/fixtures/function/dash-name/main.js
  packages/commonjs/test/form.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-commonjs

#207 test(typescript): Add test for optional chaining
  packages/typescript/test/fixtures/optional-chaining/main.ts
  packages/typescript/test/test.js
Labels: pr⁸ 🔧 test, 🔌 plugin-typescript

#214 chore(typescript): refactor compiler host
  packages/typescript/src/diagnostics/emit.ts
  packages/typescript/src/diagnostics/host.ts
  packages/typescript/src/diagnostics/toWarning.ts
  packages/typescript/src/host.ts
  packages/typescript/src/index.ts
  packages/typescript/src/moduleResolution/host.ts
  packages/typescript/src/moduleResolution/resolver.ts
  packages/typescript/src/options.ts
  packages/typescript/test/test.js
Labels: 🔌 plugin-typescript

#217 feat(typescript): Move to BuilderProgram API
  .gitignore
  packages/typescript/README.md
  packages/typescript/package.json
  packages/typescript/src/diagnostics/emit.ts
  packages/typescript/src/documentRegistry.ts
  packages/typescript/src/host.ts
  packages/typescript/src/index.ts
  packages/typescript/src/moduleResolution.ts
  packages/typescript/src/moduleResolution/host.ts
  packages/typescript/src/options/interfaces.ts
  packages/typescript/src/options/normalize.ts
  packages/typescript/src/options/plugin.ts
  packages/typescript/src/options/tsconfig.ts
  packages/typescript/src/options/validate.ts
  packages/typescript/src/outputFile.ts
  packages/typescript/src/outputToRollupTransformation.ts
  packages/typescript/src/tslib.ts
  packages/typescript/src/watchProgram.ts
  packages/typescript/test/fixtures/async/tsconfig.json
  packages/typescript/test/fixtures/basic/tsconfig.json
  packages/typescript/test/fixtures/commonjs-imports/tsconfig.json
  packages/typescript/test/fixtures/dedup-helpers/tsconfig.json
  packages/typescript/test/fixtures/dts/tsconfig.json
  packages/typescript/test/fixtures/dynamic-imports/tsconfig.json
  packages/typescript/test/fixtures/export-abstract-class/tsconfig.json
  packages/typescript/test/fixtures/export-class-fix/tsconfig.json
  packages/typescript/test/fixtures/export-namespace-export-class/tsconfig.json
  packages/typescript/test/fixtures/import-class/tsconfig.json
  packages/typescript/test/fixtures/incremental/dist/.tsbuildinfo
  packages/typescript/test/fixtures/incremental/main.ts
  packages/typescript/test/fixtures/incremental/tsconfig.json
  packages/typescript/test/fixtures/optional-chaining/tsconfig.json
  packages/typescript/test/fixtures/overriding-tslib/tsconfig.json
  packages/typescript/test/fixtures/overriding-tslib/tslib.js
  packages/typescript/test/fixtures/overriding-typescript/tsconfig.json
  packages/typescript/test/fixtures/project-references/animals/animal.ts
  packages/typescript/test/fixtures/project-references/animals/dog.ts
  packages/typescript/test/fixtures/project-references/animals/index.ts
  packages/typescript/test/fixtures/project-references/animals/tsconfig.json
  packages/typescript/test/fixtures/project-references/core/tsconfig.json
  packages/typescript/test/fixtures/project-references/core/utilities.ts
  packages/typescript/test/fixtures/project-references/tsconfig-base.json
  packages/typescript/test/fixtures/project-references/tsconfig.json
  packages/typescript/test/fixtures/project-references/zoo/tsconfig.json
  packages/typescript/test/fixtures/project-references/zoo/zoo.ts
  packages/typescript/test/fixtures/reexport-type/tsconfig.json
  packages/typescript/test/fixtures/relative-dir/main.ts
  packages/typescript/test/fixtures/relative-dir/tsconfig.json
  packages/typescript/test/fixtures/syntax-error/tsconfig.json
  packages/typescript/test/test.js
  packages/typescript/types/index.d.ts
Labels: 🔌 plugin-typescript

#221 chore(repo): Move all .d.ts files to types folder & lint
  packages/buble/package.json
  packages/buble/test/types.ts
  packages/buble/types/index.d.ts
  packages/commonjs/package.json
  packages/commonjs/test/types.ts
  packages/commonjs/types/index.d.ts
  packages/data-uri/package.json
  packages/json/index.d.ts
  packages/json/package.json
  packages/json/test/types.ts
  packages/json/types/index.d.ts
  packages/node-resolve/package.json
  packages/node-resolve/types/index.d.ts
  packages/replace/index.d.ts
  packages/replace/package.json
  packages/replace/test/types.ts
  packages/replace/types/index.d.ts
  packages/run/index.d.ts
  packages/run/package.json
  packages/run/types/index.d.ts
  pnpm-lock.yaml
Labels: pr¹ 🔧 chore

#222 feat(commonjs): export properties defined using Object.defineProperty(exports, ..)
  packages/commonjs/src/transform.js
  packages/commonjs/test/fixtures/samples/define-property/foo.js
  packages/commonjs/test/fixtures/samples/define-property/main.js
  packages/commonjs/test/test.js
Labels: pr³ 🔧 feature, 🔌 plugin-commonjs
