Repository rollup/plugins, pull requests merged in 2021-04, with the labels that each got.

#804 fix(inject): isReference check bug
  packages/inject/src/index.js
  packages/inject/test/fixtures/is-reference/input.js
  packages/inject/test/snapshots/test.js.md
  packages/inject/test/snapshots/test.js.snap
  packages/inject/test/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-inject

#820 feat(run): add `allowRestarts` option
  packages/run/README.md
  packages/run/src/index.ts
  packages/run/test/test.js
  packages/run/types/index.d.ts
Labels: pr³ 🔧 feature, 🔌 plugin-run

#799 fix(node-resolve): mark module as external if resolved module is external
  packages/node-resolve/package.json
  packages/node-resolve/src/index.js
  packages/node-resolve/test/fixtures/resolved-external/main.js
  packages/node-resolve/test/fixtures/resolved-external/node_modules/external/index.js
  packages/node-resolve/test/test.js
  pnpm-lock.yaml
Labels: pr⁴ 🔧 fix, 🔌 plugin-node-resolve
