Repository rollup/plugins, pull requests merged in 2021-07, with the labels that each got.

#927 fix(node-resolve): handle "package.json" being in path
  .eslintignore
  .github/workflows/node-windows.yml
  .github/workflows/validate.yml
  packages/node-resolve/src/fs.js
  packages/node-resolve/src/index.js
  packages/node-resolve/src/package/utils.js
  packages/node-resolve/src/resolveImportSpecifiers.js
  packages/node-resolve/test/fixtures/package-json-in-path/package.json/main.js
  packages/node-resolve/test/fixtures/package-json-in-path/package.json/node_modules/dependency/dist-esm/something.js
  packages/node-resolve/test/fixtures/package-json-in-path/package.json/node_modules/dependency/package.json
  packages/node-resolve/test/test.js
  packages/typescript/test/fixtures/project-references/animals/dog.ts
Labels: 🔌 plugin-node-resolve

#612 docs(alias): add helpful notes
  packages/alias/README.md
  packages/pluginutils/CHANGELOG.md
Labels: pr² 🔧 docs, 🔌 plugin-alias

#921 fix(node-resolve): Fix bug where JS import was converted to a TS import, resulting in an error when using export maps
  packages/node-resolve/src/fs.js
  packages/node-resolve/src/index.js
  packages/node-resolve/src/package/resolvePackageImports.js
  packages/node-resolve/src/package/utils.js
  packages/node-resolve/src/resolveImportSpecifiers.js
  packages/node-resolve/test/fixtures/node_modules/exports-error-no-fallback/main.js
  packages/node-resolve/test/fixtures/node_modules/exports-error-no-fallback/node_modules/dependency/a.js
  packages/node-resolve/test/fixtures/node_modules/exports-error-no-fallback/node_modules/dependency/package.json
  packages/node-resolve/test/fixtures/package-json-in-path/node_modules/dep/index.js
  packages/node-resolve/test/fixtures/package-json-in-path/node_modules/dep/package.json
  packages/node-resolve/test/fixtures/package-json-in-path/package.json/main.js
  packages/node-resolve/test/fixtures/ts-import-js-extension-for-js-file-export-map/import-js-with-js-extension.ts
  packages/node-resolve/test/fixtures/ts-import-js-extension-for-js-file-export-map/node_modules/dependency/dist-esm/something.js
  packages/node-resolve/test/fixtures/ts-import-js-extension-for-js-file-export-map/node_modules/dependency/dist-esm/something.ts
  packages/node-resolve/test/fixtures/ts-import-js-extension-for-js-file-export-map/node_modules/dependency/package.json
  packages/node-resolve/test/package-entry-points.js
  packages/node-resolve/test/test.js
Labels: 🔌 plugin-node-resolve

#938 chore(sucrase)!: upgrade sucrase dependency
  packages/sucrase/package.json
  packages/sucrase/test/snapshots/test.js.md
  packages/sucrase/test/snapshots/test.js.snap
  pnpm-lock.yaml
Labels: pr¹ 🔧 chore, 🔌 plugin-sucrase
