Repository rollup/plugins, pull requests merged in 2021-02, with the labels that each got.

#788 feat(typescript): warn when compilerOptions.module is not esnext
  package.json
  packages/typescript/ava.config.js
  packages/typescript/package.json
  packages/typescript/src/index.ts
  packages/typescript/src/options/tsconfig.ts
  packages/typescript/src/preflight.ts
  packages/typescript/test/fixtures/bad-module/main.ts
  packages/typescript/test/fixtures/bad-module/tsconfig.json
  packages/typescript/test/snapshots/warnings.ts.md
  packages/typescript/test/snapshots/warnings.ts.snap
  packages/typescript/test/warnings.ts
  pnpm-lock.yaml
  shared/ava.config.js
  tsconfig.base.json
  tsconfig.eslint.json
Labels: pr³ 🔧 feature, 🔌 plugin-typescript

#791 test(typescript): move declaration tests, use typescript
  packages/typescript/test/declarations.ts
  packages/typescript/test/test.js
Labels: pr⁶ 🔧 refactor, 🔌 plugin-typescript

#793 feat(typescript): better error when tslib is not installed
  .eslintrc.js
  package.json
  packages/typescript/src/index.ts
  packages/typescript/src/options/plugin.ts
  packages/typescript/src/preflight.ts
  packages/typescript/src/tslib.ts
  packages/typescript/test/snapshots/tslib.ts.md
  packages/typescript/test/snapshots/tslib.ts.snap
  packages/typescript/test/test.js
  packages/typescript/test/tsconfig.json
  packages/typescript/test/tslib.ts
  packages/typescript/types/index.d.ts
  pnpm-lock.yaml
  util/test.d.ts
  util/test.js
Labels: pr³ 🔧 feature, 🔌 plugin-typescript

#794 feat(typescript): error when no tsconfig and no rootDir
  packages/typescript/src/preflight.ts
  packages/typescript/test/snapshots/tsconfig.ts.md
  packages/typescript/test/snapshots/tsconfig.ts.snap
  packages/typescript/test/tsconfig.ts
Labels: pr³ 🔧 feature, 🔌 plugin-typescript

#784 feat(babel): pass rollup context as this context into override config function
  packages/babel/src/transformCode.js
  packages/babel/test/as-input-plugin.js
  packages/babel/test/as-output-plugin.js
  packages/babel/types/index.d.ts
Labels: pr³ 🔧 feature, 🔌 plugin-babel

#767 feat(babel): add filter option
  packages/babel/README.md
  packages/babel/src/index.js
  packages/babel/test/as-input-plugin.js
  packages/babel/types/index.d.ts
Labels: pr³ 🔧 feature, 🔌 plugin-babel

#694 feat(node-resolve): add `ignoreSideEffectsForRoot` option
  packages/node-resolve/README.md
  packages/node-resolve/src/index.js
  packages/node-resolve/src/resolveImportSpecifiers.js
  packages/node-resolve/src/util.js
  packages/node-resolve/test/fixtures/root-package-side-effect/index.js
  packages/node-resolve/test/fixtures/root-package-side-effect/package.json
  packages/node-resolve/test/fixtures/root-package-side-effect/side-effect.js
  packages/node-resolve/test/snapshots/test.js.md
  packages/node-resolve/test/snapshots/test.js.snap
  packages/node-resolve/test/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-node-resolve

#780 Check types in typescript packages in CI
  .circleci/config.yml
  package.json
  packages/alias/package.json
  packages/auto-install/package.json
  packages/data-uri/package.json
  packages/eslint/package.json
  packages/html/package.json
  packages/pluginutils/package.json
  packages/typescript/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/wasm/tsconfig.json
  pnpm-lock.yaml
Labels: pr⁴ 🔧 fix, 🔌 plugin-typescript

#798 feat(replace): prevent accidental replacement within assignment
  packages/replace/README.md
  packages/replace/src/index.js
  packages/replace/test/fixtures/form/assignment/_config.js
  packages/replace/test/fixtures/form/assignment/input.js
  packages/replace/test/fixtures/form/assignment/output.js
  packages/replace/test/misc.js
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
  packages/replace/test/snapshots/misc.js.md
  packages/replace/test/snapshots/misc.js.snap
  packages/replace/test/sourcemaps.js
Labels: c⁴ ⋅ need more info, 🔌 plugin-replace
