Repository rollup/plugins, pull requests merged in 2021-01, with the labels that each got.

#700 Enable TypeScript library checking
  tsconfig.base.json
Labels: t⁶ ⋅ waiting on upstream, x⁴ ⋅ hold

#719 chore(commonjs): fix lint error
  packages/commonjs/test/types.ts
Labels: pr¹ 🔧 chore, 🔌 plugin-commonjs

#716 chore(virtual): upgrade TypeScript
  packages/virtual/package.json
  pnpm-lock.yaml
Labels: pr¹ 🔧 chore, t⁶ ⋅ waiting on upstream, x⁴ ⋅ hold, 🔌 plugin-virtual

#714 chore(run): upgrade TypeScript
  packages/run/package.json
  pnpm-lock.yaml
Labels: pr¹ 🔧 chore, 🔌 plugin-run

#712 chore(eslint): upgrade TypeScript
  packages/eslint/package.json
  pnpm-lock.yaml
Labels: pr¹ 🔧 chore, 🔌 plugin-eslint

#711 chore(data-uri): upgrade TypeScript
  packages/data-uri/package.json
  pnpm-lock.yaml
Labels: pr¹ 🔧 chore

#710 chore(buble): upgrade TypeScript
  packages/buble/package.json
  pnpm-lock.yaml
Labels: pr¹ 🔧 chore, 🔌 plugin-buble

#709 chore(auto-install): upgrade TypeScript
  packages/auto-install/package.json
  pnpm-lock.yaml
Labels: pr¹ 🔧 chore, 🔌 plugin-auto-install

#713 chore(html): upgrade TypeScript
  packages/html/package.json
  pnpm-lock.yaml
Labels: pr¹ 🔧 chore, 🔌 plugin-html

#764 fix(commonjs): correctly replace shorthand `require`
  packages/commonjs/src/ast-utils.js
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/samples/shorthand-require/main.js
  packages/commonjs/test/test.js
Labels: pr⁴ 🔧 fix, 🔌 plugin-commonjs

#647 fix(typescript): type declarations
  packages/typescript/types/index.d.ts
Labels: pr⁴ 🔧 fix, 🔌 plugin-typescript

#783 chore(node-resolve): mark `url` as an external and throw on warning
  packages/node-resolve/rollup.config.js
Labels: 🔌 plugin-node-resolve
