Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(graphql): handle parentheses in fragment import file paths
  packages/graphql/src/toESModules.js
  packages/graphql/test/fixtures/fragments-with-special-characters/(parentheses)/fragment.graphql
  packages/graphql/test/fixtures/fragments-with-special-characters/[brackets]/fragment.graphql
  packages/graphql/test/fixtures/fragments-with-special-characters/index.js
  packages/graphql/test/fixtures/fragments-with-special-characters/query.graphql
  packages/graphql/test/test.js
Owners: @shellscape

perf(pluginutils): optimize `createFilter` and `normalizePath`
  packages/pluginutils/src/createFilter.ts
  packages/pluginutils/src/normalizePath.ts
Owners: @shellscape

fix
  packages/pluginutils/src/createFilter.ts
Owners: @shellscape

fix
  packages/pluginutils/src/createFilter.ts
Owners: @shellscape

refactor(dynamic-import-vars): simplify regex
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
Owners: @shellscape

feat(wasm): allow using a custom loader
  packages/wasm/src/helper.ts
  packages/wasm/src/index.ts
  packages/wasm/test/test.mjs
  packages/wasm/types/index.d.ts
Owners: @shellscape

perf(pluginutils): improve regex performance
  packages/pluginutils/src/attachScopes.ts
  packages/pluginutils/src/dataToEsm.ts
Owners: @shellscape

chore(commonjs): switch to fdir for fewer dependencies
  package.json
  packages/commonjs/package.json
  packages/commonjs/src/dynamic-modules.js
  packages/commonjs/test/fixtures/function/dynamic-require-instances/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-package/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-resolve-index/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-resolve-reference/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-slash-access/_config.js
  pnpm-lock.yaml
Owners: @shellscape

feat(swc): sets filename property, so to make additional swc features available
  packages/swc/src/module.ts
Owners: @tada5hi

chore(alias): remove unused slash dependency
  packages/alias/package.json
  pnpm-lock.yaml
Owners: @shellscape

feat(swc): sets filename property, so to make additional swc features… (#1761)
  packages/swc/src/module.ts
Owners: @tada5hi

chore(release): swc v0.4.0
  packages/swc/CHANGELOG.md
  packages/swc/package.json
Owners: @tada5hi

chore: upgrade to husky v9
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Owners: @shellscape

chore: remove unused repo devDependencies
  package.json
  pnpm-lock.yaml
Owners: @shellscape

Fix `preventAssignment` option treated as a value to replace
  packages/replace/src/index.js
Owners: @shellscape

Test the change
  packages/replace/test/fixtures/form/observe-plugin-options/input.js
Owners: @shellscape

Test the change
  packages/replace/test/fixtures/form/observe-plugin-options/output.js
Owners: @shellscape

Test the change
  packages/replace/test/fixtures/form/observe-plugin-options/_config.js
Owners: @shellscape

chore(repo): remove unused repo devDependencies (#1766)
  package.json
  pnpm-lock.yaml
Owners: @shellscape

fix(alias): remove unused slash dependency (#1763)
  packages/alias/package.json
  pnpm-lock.yaml
Owners: @shellscape

chore(release): alias v5.1.1
  packages/alias/CHANGELOG.md
  packages/alias/package.json
Owners: @shellscape

fix(pluginutils): improve regex performance (#1753)
  packages/pluginutils/src/attachScopes.ts
  packages/pluginutils/src/dataToEsm.ts
Owners: @shellscape

chore(release): pluginutils v5.1.1
  packages/pluginutils/CHANGELOG.md
  packages/pluginutils/package.json
Owners: @shellscape

fix(graphql): handle parentheses in fragment import file paths. (#1746)
  packages/graphql/src/toESModules.js
  packages/graphql/test/fixtures/fragments-with-special-characters/(parentheses)/fragment.graphql
  packages/graphql/test/fixtures/fragments-with-special-characters/[brackets]/fragment.graphql
  packages/graphql/test/fixtures/fragments-with-special-characters/index.js
  packages/graphql/test/fixtures/fragments-with-special-characters/query.graphql
  packages/graphql/test/test.js
Owners: @shellscape

chore(release): graphql v2.0.5
  packages/graphql/CHANGELOG.md
  packages/graphql/package.json
Owners: @shellscape

chore(node-resolve): remove is-builtin-module (#1735)
  packages/node-resolve/package.json
  packages/node-resolve/src/index.js
  pnpm-lock.yaml
Owners: @tjenkinson, @shellscape

chore(release): node-resolve v15.2.4
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

fix(html): template function first arg is always provided (#1718)
  packages/html/types/index.d.ts
Owners: @shellscape

chore(release): html v1.0.4
  packages/html/CHANGELOG.md
  packages/html/package.json
Owners: @shellscape

fix(dynamic-import-vars): simplify regex (#1751)
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
Owners: @shellscape

chore(release): dynamic-import-vars v2.1.3
  packages/dynamic-import-vars/CHANGELOG.md
  packages/dynamic-import-vars/package.json
Owners: @shellscape

fix(typescript)!: correctly resolve filenames of declaration files for `output.file` (#1728)
  packages/typescript/src/index.ts
  packages/typescript/src/options/validate.ts
  packages/typescript/test/test.js
Owners: @shellscape

chore(release): typescript v12.0.0
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
  packages/typescript/test/fixtures/incremental-single/tsconfig.tsbuildinfo
  packages/typescript/test/fixtures/incremental-watch-off/main.ts
Owners: @shellscape

feat(typescript): add transformers factory. (#1668)
  packages/typescript/README.md
  packages/typescript/src/moduleResolution.ts
  packages/typescript/src/options/tsconfig.ts
  packages/typescript/src/watchProgram.ts
  packages/typescript/test/test.js
  packages/typescript/types/index.d.ts
Owners: @shellscape

chore(release): typescript v12.1.0
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
  packages/typescript/test/fixtures/incremental-watch-off/main.ts
Owners: @shellscape

fix: use `win32.sep` and `posix.sep`
  packages/pluginutils/src/normalizePath.ts
Owners: @shellscape

resolve conflicts in pnpm-lock.yaml
  pnpm-lock.yaml
Owners: @shellscape

update pnpm-lock.yaml
  pnpm-lock.yaml
Owners: @shellscape

Update the test snapshot
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
Owners: @shellscape

fix(replace): objectGuards doesn't take effects
  packages/replace/src/index.js
  packages/replace/test/fixtures/form/process-check/input.js
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
Owners: @shellscape

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi
