Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi

chore: correct types after bad conflict resolve
  packages/html/types/index.d.ts
Owners: @shellscape

fix(html): types for plugin (#1264)
  packages/html/src/index.ts
  packages/html/types/index.d.ts
Owners: @shellscape

chore(release): html v1.0.5
  packages/html/CHANGELOG.md
  packages/html/package.json
Owners: @shellscape

chore: refactor option name
  packages/html/src/index.ts
Owners: @shellscape

feat(html): implement scripts on head tag (#1816)
  packages/html/README.md
  packages/html/recipes/external-files/index.js
  packages/html/src/index.ts
  packages/html/test/snapshots/test.js.md
  packages/html/test/snapshots/test.js.snap
  packages/html/test/test.js
  packages/html/types/index.d.ts
Owners: @shellscape

chore(release): html v1.1.0
  packages/html/CHANGELOG.md
  packages/html/package.json
Owners: @shellscape

docs(commonjs): `output.exports` recommendation also applies to IIFE (#1810)
  packages/commonjs/README.md
Owners: @shellscape

chore(release): commonjs v28.0.2
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

fix(replace): add missing types for `objectGuards` option (#1818)
  packages/replace/test/types.ts
  packages/replace/types/index.d.ts
Owners: @shellscape

chore: bump workflows
  packages/pluginutils/test/createFilter.ts
Owners: @shellscape

chore(release): replace v6.0.2
  packages/replace/CHANGELOG.md
  packages/replace/package.json
Owners: @shellscape

fix(typescript): path validation issue in validatePaths function (#1800)
  packages/typescript/src/options/validate.ts
  packages/typescript/test/test.js
Owners: @shellscape

chore(release): typescript v12.1.2
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

refactor(pluginutils,node-resolve): replace `test` with `includes` (#1787)
  packages/node-resolve/src/index.js
  packages/pluginutils/src/attachScopes.ts
  packages/pluginutils/src/createFilter.ts
  packages/pluginutils/test/createFilter.ts
Owners: @tjenkinson, @shellscape

chore(release): node-resolve v15.3.1
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

chore(release): pluginutils v5.1.4
  packages/pluginutils/CHANGELOG.md
  packages/pluginutils/package.json
Owners: @shellscape

feat(node-resolve)!: set development or production condition (#1823)
  packages/node-resolve/README.md
  packages/node-resolve/src/index.js
  packages/node-resolve/test/fixtures/dev-prod-conditions.js
  packages/node-resolve/test/fixtures/node_modules/dev-prod-conditions/dev.js
  packages/node-resolve/test/fixtures/node_modules/dev-prod-conditions/index.js
  packages/node-resolve/test/fixtures/node_modules/dev-prod-conditions/package.json
  packages/node-resolve/test/package-entry-points.js
Owners: @tjenkinson

chore(release): node-resolve v16.0.0
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

address bug #1834
  packages/html/src/index.ts
  packages/html/test/fixtures/catwoman.js
  packages/html/test/snapshots/test.js.md
  packages/html/test/snapshots/test.js.snap
  packages/html/test/test.js
Owners: @shellscape

Update and rename README.md to #r
  packages/legacy/#r
Owners: @shellscape

feat(pluginutils): use pathe to support browser environments
  packages/pluginutils/package.json
  packages/pluginutils/src/addExtension.ts
  packages/pluginutils/src/createFilter.ts
  packages/pluginutils/src/normalizePath.ts
  pnpm-lock.yaml
Owners: @shellscape

fix(html)!: output only entry chunks by default, not assets or nonentry chunks (#1835)
  packages/html/src/index.ts
  packages/html/test/fixtures/catwoman.js
  packages/html/test/snapshots/test.js.md
  packages/html/test/snapshots/test.js.snap
  packages/html/test/test.js
Owners: @shellscape

chore(release): html v2.0.0
  packages/html/CHANGELOG.md
  packages/html/package.json
Owners: @shellscape

fix(node-resolve): add `ignoreSideEffectsForRoot` to exported interface
  packages/node-resolve/README.md
  packages/node-resolve/types/index.d.ts
Owners: @tjenkinson

chore(dynamic-import-vars): revert 2.1.4 changes
  .github/workflows/node-windows.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  packages/dynamic-import-vars/package.json
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
  packages/dynamic-import-vars/src/index.js
  pnpm-lock.yaml
Owners: @shellscape

chore(repo): remove corepack from workflows
  .github/workflows/node-windows.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
Owners: @shellscape

kamsatantalani
  SECURITY.md
Owners: @shellscape

fix(esm-shim): use `mlly` to find index to append shim
  packages/esm-shim/package.json
  packages/esm-shim/src/constants.ts
  packages/esm-shim/src/index.ts
  packages/esm-shim/src/utils.ts
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

Update README.md
  packages/wasm/README.md
Owners: @shellscape

add jsx runtime config
  packages/sucrase/README.md
  packages/sucrase/src/index.js
Owners: @shellscape

add types
  packages/sucrase/test/types.ts
  packages/sucrase/types/index.d.ts
Owners: @shellscape

fix(esm-shim): use `mlly` to find index to append shim (#1844)
  packages/esm-shim/package.json
  packages/esm-shim/src/constants.ts
  packages/esm-shim/src/index.ts
  packages/esm-shim/src/utils.ts
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

chore(release): esm-shim v0.1.8
  packages/esm-shim/CHANGELOG.md
  packages/esm-shim/package.json
Owners: @tada5hi

fix crash
  packages/commonjs/src/helpers.js
  packages/commonjs/test/fixtures/function/esm-with-falsy-esmodule/_config.js
  packages/commonjs/test/fixtures/function/esm-with-falsy-esmodule/esm.js
  packages/commonjs/test/fixtures/function/esm-with-falsy-esmodule/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/snapshots/test.js.md
  packages/commonjs/test/snapshots/test.js.snap
Owners: @shellscape

fix(commonjs): fix error when bundle contains require() of module with falsy `__esModule` export (#1850)
  packages/commonjs/src/helpers.js
  packages/commonjs/test/fixtures/function/esm-with-falsy-esmodule/_config.js
  packages/commonjs/test/fixtures/function/esm-with-falsy-esmodule/esm.js
  packages/commonjs/test/fixtures/function/esm-with-falsy-esmodule/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/snapshots/test.js.md
  packages/commonjs/test/snapshots/test.js.snap
Owners: @shellscape

chore(release): commonjs v28.0.3
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

test: add type tests
  packages/node-resolve/test/types.ts
Owners: @tjenkinson

fix(node-resolve): add `ignoreSideEffectsForRoot` to exported interface (#1841)
  packages/node-resolve/README.md
  packages/node-resolve/test/types.ts
  packages/node-resolve/types/index.d.ts
Owners: @tjenkinson

chore(release): node-resolve v16.0.1
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

Add extensions option to load JSON files with custom extensions
  packages/json/README.md
  packages/json/src/index.js
  packages/json/test/fixtures/custom-file-extension/config.customjson
  packages/json/test/fixtures/custom-file-extension/main.js
  packages/json/test/test.js
  packages/json/types/index.d.ts
Owners: @shellscape
