Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi

chore(release): commonjs v28.0.1
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

fix: update
  packages/node-resolve/src/index.js
Owners: @tjenkinson

fix(pluginutils): optimize `createFilter` the matching rules when regexp carry flags
  packages/pluginutils/src/createFilter.ts
  packages/pluginutils/test/createFilter.ts
Owners: @shellscape

fix(pluginutils): optimize `createFilter` the matching rules when regexp carry flags
  packages/pluginutils/src/createFilter.ts
  packages/pluginutils/test/createFilter.ts
Owners: @shellscape

test(repo): use relative links in test-typings/node_modules
  packages/alias/test-typings/node_modules/current-package
  packages/auto-install/test-typings/node_modules/current-package
  packages/babel/test-typings/node_modules/current-package
  packages/beep/test-typings/node_modules/current-package
  packages/buble/test-typings/node_modules/current-package
  packages/commonjs/test-typings/node_modules/current-package
  packages/data-uri/test-typings/node_modules/current-package
  packages/dsv/test-typings/node_modules/current-package
  packages/dynamic-import-vars/test-typings/node_modules/current-package
  packages/eslint/test-typings/node_modules/current-package
  packages/esm-shim/test-typings/node_modules/current-package
  packages/graphql/test-typings/node_modules/current-package
  packages/html/test-typings/node_modules/current-package
  packages/image/test-typings/node_modules/current-package
  packages/inject/test-typings/node_modules/current-package
  packages/json/test-typings/node_modules/current-package
  packages/legacy/test-typings/node_modules/current-package
  packages/multi-entry/test-typings/node_modules/current-package
  packages/node-resolve/test-typings/node_modules/current-package
  packages/replace/test-typings/node_modules/current-package
  packages/run/test-typings/node_modules/current-package
  packages/strip/test-typings/node_modules/current-package
  packages/sucrase/test-typings/node_modules/current-package
  packages/swc/test-typings/node_modules/current-package
  packages/terser/test-typings/node_modules/current-package
  packages/typescript/test-typings/node_modules/current-package
  packages/url/test-typings/node_modules/current-package
  packages/virtual/test-typings/node_modules/current-package
  packages/wasm/test-typings/node_modules/current-package
  packages/yaml/test-typings/node_modules/current-package
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(swc): bump (dev-) dependencies
  packages/swc/package.json
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

fix(terser): bump (dev-) dependencies
  packages/terser/package.json
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

Normalize paths at runtime to match glob results
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
  packages/dynamic-import-vars/src/index.js
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.md
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.snap
  packages/dynamic-import-vars/test/src/dynamic-import-to-glob.test.mjs
Owners: @shellscape

Adjust after prettier
  packages/dynamic-import-vars/src/index.js
Owners: @shellscape

Handle nesting better
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.md
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.snap
  packages/dynamic-import-vars/test/src/dynamic-import-to-glob.test.mjs
Owners: @shellscape

Fix lint
  packages/dynamic-import-vars/test/src/dynamic-import-to-glob.test.mjs
Owners: @shellscape

Account for minification
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
  packages/dynamic-import-vars/src/index.js
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.md
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.snap
Owners: @shellscape

Fix variable name
  packages/dynamic-import-vars/src/index.js
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.md
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.snap
Owners: @shellscape

fix(pluginutils): upgrade picomatch
  packages/pluginutils/package.json
  pnpm-lock.yaml
Owners: @shellscape

chore(dynamic-import-vars): revert 2.1.4 changes
  packages/dynamic-import-vars/package.json
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
  packages/dynamic-import-vars/src/index.js
  pnpm-lock.yaml
Owners: @shellscape

chore(dynamic-import-vars): revert 2.1.4 changes (#1799)
  packages/dynamic-import-vars/package.json
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
  packages/dynamic-import-vars/src/index.js
  pnpm-lock.yaml
Owners: @shellscape

chore(release): dynamic-import-vars v2.1.5
  packages/dynamic-import-vars/CHANGELOG.md
  packages/dynamic-import-vars/package.json
Owners: @shellscape

fix types
  packages/pluginutils/src/attachScopes.ts
  packages/pluginutils/types/index.d.ts
Owners: @shellscape

dedupe @types/estree as much as possible
  pnpm-lock.yaml
Owners: @shellscape

fix(estree-walker): bump estree-walker to v3
  packages/commonjs/package.json
  packages/dynamic-import-vars/package.json
  packages/inject/package.json
  packages/pluginutils/package.json
  packages/strip/package.json
  pnpm-lock.yaml
Owners: @shellscape

migrate tests that depend on estree-walker to ESM
  packages/commonjs/test/fixtures/samples/caching/rollupWorker.js
  packages/commonjs/test/form.mjs
  packages/commonjs/test/function.mjs
  packages/commonjs/test/helpers/util.mjs
  packages/commonjs/test/node_modules/current-package
  packages/commonjs/test/snapshots/function.mjs.md
  packages/commonjs/test/snapshots/function.mjs.snap
  packages/commonjs/test/snapshots/test.mjs.md
  packages/commonjs/test/snapshots/test.mjs.snap
  packages/commonjs/test/test.mjs
  packages/dynamic-import-vars/test/rollup-plugin-dynamic-import-vars.test.mjs
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.mjs.md
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.mjs.snap
  packages/inject/test/node_modules/current-package
  packages/inject/test/snapshots/test.mjs.md
  packages/inject/test/snapshots/test.mjs.snap
  packages/inject/test/test.mjs
Owners: @shellscape

fix(typescript): fix path validation issue in validatePaths function
  packages/typescript/src/options/validate.ts
Owners: @shellscape

fix(typescript): adding test
  packages/typescript/test/test.js
Owners: @shellscape

fix(pluginutils): upgrade picomatch (#1796)
  packages/pluginutils/package.json
  pnpm-lock.yaml
Owners: @shellscape

chore(release): pluginutils v5.1.3
  packages/pluginutils/CHANGELOG.md
  packages/pluginutils/package.json
Owners: @shellscape

fix(typescript): fix path validation issue in validatePaths function
  packages/typescript/src/options/validate.ts
Owners: @shellscape

fix(typescript): fix path validation issue in validatePaths function
  packages/typescript/src/options/validate.ts
Owners: @shellscape

chore: Formatting
  packages/typescript/src/options/validate.ts
Owners: @shellscape

docs(commonjs): `output.exports` recommendation also applies to IIFE
  packages/commonjs/README.md
Owners: @shellscape

Refactor readTsConfigFile to fully resolve nested "extends" properties
  packages/typescript/src/options/tsconfig.ts
Owners: @shellscape

Adds a smoke test to verify inheritance of "module" and "moduleResolution" from extended config
  packages/typescript/test/fixtures/tsconfig-extends/ts-config-extends-inherit-module-settings/main.tsx
  packages/typescript/test/fixtures/tsconfig-extends/ts-config-extends-inherit-module-settings/tsconfig.base.json
  packages/typescript/test/fixtures/tsconfig-extends/ts-config-extends-inherit-module-settings/tsconfig.json
  packages/typescript/test/test.js
Owners: @shellscape

Revert "Adds a smoke test to verify inheritance of "module" and "moduleResolution" from extended config"
  packages/typescript/test/fixtures/tsconfig-extends/ts-config-extends-inherit-module-settings/main.tsx
  packages/typescript/test/fixtures/tsconfig-extends/ts-config-extends-inherit-module-settings/tsconfig.base.json
  packages/typescript/test/fixtures/tsconfig-extends/ts-config-extends-inherit-module-settings/tsconfig.json
  packages/typescript/test/test.js
Owners: @shellscape

Revert "Refactor readTsConfigFile to fully resolve nested "extends" properties"
  packages/typescript/src/options/tsconfig.ts
Owners: @shellscape

Fixing tsconfig file compilerOptions being overridden by default compiler options. Solves #1583
  packages/typescript/src/options/tsconfig.ts
Owners: @shellscape

impl feat
  packages/html/README.md
  packages/html/recipes/external-files/index.js
  packages/html/src/index.ts
  packages/html/test/snapshots/test.js.md
  packages/html/test/snapshots/test.js.snap
  packages/html/test/test.js
  packages/html/types/index.d.ts
Owners: @shellscape

fix(replace): add missing objectGuards option to RollupReplaceOptions
  packages/replace/types/index.d.ts
Owners: @shellscape

fix(replace): add missing types for `objectGuards` option
  packages/replace/test/types.ts
  packages/replace/types/index.d.ts
Owners: @shellscape

fix(replace): ignore values option when pass an empty value
  packages/replace/src/index.js
  packages/replace/test/fixtures/form/observe-plugin-options/_config.js
  packages/replace/test/fixtures/form/observe-plugin-options/input.js
  packages/replace/test/fixtures/form/observe-plugin-options/output.js
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
Owners: @shellscape

feat(node-resolve): set development or production condition
  packages/node-resolve/README.md
  packages/node-resolve/src/index.js
  packages/node-resolve/test/fixtures/dev-prod-conditions.js
  packages/node-resolve/test/fixtures/node_modules/dev-prod-conditions/dev.js
  packages/node-resolve/test/fixtures/node_modules/dev-prod-conditions/index.js
  packages/node-resolve/test/fixtures/node_modules/dev-prod-conditions/package.json
  packages/node-resolve/test/package-entry-points.js
Owners: @tjenkinson

refactor(json): simplify default options handling
  packages/json/src/index.js
Owners: @shellscape
