Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(typescript): rebase sourcemap sources paths when outDir differs from source directory
  packages/typescript/src/outputFile.ts
  packages/typescript/test/fixtures/outdir-outside-source/src/main.ts
  packages/typescript/test/fixtures/outdir-outside-source/tsconfig.json
  packages/typescript/test/fixtures/outdir-with-sourceroot/src/greet.ts
  packages/typescript/test/fixtures/outdir-with-sourceroot/tsconfig.json
  packages/typescript/test/test.js
Owners: @shellscape

chore(deps)!: upgrade serialize-javascript to v7 and node to v20
  packages/terser/package.json
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

fix(typescript): rebase sourcemap sources paths when outDir differs from source directory
  packages/typescript/src/outputFile.ts
  packages/typescript/test/fixtures/outdir-outside-source/my-project-1/src/index.ts
  packages/typescript/test/fixtures/outdir-outside-source/my-project-1/src/nested/test-nested.ts
  packages/typescript/test/fixtures/outdir-outside-source/my-project-1/src/test.ts
  packages/typescript/test/fixtures/outdir-outside-source/my-project-1/tsconfig.json
  packages/typescript/test/test.js
Owners: @shellscape

ci: upgrade node versions to non-end of life
  .github/workflows/node-windows.yml
  .github/workflows/validate.yml
Owners: @shellscape

chore(terser)!: upgrade serialize-javascript to v7 and node to v20 (#1968)
  .github/workflows/node-windows.yml
  .github/workflows/validate.yml
  package.json
  packages/terser/package.json
  pnpm-lock.yaml
Owners: @shellscape, @tada5hi

chore(release): terser v1.0.0
  packages/terser/package.json
Owners: @tada5hi

chore(release): terser v1.0.0
  packages/terser/CHANGELOG.md
Owners: @tada5hi

feat(sucrase): add support for jsxRuntime and other missing Sucrase options (#1961)
  packages/sucrase/README.md
  packages/sucrase/src/index.js
  packages/sucrase/test/fixtures/inject-create-require/main.ts
  packages/sucrase/test/fixtures/jsx-import-source/example.jsx
  packages/sucrase/test/fixtures/jsx-import-source/main.js
  packages/sucrase/test/fixtures/jsx-runtime/example.jsx
  packages/sucrase/test/fixtures/jsx-runtime/main.js
  packages/sucrase/test/fixtures/preserve-dynamic-import/main.js
  packages/sucrase/test/snapshots/test.js.md
  packages/sucrase/test/snapshots/test.js.snap
  packages/sucrase/test/test.js
  packages/sucrase/test/types.ts
  packages/sucrase/types/index.d.ts
Owners: @shellscape

chore(release): sucrase v5.1.0
  packages/sucrase/CHANGELOG.md
  packages/sucrase/package.json
Owners: @shellscape

fix(commonjs): correctly replaces shorthand "global" property in object (#1957)
  packages/commonjs/src/ast-utils.js
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/function/shorthand-global/_config.js
  packages/commonjs/test/fixtures/function/shorthand-global/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

chore(release): commonjs v29.0.1
  packages/commonjs/package.json
Owners: @shellscape

chore(release): commonjs v29.0.1
  packages/commonjs/CHANGELOG.md
Owners: @shellscape

feat(babel)!: improve filtering capability & performance (#1954)
  packages/babel/README.md
  packages/babel/package.json
  packages/babel/src/index.js
  packages/babel/test/as-input-plugin.mjs
  packages/babel/types/index.d.ts
Owners: @Andarist

chore(repo): add `rollup-plugin` keyword in package.json (#1955)
  packages/alias/package.json
  packages/auto-install/package.json
  packages/beep/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/strip/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
Owners: @shellscape, @tada5hi, @tjenkinson

chore(release): babel v7.0.0
  packages/babel/CHANGELOG.md
  packages/babel/package.json
Owners: @Andarist

format files with prettier
  packages/commonjs/src/ast-utils.js
  packages/commonjs/src/generate-exports.js
  packages/commonjs/src/index.js
  packages/commonjs/src/proxies.js
  packages/commonjs/src/resolve-require-sources.js
  packages/commonjs/src/transform-commonjs.js
  packages/dynamic-import-vars/test/rollup-plugin-dynamic-import-vars.test.js
Owners: @shellscape

chore(repo): migration from ava to vitest. phase 1
  .config/vitest.config.mts
  packages/beep/package.json
  packages/beep/test/.snapshots/test.js.snap
  packages/beep/test/test.js
  packages/buble/package.json
  packages/buble/test/test.js
  packages/data-uri/package.json
  packages/data-uri/test/.snapshots/test.mjs.snap
  packages/data-uri/test/test.mjs
  packages/dsv/package.json
  packages/dsv/test/test.js
  packages/eslint/package.json
  packages/eslint/test/test.mjs
  packages/graphql/package.json
  packages/graphql/test/test.js
  packages/graphql/test/test.mjs
  packages/image/package.json
  packages/image/test/.snapshots/test.js.snap
  packages/image/test/test.js
  packages/inject/package.json
  packages/inject/test/.snapshots/test.js.snap
  packages/inject/test/test.js
  packages/legacy/package.json
  packages/legacy/test/test.js
  packages/multi-entry/package.json
  packages/multi-entry/test/test.mjs
  packages/strip/package.json
  packages/strip/test/.snapshots/test.js.snap
  packages/strip/test/test.js
  packages/sucrase/package.json
  packages/sucrase/test/.snapshots/test.js.snap
  packages/sucrase/test/test.js
  packages/swc/package.json
  packages/swc/test/test.js
  packages/virtual/package.json
  packages/virtual/test/test.js
  packages/yaml/package.json
  packages/yaml/test/test.js
  util/vitest-ava-compat.js
Owners: @shellscape, @tjenkinson, @tada5hi

format files with pnpm lint --fix
  packages/commonjs/src/generate-exports.js
  packages/commonjs/src/index.js
  packages/commonjs/src/proxies.js
  packages/commonjs/src/resolve-require-sources.js
  packages/commonjs/src/transform-commonjs.js
  packages/dynamic-import-vars/test/rollup-plugin-dynamic-import-vars.test.js
Owners: @shellscape

test: fix prettier formatting in migrated test files
  packages/data-uri/test/test.mjs
  packages/eslint/test/test.mjs
Owners: @shellscape

test(inject): avoid obsolete win32 snapshot
  packages/inject/test/snapshots/test.js.snap
  packages/inject/test/test.js
Owners: @shellscape

test: skip win32-gated vitest cases
  packages/inject/test/test.js
  packages/sucrase/test/test.js
Owners: @shellscape

fix(typescript): avoid resolving definition files with arbitrary extensions
  packages/typescript/src/index.ts
  packages/typescript/src/outputFile.ts
Owners: @shellscape

build(typescript): bump typescript dev dependency to v5
  packages/typescript/package.json
  packages/typescript/src/index.ts
  packages/typescript/src/options/tsconfig.ts
  packages/typescript/src/watchProgram.ts
  packages/typescript/test/fixtures/nodenext-resolution/tsconfig.json
  packages/typescript/test/test.js
  pnpm-lock.yaml
Owners: @shellscape

test(typescript): add test for arbitrary extensions
  packages/typescript/test/fixtures/arbitrary-dts/main.ts
  packages/typescript/test/fixtures/arbitrary-dts/module.custom
  packages/typescript/test/fixtures/arbitrary-dts/module.d.custom.ts
  packages/typescript/test/fixtures/arbitrary-dts/tsconfig.json
  packages/typescript/test/test.js
Owners: @shellscape

fix(typescript): correct rollup version to match with full releases
  packages/typescript/package.json
  pnpm-lock.yaml
Owners: @shellscape

refactor: reuse code
  packages/typescript/test/declarations.ts
Owners: @shellscape

chore: update .tsbuildinfo
  packages/typescript/test/fixtures/incremental-single/tsconfig.tsbuildinfo
Owners: @shellscape

test(typescript): fix tests related to rollup's new logging
  packages/typescript/test/snapshots/test.js.md
  packages/typescript/test/snapshots/test.js.snap
  packages/typescript/test/snapshots/tslib.ts.md
  packages/typescript/test/snapshots/tslib.ts.snap
  packages/typescript/test/snapshots/warnings.ts.md
  packages/typescript/test/snapshots/warnings.ts.snap
  packages/typescript/test/test.js
Owners: @shellscape

test(typescript): update test to not have declare type
  packages/typescript/test/declarations.ts
Owners: @shellscape

style(typescript): change type to primitive in test
  packages/typescript/test/fixtures/arbitrary-dts/module.d.custom.ts
Owners: @shellscape

test: migrate phase 2 packages from ava to vitest
  .config/vitest.config.mts
  packages/babel/package.json
  packages/babel/test/as-input-plugin.mjs
  packages/babel/test/as-output-plugin.mjs
  packages/dynamic-import-vars/package.json
  packages/dynamic-import-vars/test/rollup-plugin-dynamic-import-vars.test.js
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.snap
  packages/dynamic-import-vars/test/src/dynamic-import-to-glob.test.mjs
  packages/esm-shim/package.json
  packages/esm-shim/test/snapshots/test.js.snap
  packages/esm-shim/test/test.js
  packages/html/package.json
  packages/html/test/snapshots/test.js.snap
  packages/html/test/test.js
  packages/json/package.json
  packages/json/test/snapshots/test.js.snap
  packages/json/test/test.js
  packages/replace/package.json
  packages/replace/test/form.js
  packages/replace/test/function.js
  packages/replace/test/misc.js
  packages/replace/test/snapshots/form.js.snap
  packages/replace/test/snapshots/misc.js.snap
  packages/replace/test/snapshots/sourcemaps.js.snap
  packages/replace/test/sourcemaps.js
  packages/terser/package.json
  packages/terser/test/test.js
  packages/url/package.json
  packages/url/test/snapshots/test.js.snap
  packages/url/test/test.js
  packages/wasm/package.json
  packages/wasm/test/snapshots/test.mjs.snap
  packages/wasm/test/test.mjs
Owners: @shellscape, @Andarist, @tada5hi

chore: update pnpm lockfile for wasm types-registry
  pnpm-lock.yaml
Owners: @shellscape

fix(wasm): remove accidental types-registry dependency
  packages/wasm/package.json
  pnpm-lock.yaml
Owners: @shellscape

test(auto-install,pluginutils,run): migrate phase 3 packages to vitest
  .config/vitest.config.mts
  packages/auto-install/package.json
  packages/auto-install/test/npm-bare.js
  packages/auto-install/test/npm.js
  packages/auto-install/test/pnpm-bare.js
  packages/auto-install/test/pnpm.js
  packages/auto-install/test/snapshots/npm-bare.js.snap
  packages/auto-install/test/snapshots/npm.js.snap
  packages/auto-install/test/yarn-bare.js
  packages/auto-install/test/yarn.js
  packages/pluginutils/package.json
  packages/pluginutils/test/addExtension.ts
  packages/pluginutils/test/attachScopes.ts
  packages/pluginutils/test/createFilter.ts
  packages/pluginutils/test/dataToEsm.ts
  packages/pluginutils/test/extractAssignedNames.ts
  packages/pluginutils/test/filterUtils.ts
  packages/pluginutils/test/makeLegalIdentifier.ts
  packages/pluginutils/test/normalizePath.ts
  packages/run/package.json
  packages/run/test/test.js
Owners: @shellscape

fix(commonjs): conditional exports (#1952)
  packages/commonjs/src/ast-utils.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-conditional/input.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-conditional/output.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-false/input.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-false/output.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-null/input.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-null/output.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-true/input.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-true/output.js
  packages/commonjs/test/fixtures/form/conditional-exports-true-or-conditional/input.js
  packages/commonjs/test/fixtures/form/conditional-exports-true-or-conditional/output.js
Owners: @shellscape

chore(release): commonjs v29.0.2
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore: remove redundant vitest include glob
  .config/vitest.config.mts
Owners: @shellscape

fix: address vitest phase 4 review follow-ups
  packages/commonjs/package.json
  packages/commonjs/test/form.js
  packages/commonjs/test/function.js
  packages/commonjs/test/helpers/ava-assertions.js
  packages/commonjs/test/test-dynamic-require-root-outside-cwd.js
  packages/commonjs/test/test.js
  packages/node-resolve/package.json
  packages/node-resolve/test/browser.js
  packages/node-resolve/test/dedupe-custom.js
  packages/node-resolve/test/dedupe.js
  packages/node-resolve/test/get-package-info.js
  packages/node-resolve/test/helpers/ava-assertions.js
  packages/node-resolve/test/jail.js
  packages/node-resolve/test/only.js
  packages/node-resolve/test/order.js
  packages/node-resolve/test/package-entry-points.js
  packages/node-resolve/test/prefer-builtins.js
  packages/node-resolve/test/root-dir.js
  packages/node-resolve/test/side-effects.mjs
  packages/node-resolve/test/symlinks.js
  packages/node-resolve/test/test.mjs
  packages/typescript/test/declarations.js
  packages/typescript/test/helpers/ava-assertions.js
  packages/typescript/test/helpers/index.js
  packages/typescript/test/test.js
  packages/typescript/test/test.mjs
  packages/typescript/test/tslib.js
  packages/typescript/test/warnings.js
Owners: @shellscape, @tjenkinson

test: fix vitest phase-4 lint and tslib snapshot
  packages/node-resolve/test/side-effects.mjs
  packages/node-resolve/test/test.mjs
  packages/typescript/test/snapshots/tslib.js.snap
  packages/typescript/test/test.mjs
  packages/typescript/test/tslib.js
Owners: @tjenkinson, @shellscape

fix: make #1868 es5-compatible
  packages/commonjs/README.md
  packages/commonjs/src/helpers.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/snapshots/test.js.md
  packages/commonjs/test/snapshots/test.js.snap
Owners: @shellscape

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi
