Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(typescript): avoid resolving definition files with arbitrary extensions
  packages/typescript/src/index.ts
  packages/typescript/src/outputFile.ts
Owners: @shellscape

build(typescript): bump typescript dev dependency to v5
  packages/typescript/package.json
  packages/typescript/src/index.ts
  packages/typescript/src/options/tsconfig.ts
  packages/typescript/src/watchProgram.ts
  packages/typescript/test/fixtures/nodenext-resolution/tsconfig.json
  packages/typescript/test/test.js
  pnpm-lock.yaml
Owners: @shellscape

test(typescript): add test for arbitrary extensions
  packages/typescript/test/fixtures/arbitrary-dts/main.ts
  packages/typescript/test/fixtures/arbitrary-dts/module.custom
  packages/typescript/test/fixtures/arbitrary-dts/module.d.custom.ts
  packages/typescript/test/fixtures/arbitrary-dts/tsconfig.json
  packages/typescript/test/test.js
Owners: @shellscape

fix(typescript): correct rollup version to match with full releases
  packages/typescript/package.json
  packages/typescript/test/declarations.js
  packages/typescript/test/fixtures/incremental-single/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Owners: @shellscape

test(typescript): fix tests related to rollup's new logging
  packages/typescript/test/declarations.js
  packages/typescript/test/snapshots/test.js.snap
  packages/typescript/test/snapshots/tslib.js.snap
  packages/typescript/test/snapshots/warnings.js.snap
  packages/typescript/test/test.js
Owners: @shellscape

style(typescript): change type to primitive in test
  packages/typescript/test/fixtures/arbitrary-dts/module.d.custom.ts
Owners: @shellscape

docs(readme): Update Node version requirement in readme to v20.0.0
  packages/terser/README.md
Owners: @tada5hi

Remove unused peer dependency from pluginutils
  packages/pluginutils/package.json
Owners: @shellscape

chore(repo): Update terser Node version requirement in readme to v20.0.0 (#1982)
  packages/terser/README.md
Owners: @tada5hi

Fix typings to match actual exports. Allows `import { swc } from ...`
  packages/swc/types/index.d.ts
Owners: @tada5hi

feat(babel): add parallel processing via worker threads
  packages/babel/README.md
  packages/babel/package.json
  packages/babel/rollup.config.mjs
  packages/babel/src/index.js
  packages/babel/src/preflightCheck.js
  packages/babel/src/transformCode.js
  packages/babel/src/worker.js
  packages/babel/test/as-input-plugin.mjs
  packages/babel/test/as-output-plugin.mjs
  packages/babel/types/index.d.ts
  pnpm-lock.yaml
Owners: @Andarist, @shellscape

feat(dsv)!: use hook filters
  packages/dsv/package.json
  packages/dsv/src/index.js
Owners: @shellscape

feat(graphql)!: use hook filters
  packages/graphql/package.json
  packages/graphql/src/index.js
Owners: @shellscape

feat(yaml)!: use hook filters
  packages/yaml/README.md
  packages/yaml/package.json
  packages/yaml/src/index.js
  packages/yaml/test/test.js
  pnpm-lock.yaml
Owners: @shellscape

docs(dsv): update Rollup version
  packages/dsv/README.md
Owners: @shellscape

docs(graphql): update Rollup version
  packages/graphql/README.md
Owners: @shellscape

chore(deps)!: upgrade picomatch to v4.0.4
  packages/commonjs/package.json
  packages/pluginutils/package.json
  pnpm-lock.yaml
Owners: @shellscape

use this.warn
  packages/commonjs/src/analyze-exports-lexer.js
Owners: @shellscape

fix: recognize named export
  packages/commonjs/package.json
  packages/commonjs/src/analyze-exports-lexer.js
  packages/commonjs/src/index.js
  packages/commonjs/src/proxies.js
  packages/commonjs/src/transform-commonjs.js
  pnpm-lock.yaml
Owners: @shellscape

add test
  packages/commonjs/test/fixtures/samples/named-cjs-exports/main.cjs
  packages/commonjs/test/test.js
Owners: @shellscape

fix(terser): update serialize-javascript to ^7.0.5
  packages/terser/package.json
Owners: @tada5hi

fix: handle `extensions.length === 0` case
  packages/yaml/src/index.js
Owners: @shellscape

Updated README.md
  README.md
Owners: @shellscape

Changed "official Rollup plugins" to "Rollup official plugins"
  README.md
Owners: @shellscape

ci: declare minimum permissions on PR title workflow
  .github/workflows/pr-title.yml
Owners: @shellscape

feat(pluginutils): add staticBlock(es2022) support
  packages/pluginutils/src/attachScopes.ts
  packages/pluginutils/test/attachScopes.ts
Owners: @shellscape

prettier
  packages/pluginutils/test/attachScopes.ts
Owners: @shellscape

fix(pluginutils): avoid duplicate default export for a 'default' key in dataToEsm
  packages/pluginutils/src/dataToEsm.ts
  packages/pluginutils/test/dataToEsm.ts
Owners: @shellscape

feat(pluginutils): emit ES2015-safe named exports for reserved-word keys in dataToEsm
  packages/pluginutils/src/dataToEsm.ts
  packages/pluginutils/test/dataToEsm.ts
Owners: @shellscape

feat(pluginutils): named exports for reserved-word keys + fix duplicate default export in dataToEsm (#2002)
  packages/pluginutils/src/dataToEsm.ts
  packages/pluginutils/test/dataToEsm.ts
Owners: @shellscape

chore(release): pluginutils v5.4.0
  packages/pluginutils/CHANGELOG.md
  packages/pluginutils/package.json
Owners: @shellscape

chore: kick github ui for workflows
  packages/commonjs/package.json
Owners: @shellscape

fix(commonjs): make #1868 es5-compatible (#1981)
  packages/commonjs/README.md
  packages/commonjs/src/helpers.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/snapshots/test.js.md
  packages/commonjs/test/snapshots/test.js.snap
Owners: @shellscape

chore(release): commonjs v29.0.3
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

feat(babel): add parallel processing via worker threads (#1956)
  packages/babel/README.md
  packages/babel/package.json
  packages/babel/rollup.config.mjs
  packages/babel/src/index.js
  packages/babel/src/preflightCheck.js
  packages/babel/src/transformCode.js
  packages/babel/src/worker.js
  packages/babel/test/as-input-plugin.mjs
  packages/babel/test/as-output-plugin.mjs
  packages/babel/types/index.d.ts
  pnpm-lock.yaml
Owners: @Andarist, @shellscape

chore(release): babel v7.1.0
  packages/babel/CHANGELOG.md
  packages/babel/package.json
Owners: @Andarist

fix(swc): fix typings to match actual exports (#1985)
  packages/swc/types/index.d.ts
Owners: @tada5hi

chore(release): swc v0.4.1
  packages/swc/CHANGELOG.md
  packages/swc/package.json
Owners: @tada5hi

chore(repo): repair bad CHANGELOG merges
  packages/pluginutils/CHANGELOG.md
  packages/swc/CHANGELOG.md
Owners: @shellscape, @tada5hi

perf(yaml)!: use hook filters (#1996)
  packages/yaml/README.md
  packages/yaml/package.json
  packages/yaml/src/index.js
  packages/yaml/test/test.js
  pnpm-lock.yaml
Owners: @shellscape

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi
