Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi

fix(terser): always make at least 1 worker thread (https://github.com/rollup/plugins/issues/1594)
  packages/terser/src/worker-pool.ts
  packages/terser/test/test.js
Owners: @tada5hi

fix(commonjs,dynamic-import-vars,esm-shim,inject,replace,strip): bump magic-string version (#1596)
  packages/commonjs/package.json
  packages/dynamic-import-vars/package.json
  packages/esm-shim/package.json
  packages/inject/package.json
  packages/replace/package.json
  packages/strip/package.json
  pnpm-lock.yaml
Owners: @shellscape, @tada5hi

chore(release): commonjs v25.0.7
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore(release): dynamic-import-vars v2.0.7
  packages/dynamic-import-vars/CHANGELOG.md
  packages/dynamic-import-vars/package.json
Owners: @shellscape

chore(release): esm-shim v0.1.4
  packages/esm-shim/CHANGELOG.md
  packages/esm-shim/package.json
Owners: @tada5hi

chore(release): inject v5.0.5
  packages/inject/CHANGELOG.md
  packages/inject/package.json
Owners: @shellscape

chore(release): replace v5.0.4
  packages/replace/CHANGELOG.md
  packages/replace/package.json
Owners: @shellscape

chore(release): strip v3.0.4
  packages/strip/CHANGELOG.md
  packages/strip/package.json
Owners: @shellscape

chore(release): strip v3.0.4
  packages/strip/CHANGELOG.md
  packages/strip/package.json
Owners: @shellscape

chore(repo): use versioner for releases
  package.json
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/beep/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/strip/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
  pnpm-lock.yaml
  scripts/publish.js
  scripts/release.ts
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

Add test for throwing if there are no files found
  packages/dynamic-import-vars/test/fixtures/fixture-no-files.js
  packages/dynamic-import-vars/test/rollup-plugin-dynamic-import-vars.test.js
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.md
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.snap
Owners: @shellscape

Throw error if no files were found
  packages/dynamic-import-vars/src/index.js
Owners: @shellscape

update error message with more context
  packages/dynamic-import-vars/src/index.js
  packages/dynamic-import-vars/test/rollup-plugin-dynamic-import-vars.test.js
Owners: @shellscape

chore(repo): use `@dot/versioner` for releases (#1612)
  package.json
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/beep/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/strip/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
  pnpm-lock.yaml
  scripts/publish.js
  scripts/release.ts
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

chore: update readme and types
  packages/dynamic-import-vars/README.md
  packages/dynamic-import-vars/types/index.d.ts
Owners: @shellscape

feat(dynamic-import-vars): Error when files not found (#1611)
  .github/workflows/release.yml
  package.json
  packages/dynamic-import-vars/README.md
  packages/dynamic-import-vars/src/index.js
  packages/dynamic-import-vars/test/fixtures/fixture-no-files.js
  packages/dynamic-import-vars/test/rollup-plugin-dynamic-import-vars.test.js
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.md
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.snap
  packages/dynamic-import-vars/types/index.d.ts
  pnpm-lock.yaml
Owners: @shellscape

chore(release): dynamic-import-vars v2.1.0
  packages/dynamic-import-vars/CHANGELOG.md
  packages/dynamic-import-vars/package.json
Owners: @shellscape

fix(commonjs): replace top-level this with exports name
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/function/this/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

fix(replace): prevent variable before colons from being replaced when preventAssigment is true (#1609)
  packages/replace/src/index.js
  packages/replace/test/fixtures/form/typescript-declare/_config.js
  packages/replace/test/fixtures/form/typescript-declare/input.ts
  packages/replace/test/fixtures/form/typescript-declare/output.ts
  packages/replace/test/form.js
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
Owners: @shellscape

chore(release): replace v5.0.5
  packages/replace/CHANGELOG.md
  packages/replace/package.json
Owners: @shellscape

style: apply prettier rules for dsv package.json
  packages/dsv/package.json
Owners: @shellscape

fix: bump swc to 1.3.85 to avoid error on test pipeline
  packages/swc/package.json
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

feat(repo): set min node engine version to v18
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/beep/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/strip/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix: set revert changes to wasm plugin
  packages/wasm/package.json
Owners: @shellscape

build: bump @swc/core to 1.3.90
  packages/swc/package.json
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

build: set wasm node engine version to v18
  packages/wasm/package.json
Owners: @shellscape

chore(repo): pr title check should use valid regex
  .github/workflows/pr-title.yml
Owners: @shellscape

fix(esm-shim): use 'node:' prefix for build in module imports
  packages/esm-shim/src/constants.ts
Owners: @tada5hi

fix(esm-shim): Update snapshots
  packages/esm-shim/test/snapshots/test.js.md
  packages/esm-shim/test/snapshots/test.js.snap
Owners: @tada5hi

feat(swc): allow passing env property as option
  packages/swc/src/module.ts
  packages/swc/test/test.js
Owners: @tada5hi

refactor(esm-shim): use prefix for build in module imports (#1622)
  packages/esm-shim/src/constants.ts
  packages/esm-shim/test/snapshots/test.js.md
  packages/esm-shim/test/snapshots/test.js.snap
Owners: @tada5hi

chore(release): esm-shim v0.1.5
  packages/esm-shim/CHANGELOG.md
  packages/esm-shim/package.json
Owners: @tada5hi

allow no files error to be emitted as warning
  packages/dynamic-import-vars/README.md
  packages/dynamic-import-vars/src/index.js
  packages/dynamic-import-vars/test/rollup-plugin-dynamic-import-vars.test.js
Owners: @shellscape

feat(swc): allow passing `env` property as option (#1624)
  packages/swc/src/module.ts
  packages/swc/test/test.js
Owners: @tada5hi

chore(release): swc v0.3.0
  packages/swc/CHANGELOG.md
  packages/swc/package.json
Owners: @tada5hi

refactor(replace): remove duplicate code in renderChunk and transform
  packages/replace/src/index.js
Owners: @shellscape

doc(pluginutils): correct the return type of createFilter
  packages/pluginutils/README.md
Owners: @shellscape

feat(alias): add warning to avoid unintended duplicate modules
  packages/alias/src/index.ts
  packages/alias/test/fixtures/folder/warn-importee.js
  packages/alias/test/fixtures/warn.js
  packages/alias/test/test.mjs
Owners: @shellscape

feat(pluginutils): add `namedExports: 'include-arbitrary-name'` to `dataToEsm`
  packages/pluginutils/src/dataToEsm.ts
  packages/pluginutils/test/dataToEsm.ts
  packages/pluginutils/types/index.d.ts
Owners: @shellscape

test: normalize slash
  packages/alias/test/test.mjs
Owners: @shellscape
