Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(pluginutils): only normalize/parse patterns once in createFilter
  packages/pluginutils/src/createFilter.ts
Owners: @shellscape

docs(typescript): note default node_modules exclusion when allowJs expands include
  packages/typescript/README.md
Owners: @shellscape

refactor(typescript): centralize temp outDir cleanup into a helper
  packages/typescript/src/index.ts
Owners: @shellscape

refactor(typescript): unify program close + temp outDir cleanup via helper
  packages/typescript/src/index.ts
Owners: @shellscape

chore(release): typescript v12.2.0
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

test(typescript): close bundle in new watch-mode transformer test; refactor customTransformers for clearer lazy initialization
  packages/typescript/src/customTransformers.ts
  packages/typescript/test/test.js
Owners: @shellscape

test(typescript): add watch-mode test for typeChecker factories; tidy emitted-file cleanup in program test
  packages/typescript/test/test.js
Owners: @shellscape

test(typescript): add legacy-behavior regression and format via ESLint
  packages/typescript/README.md
  packages/typescript/src/options/plugin.ts
  packages/typescript/test/test.js
  packages/typescript/types/index.d.ts
Owners: @shellscape

docs(typescript): clarify getProgram getter semantics; fix typos in README (its/TypeScript factory, below)
  packages/typescript/README.md
Owners: @shellscape

chore(release): typescript v12.3.0
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

chore(alias): address review feedback\n\n- tests: close Rollup bundle in helper to avoid leaks/flakes\n- types: narrow MapToFunction to explicit callable form (avoid global Function)
  packages/alias/src/index.ts
  packages/alias/test/alias.test.ts
Owners: @shellscape

merge: resolve conflicts in alias types/tests; adopt robust bundle close in tests
  .config/tsconfig.plugin.json
  packages/alias/src/index.ts
  packages/alias/test/alias.test.ts
Owners: @shellscape

chore(repo): use .mts for shared Vitest config; update alias test script/docs
  .config/vitest.config.mts
  .github/CONTRIBUTING.md
  packages/alias/package.json
Owners: @shellscape

chore(alias): fix ci:test to use Vitest reporter instead of unsupported --verbose
  packages/alias/package.json
Owners: @shellscape

fix(commonjs): handle `node:` builtins correctly with `strictRequires: auto`
  packages/commonjs/src/resolve-require-sources.js
  packages/commonjs/test/fixtures/function/strict-requires-auto-external-node-builtin/_config.js
  packages/commonjs/test/fixtures/function/strict-requires-auto-external-node-builtin/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

fix(commonjs): handle `node:` builtins with `strictRequires: auto` (#1930)
  packages/commonjs/src/resolve-require-sources.js
  packages/commonjs/test/fixtures/function/strict-requires-auto-external-node-builtin/_config.js
  packages/commonjs/test/fixtures/function/strict-requires-auto-external-node-builtin/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

chore(release): commonjs v28.0.9
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

feat(commonjs): add 'externalBuiltinsRequire' option to stub node: builtins proxy for edge runtimes; keep default as 'create-require' (#1924)
  packages/commonjs/README.md
  packages/commonjs/src/index.js
  packages/commonjs/src/proxies.js
  packages/commonjs/test/fixtures/function/module-side-effects-external-node-builtin-wrapped-stub/_config.js
  packages/commonjs/test/fixtures/function/module-side-effects-external-node-builtin-wrapped-stub/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/types/index.d.ts
Owners: @shellscape

chore(commonjs): validate externalBuiltinsRequire option value and tidy stub message
  packages/commonjs/src/index.js
  packages/commonjs/src/proxies.js
Owners: @shellscape

test(commonjs): call stub fixture to ensure external built-in proxy is emitted; update snapshots
  packages/commonjs/test/fixtures/function/module-side-effects-external-node-builtin-wrapped-stub/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

test(commonjs): document expected stub throw; align snapshots
  packages/commonjs/test/fixtures/function/module-side-effects-external-node-builtin-wrapped-stub/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

fix(terser): upgrade serialize-javascript
  packages/terser/package.json
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

feat(eslint): add support for ESLint v9 (#1905)
  package.json
  packages/eslint/package.json
  packages/eslint/test/fixtures/flat-config/eslint.config.mjs
  packages/eslint/test/test.mjs
  pnpm-lock.yaml
Owners: @shellscape

chore(release): eslint v9.2.0
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Owners: @shellscape

fix(replace): use shell-emulator for better cross-platform compatibility
  .npmrc
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/strip/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

chore(repo) remove del-cli dependency and use cross-platform rm -rf
  package.json
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
  pnpm-lock.yaml
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

chore(repo): use pnpm catalog for TypeScript and align alias (typescript -> catalog:)
  .config/tsconfig.plugin.json
  package.json
  packages/alias/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @shellscape

chore(repo): use pnpm catalog for TypeScript in root package.json
  package.json
  pnpm-lock.yaml
Owners: @shellscape

chore(release): alias v6.0.0
  packages/alias/CHANGELOG.md
  packages/alias/package.json
Owners: @shellscape

chore(repo): add ESM-only upgrade playbook for plugin packages\n\nRefs #1933
  .charlie/playbooks/upgrade-plugin-to-esm-only.md
Owners: @shellscape

docs(playbook): map exports via '.' and add tsconfig symlink step
  .charlie/playbooks/upgrade-plugin-to-esm-only.md
Owners: @shellscape

docs(playbook): always publish source maps; drop .npmignore/disable-map guidance
  .charlie/playbooks/upgrade-plugin-to-esm-only.md
Owners: @shellscape

chore(repo): regenerate pnpm lockfile via pnpm i
  pnpm-lock.yaml
Owners: @shellscape

test(auto-install): make yarn tests resilient to Corepack by pre-creating local package.json with Yarn v1
  packages/auto-install/test/yarn-bare.test.ts
  packages/auto-install/test/yarn.test.ts
Owners: @shellscape

test(auto-install): skip tests on Node <20.19 to align with engines; avoid Windows CI failures
  packages/auto-install/test/fixtures/yarn/yarn.lock
  packages/auto-install/test/npm-bare.test.ts
  packages/auto-install/test/npm.test.ts
  packages/auto-install/test/pnpm-bare.test.ts
  packages/auto-install/test/pnpm.test.ts
  packages/auto-install/test/yarn-bare.test.ts
  packages/auto-install/test/yarn.test.ts
  pnpm-lock.yaml
Owners: @shellscape

fix(replace): update delimiters to respect valid js identifier chars
  packages/replace/README.md
  packages/replace/src/index.js
  packages/replace/test/fixtures/form/dollar-sign-boundary/_config.js
  packages/replace/test/fixtures/form/dollar-sign-boundary/input.js
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
Owners: @shellscape

chore(repo): restore pnpm-lock.yaml to pre-change state
  pnpm-lock.yaml
Owners: @shellscape

test(auto-install): dynamically import plugin and use fileURLToPath; gate tests by engines to avoid Node 18 CI failures
  packages/auto-install/test/npm-bare.test.ts
  packages/auto-install/test/npm.test.ts
  packages/auto-install/test/pnpm-bare.test.ts
  packages/auto-install/test/pnpm.test.ts
  packages/auto-install/test/yarn-bare.test.ts
  packages/auto-install/test/yarn.test.ts
  pnpm-lock.yaml
Owners: @shellscape

chore(repo): restore pnpm-lock.yaml (lockfile v9) from 1696370
  pnpm-lock.yaml
Owners: @shellscape

test: update snapshots
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
Owners: @shellscape

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi
