Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

feat(eslint): add support for flat configs
  .eslintignore
  packages/eslint/.eslintignore
  packages/eslint/package.json
  packages/eslint/src/index.ts
  packages/eslint/test/fixtures/flat-config/eslint.config.js
  packages/eslint/test/fixtures/flat-config/undeclared.js
  packages/eslint/test/fixtures/legacy-config/.eslintrc-babel
  packages/eslint/test/fixtures/legacy-config/.eslintrc.js
  packages/eslint/test/fixtures/legacy-config/fixable.js
  packages/eslint/test/fixtures/legacy-config/fixed.js
  packages/eslint/test/fixtures/legacy-config/ignored.js
  packages/eslint/test/fixtures/legacy-config/modules.js
  packages/eslint/test/fixtures/legacy-config/node_modules/mod/index.js
  packages/eslint/test/fixtures/legacy-config/undeclared.js
  packages/eslint/test/fixtures/legacy-config/use-strict.js
  packages/eslint/test/test.mjs
  pnpm-lock.yaml
Owners: @shellscape

feat(eslint): add support for flat configs (#1898)
  .eslintignore
  packages/eslint/.eslintignore
  packages/eslint/package.json
  packages/eslint/src/index.ts
  packages/eslint/test/fixtures/flat-config/eslint.config.js
  packages/eslint/test/fixtures/flat-config/undeclared.js
  packages/eslint/test/fixtures/legacy-config/.eslintrc-babel
  packages/eslint/test/fixtures/legacy-config/.eslintrc.js
  packages/eslint/test/fixtures/legacy-config/fixable.js
  packages/eslint/test/fixtures/legacy-config/fixed.js
  packages/eslint/test/fixtures/legacy-config/ignored.js
  packages/eslint/test/fixtures/legacy-config/modules.js
  packages/eslint/test/fixtures/legacy-config/node_modules/mod/index.js
  packages/eslint/test/fixtures/legacy-config/undeclared.js
  packages/eslint/test/fixtures/legacy-config/use-strict.js
  packages/eslint/test/test.mjs
  pnpm-lock.yaml
Owners: @shellscape

chore(release): eslint v9.1.0
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Owners: @shellscape

bump workflows
  packages/multi-entry/test/test.mjs
Owners: @shellscape

undo bump change
  packages/multi-entry/test/test.mjs
Owners: @shellscape

fix(node-resolve): error thrown with empty entry (#1893)
  packages/node-resolve/src/index.js
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

feat(multi-entry)!: ensure deterministic order (#1879)
  packages/multi-entry/src/index.js
  packages/multi-entry/test/test.mjs
Owners: @shellscape

chore(release): node-resolve v16.0.2
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

chore(release): multi-entry v7.0.0
  packages/multi-entry/CHANGELOG.md
  packages/multi-entry/package.json
Owners: @shellscape

perf: replace startsWith with strict equality
  packages/commonjs/src/dynamic-modules.js
  packages/commonjs/src/resolve-id.js
  packages/commonjs/src/resolve-require-sources.js
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
  packages/node-resolve/src/package/resolvePackageImports.ts
  packages/node-resolve/src/package/utils.ts
  packages/node-resolve/src/resolveImportSpecifiers.js
  packages/node-resolve/src/util.js
Owners: @shellscape, @tjenkinson

ci: use node 22/24
  .github/workflows/node-windows.yml
Owners: @shellscape

bump ci
  packages/json/README.md
Owners: @shellscape

chore(repo): add explicit eslint dependency
  package.json
  pnpm-lock.yaml
Owners: @shellscape

fix(matched): replace matched with glob
  packages/multi-entry/package.json
  packages/multi-entry/src/index.js
  pnpm-lock.yaml
Owners: @shellscape

fix(eslint): switch flat config to .mjs in test
  packages/eslint/test/fixtures/flat-config/eslint.config.mjs
Owners: @shellscape

feat(eslint): add support for ESLint v9
  packages/eslint/package.json
  packages/eslint/test/test.mjs
  pnpm-lock.yaml
Owners: @shellscape

feat(babel): add includeChunks/excludeChunks to filter generated-code transforms by manual chunk name; docs + tests
  packages/babel/README.md
  packages/babel/src/index.js
  packages/babel/test/as-output-plugin.mjs
  packages/babel/types/index.d.ts
Owners: @Andarist

chore(release): node-resolve v16.0.3
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

feat(babel): add includeChunks/excludeChunks to filter generated-code transforms by manual chunk name; docs + tests
  packages/babel/README.md
  packages/babel/src/index.js
  packages/babel/test/as-output-plugin.mjs
  packages/babel/types/index.d.ts
Owners: @Andarist

chore(babel): fix lint in as-output-plugin test (avoid explicit undefined; disable consistent-return for manualChunks)
  packages/babel/test/as-output-plugin.mjs
Owners: @Andarist

ci(workflows): avoid 'git pull' divergence error; use explicit fetch refspecs and default_branch; update Windows to windows-latest
  .github/workflows/node-windows.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
Owners: @shellscape

chore(babel): remove superfluous "new:" inline comment in options destructure
  packages/babel/src/index.js
Owners: @Andarist

chore(release): babel v6.1.0
  packages/babel/CHANGELOG.md
  packages/babel/package.json
Owners: @Andarist

fix(commonjs): avoid hoisting dynamically required node: builtins under strictRequires
  packages/commonjs/src/index.js
  packages/commonjs/src/proxies.js
  packages/commonjs/src/resolve-require-sources.js
  packages/commonjs/test/fixtures/function/strict-requires-external-node-builtin/_config.js
  packages/commonjs/test/fixtures/function/strict-requires-external-node-builtin/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

style(commonjs): inline node: builtin check per review (no single-use var)
  packages/commonjs/src/index.js
Owners: @shellscape

chore(repo): add PR authoring instructions under .charlie/instructions
  .charlie/instructions/pull-requests.md
Owners: @shellscape

chore(release): commonjs v28.0.7
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

Update resolve-require-sources.js
  packages/commonjs/src/resolve-require-sources.js
Owners: @shellscape

test(commonjs): add regression for wrapped external Node built-ins under strictRequires
  packages/commonjs/test/fixtures/function/module-side-effects-external-node-builtin-wrapped/_config.js
  packages/commonjs/test/fixtures/function/module-side-effects-external-node-builtin-wrapped/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

chore(release): commonjs v28.0.8
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

squashed
  packages/multi-entry/package.json
  packages/multi-entry/rollup.config.mjs
  packages/multi-entry/src/index.js
  packages/multi-entry/src/index.ts
  packages/multi-entry/src/utils.ts
  packages/multi-entry/test/test.mjs
  packages/multi-entry/types/index.d.ts
  pnpm-lock.yaml
Owners: @shellscape

feat(multi-entry): support watch mode (#1883)
  packages/multi-entry/package.json
  packages/multi-entry/rollup.config.mjs
  packages/multi-entry/src/index.js
  packages/multi-entry/src/index.ts
  packages/multi-entry/src/utils.ts
  packages/multi-entry/test/test.mjs
  packages/multi-entry/types/index.d.ts
  pnpm-lock.yaml
Owners: @shellscape

chore(release): multi-entry v7.1.0
  packages/multi-entry/CHANGELOG.md
  packages/multi-entry/package.json
Owners: @shellscape

feat(pluginutils): add `createHookFilter()`
  packages/pluginutils/README.md
  packages/pluginutils/src/createFilter.ts
  packages/pluginutils/src/index.ts
  packages/pluginutils/test/createFilter.ts
  packages/pluginutils/types/index.d.ts
Owners: @shellscape

feat(pluginutils): add `createHookFilter()`
  packages/pluginutils/README.md
  packages/pluginutils/src/createFilter.ts
  packages/pluginutils/src/index.ts
  packages/pluginutils/test/createFilter.ts
  packages/pluginutils/types/index.d.ts
Owners: @shellscape

fix(typescript): use path.relative for robust outDir containment check
  packages/typescript/src/index.ts
Owners: @shellscape

test(typescript): add regression ensuring user-configured outDir is excluded with allowJs
  packages/typescript/test/test.js
Owners: @shellscape

test(typescript): harden user outDir exclusion test (robust path check, guaranteed cleanup)
  packages/typescript/test/test.js
Owners: @shellscape

test(typescript): make isInside helper treat equal path as inside; mirror plugin containment semantics
  packages/typescript/test/test.js
Owners: @shellscape

test(typescript): remove REBUILD_WITH_WATCH_OFF from incremental-watch-off fixture
  packages/typescript/test/fixtures/incremental-watch-off/main.ts
Owners: @shellscape

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi
