Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi

add info about moduleSideEffects in resolved object
  packages/node-resolve/README.md
Owners: @tjenkinson

fix(esm-shim): correctly find where to place shim in file
  packages/esm-shim/src/utils.ts
Owners: @tada5hi

test(esm-shim): add test cases for files with esm imports
  packages/esm-shim/test/fixtures/cjs-multiple-imports.js
  packages/esm-shim/test/fixtures/cjs-single-import.js
  packages/esm-shim/test/snapshots/test.js.md
  packages/esm-shim/test/snapshots/test.js.snap
  packages/esm-shim/test/test.js
Owners: @tada5hi

test(esm-shim): use correct snapshots after linting change
  packages/esm-shim/test/snapshots/test.js.md
  packages/esm-shim/test/snapshots/test.js.snap
Owners: @tada5hi

test(esm-shim): use correct snapshots for testing
  packages/esm-shim/test/snapshots/test.js.md
  packages/esm-shim/test/snapshots/test.js.snap
Owners: @tada5hi

feat(node-resolve): pass original importee to secondary resolve (#1557)
  packages/node-resolve/README.md
  packages/node-resolve/src/index.js
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

chore(release): node-resolve v15.2.0
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

chore(release): node-resolve v15.2.0
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

fix(node-resolve): Implement package exports / imports resolution algorithm according to Node documentation
  packages/node-resolve/README.md
  packages/node-resolve/rollup.config.mjs
  packages/node-resolve/src/fs.ts
  packages/node-resolve/src/index.js
  packages/node-resolve/src/package/resolvePackageExports.js
  packages/node-resolve/src/package/resolvePackageExports.ts
  packages/node-resolve/src/package/resolvePackageImports.ts
  packages/node-resolve/src/package/resolvePackageImportsExports.js
  packages/node-resolve/src/package/resolvePackageImportsExports.ts
  packages/node-resolve/src/package/resolvePackageTarget.js
  packages/node-resolve/src/package/resolvePackageTarget.ts
  packages/node-resolve/src/package/utils.ts
  packages/node-resolve/src/resolveImportSpecifiers.js
  packages/node-resolve/test/fixtures/exports-pattern-extension.js
  packages/node-resolve/test/fixtures/node_modules/exports-pattern-extension/dist/foo.cjs
  packages/node-resolve/test/fixtures/node_modules/exports-pattern-extension/dist/foo.mjs
  packages/node-resolve/test/fixtures/node_modules/exports-pattern-extension/package.json
  packages/node-resolve/test/package-entry-points.js
  packages/node-resolve/types/index.d.ts
Owners: @tjenkinson

Add missing `prepare` script for several packages
  packages/babel/package.json
  packages/data-uri/package.json
  packages/dynamic-import-vars/package.json
  packages/html/package.json
  packages/strip/package.json
Owners: @Andarist, @shellscape

docs(pluginutils): configure correct options
  packages/pluginutils/README.md
Owners: @shellscape

fix(node-resolve): Implement package exports / imports resolution algorithm according to Node documentation (#1549)
  packages/node-resolve/README.md
  packages/node-resolve/rollup.config.mjs
  packages/node-resolve/src/fs.ts
  packages/node-resolve/src/index.js
  packages/node-resolve/src/package/resolvePackageExports.js
  packages/node-resolve/src/package/resolvePackageExports.ts
  packages/node-resolve/src/package/resolvePackageImports.ts
  packages/node-resolve/src/package/resolvePackageImportsExports.js
  packages/node-resolve/src/package/resolvePackageImportsExports.ts
  packages/node-resolve/src/package/resolvePackageTarget.js
  packages/node-resolve/src/package/resolvePackageTarget.ts
  packages/node-resolve/src/package/utils.ts
  packages/node-resolve/src/resolveImportSpecifiers.js
  packages/node-resolve/test/fixtures/exports-pattern-extension.js
  packages/node-resolve/test/fixtures/node_modules/exports-pattern-extension/dist/foo.cjs
  packages/node-resolve/test/fixtures/node_modules/exports-pattern-extension/dist/foo.mjs
  packages/node-resolve/test/fixtures/node_modules/exports-pattern-extension/package.json
  packages/node-resolve/test/package-entry-points.js
  packages/node-resolve/types/index.d.ts
Owners: @tjenkinson

chore(release): node-resolve v15.2.1
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

chore(release): node-resolve v15.2.1
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

feat(swc): allow input files to be filtered
  packages/swc/package.json
  packages/swc/src/module.ts
  packages/swc/src/type.ts
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

fix: set autoInstallPeers to false
  pnpm-lock.yaml
Owners: @shellscape

build: change pnpm version to v7
  pnpm-lock.yaml
Owners: @shellscape

style: applied prettier rules
  packages/swc/package.json
Owners: @tada5hi

docs(pluginutils): configure correct options (#1563)
  packages/pluginutils/README.md
Owners: @shellscape

chore(release): pluginutils v5.0.4
  packages/pluginutils/CHANGELOG.md
  packages/pluginutils/package.json
Owners: @shellscape

chore(release): pluginutils v5.0.4
  packages/pluginutils/CHANGELOG.md
  packages/pluginutils/package.json
Owners: @shellscape

chore(repo): add missing `prepare` script for several packages (#1562)
  packages/babel/package.json
  packages/data-uri/package.json
  packages/dynamic-import-vars/package.json
  packages/html/package.json
  packages/strip/package.json
Owners: @Andarist, @shellscape

fix(esm-shim): pattern matching (#1560)
  packages/esm-shim/src/utils.ts
  packages/esm-shim/test/fixtures/cjs-multiple-imports.js
  packages/esm-shim/test/fixtures/cjs-single-import.js
  packages/esm-shim/test/snapshots/test.js.md
  packages/esm-shim/test/snapshots/test.js.snap
  packages/esm-shim/test/test.js
Owners: @tada5hi

chore(release): esm-shim v0.1.2
  packages/esm-shim/CHANGELOG.md
  packages/esm-shim/package.json
Owners: @tada5hi

chore(release): esm-shim v0.1.2
  packages/esm-shim/CHANGELOG.md
  packages/esm-shim/package.json
Owners: @tada5hi

fix(typescript): emit declaration files for type-only source files that are not explicitly included (#1555)
  packages/typescript/src/index.ts
  packages/typescript/src/outputFile.ts
  packages/typescript/test/declarations.ts
  packages/typescript/test/fixtures/implicitly-included-type-only-file/main.ts
  packages/typescript/test/fixtures/implicitly-included-type-only-file/should-be-emitted-types.ts
  packages/typescript/test/fixtures/implicitly-included-type-only-file/should-not-be-emitted-types.ts
  packages/typescript/test/fixtures/implicitly-included-type-only-file/tsconfig.json
Owners: @shellscape

chore(release): typescript v11.1.3
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

chore(release): typescript v11.1.3
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

docs: added include + exclude option
  packages/swc/README.md
Owners: @tada5hi

feat(swc): allow input files to be filtered (#1566)
  packages/swc/README.md
  packages/swc/package.json
  packages/swc/src/module.ts
  packages/swc/src/type.ts
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

chore(release): swc v0.2.0
  packages/swc/CHANGELOG.md
  packages/swc/package.json
Owners: @tada5hi

chore(release): swc v0.2.0
  packages/swc/CHANGELOG.md
  packages/swc/package.json
Owners: @tada5hi

chore(repo): update to pnpm v8
  .github/workflows/node-windows.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  pnpm-lock.yaml
Owners: @shellscape

test(typescript): add test case for incorrect `sourceContent`
  packages/typescript/test/test.js
Owners: @shellscape

fix(typescript): fix .js.map files being treated as declarations
  packages/typescript/src/index.ts
  packages/typescript/src/outputFile.ts
Owners: @shellscape

build(ci): fix build with pnpm v8
  .github/workflows/node-windows.yml
  .github/workflows/pr-title.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
Owners: @shellscape

build(ci): remove unneeded master branch manual checkout
  .github/workflows/node-windows.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
Owners: @shellscape

build(ci): order release workeflow as the validate one
  .github/workflows/release.yml
  .github/workflows/validate.yml
Owners: @shellscape

build(ci): spell fix
  .github/workflows/release.yml
Owners: @shellscape

build(repo): ensure .nvmrc reference a working node version
  .nvmrc
Owners: @shellscape
