Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi

test(commonjs): add failing test for dynamicRequireRoot outside cwd
  packages/commonjs/test/fixtures/samples/dynamic-require-root-outside-cwd/cwd/main.js
  packages/commonjs/test/fixtures/samples/dynamic-require-root-outside-cwd/outer.js
  packages/commonjs/test/test-dynamic-require-root-outside-cwd.js
Owners: @shellscape

fix(commonjs): dynamicRequireRoot outside cwd
  packages/commonjs/src/dynamic-modules.js
Owners: @shellscape

feat(pluginutils): add `exactRegex` and `prefixRegex`
  packages/pluginutils/README.md
  packages/pluginutils/src/filterUtils.ts
  packages/pluginutils/src/index.ts
  packages/pluginutils/test/filterUtils.ts
  packages/pluginutils/types/index.d.ts
Owners: @shellscape

Fix to commonjs plugin when calling getAugmentedNamespace on bind
  packages/commonjs/README.md
  packages/commonjs/src/helpers.js
  packages/commonjs/test/fixtures/samples/bind/dep.js
  packages/commonjs/test/fixtures/samples/bind/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/snapshots/test.js.md
  packages/commonjs/test/snapshots/test.js.snap
  packages/commonjs/test/test.js
Owners: @shellscape

[WIP] refactor: add hook filter
  packages/yaml/package.json
  packages/yaml/src/index.js
  packages/yaml/test/test.js
Owners: @shellscape

fix(commonjs): fix crash with invalidated proxy modules
  packages/commonjs/src/resolve-require-sources.js
  packages/commonjs/test/test.js
Owners: @shellscape

fix(commonjs): try/catch instanceof in getAugmentedNamespace (#1868)
  packages/commonjs/README.md
  packages/commonjs/src/helpers.js
  packages/commonjs/test/fixtures/samples/bind/dep.js
  packages/commonjs/test/fixtures/samples/bind/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/snapshots/test.js.md
  packages/commonjs/test/snapshots/test.js.snap
  packages/commonjs/test/test.js
Owners: @shellscape

chore(release): commonjs v28.0.4
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

fix(commonjs): crawl dynamicRequireRoot outside cwd (#1859)
  packages/commonjs/src/dynamic-modules.js
  packages/commonjs/test/fixtures/samples/dynamic-require-root-outside-cwd/cwd/main.js
  packages/commonjs/test/fixtures/samples/dynamic-require-root-outside-cwd/outer.js
  packages/commonjs/test/test-dynamic-require-root-outside-cwd.js
Owners: @shellscape

chore(release): commonjs v28.0.5
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

fix(commonjs): fix crash with invalidated proxy modules (#1876)
  packages/commonjs/src/resolve-require-sources.js
  packages/commonjs/test/test.js
Owners: @shellscape

chore(release): commonjs v28.0.6
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

feat(pluginutils): add `exactRegex` and `prefixRegex` (#1865)
  packages/pluginutils/README.md
  packages/pluginutils/src/filterUtils.ts
  packages/pluginutils/src/index.ts
  packages/pluginutils/test/filterUtils.ts
  packages/pluginutils/types/index.d.ts
Owners: @shellscape

chore(release): pluginutils v5.2.0
  packages/pluginutils/CHANGELOG.md
  packages/pluginutils/package.json
Owners: @shellscape

fix(typescript): fixes #1652 compile when source exists anywhere in the working directory (#1653)
  packages/typescript/src/index.ts
  packages/typescript/test/fixtures/with-invalid-sources-inside-cwd/invalid.ts
  packages/typescript/test/fixtures/with-invalid-sources-inside-cwd/main.ts
  packages/typescript/test/fixtures/with-invalid-sources-inside-cwd/valid.ts
  packages/typescript/test/test.js
  packages/typescript/test/tslib.ts
Owners: @shellscape

chore(release): typescript v12.1.3
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

reorder
  packages/json/README.md
  packages/json/types/index.d.ts
Owners: @shellscape

feat: ensure multi-entry is deterministic
  packages/multi-entry/src/index.js
  packages/multi-entry/test/test.mjs
Owners: @shellscape

revert(typescript): reverts #1653
  packages/typescript/src/index.ts
  packages/typescript/test/fixtures/included-declarations/declarations.d.ts
  packages/typescript/test/fixtures/included-declarations/main.ts
  packages/typescript/test/fixtures/included-declarations/tsconfig.json
  packages/typescript/test/fixtures/with-invalid-sources-inside-cwd/invalid.ts
  packages/typescript/test/fixtures/with-invalid-sources-inside-cwd/main.ts
  packages/typescript/test/fixtures/with-invalid-sources-inside-cwd/valid.ts
  packages/typescript/test/test.js
  packages/typescript/test/tslib.ts
Owners: @shellscape

fix(typescript): revert #1653 (#1880)
  packages/typescript/src/index.ts
  packages/typescript/test/fixtures/included-declarations/declarations.d.ts
  packages/typescript/test/fixtures/included-declarations/main.ts
  packages/typescript/test/fixtures/included-declarations/tsconfig.json
  packages/typescript/test/fixtures/with-invalid-sources-inside-cwd/invalid.ts
  packages/typescript/test/fixtures/with-invalid-sources-inside-cwd/main.ts
  packages/typescript/test/fixtures/with-invalid-sources-inside-cwd/valid.ts
  packages/typescript/test/test.js
  packages/typescript/test/tslib.ts
Owners: @shellscape

chore(release): typescript v12.1.4
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

feat(multi-entry): support watch mode
  packages/multi-entry/package.json
  packages/multi-entry/rollup.config.mjs
  packages/multi-entry/src/index.js
  packages/multi-entry/src/index.ts
  packages/multi-entry/types/index.d.ts
  pnpm-lock.yaml
Owners: @shellscape

feat(multi-entry): support watch mode
  packages/multi-entry/src/index.ts
  packages/multi-entry/src/utils.ts
  packages/multi-entry/test/test.mjs
Owners: @shellscape

wip
  .eslintrc.js
  packages/wasm/exports.wat
  packages/wasm/src/index.ts
  packages/wasm/test/fixtures/jsapi/exports.tentative.any.js
  packages/wasm/test/fixtures/jsapi/global-exports-live-bindings.tentative.any.js
  packages/wasm/test/fixtures/jsapi/global-exports.tentative.any.js
  packages/wasm/test/fixtures/jsapi/js-wasm-cycle.tentative.any.js
  packages/wasm/test/fixtures/jsapi/mutable-global-sharing.tentative.any.js
  packages/wasm/test/fixtures/jsapi/namespace-instance.tentative.any.js
  packages/wasm/test/fixtures/jsapi/reserved-import-names.tentative.any.js
  packages/wasm/test/fixtures/jsapi/resolve-export.tentative.any.js
  packages/wasm/test/fixtures/jsapi/resources/dep.wasm
  packages/wasm/test/fixtures/jsapi/resources/exports.wasm
  packages/wasm/test/fixtures/jsapi/resources/globals.js
  packages/wasm/test/fixtures/jsapi/resources/globals.wasm
  packages/wasm/test/fixtures/jsapi/resources/invalid-export-name-wasm-js.wasm
  packages/wasm/test/fixtures/jsapi/resources/invalid-export-name.wasm
  packages/wasm/test/fixtures/jsapi/resources/invalid-import-module.wasm
  packages/wasm/test/fixtures/jsapi/resources/invalid-import-name-wasm-js.wasm
  packages/wasm/test/fixtures/jsapi/resources/invalid-import-name.wasm
  packages/wasm/test/fixtures/jsapi/resources/js-string-builtins.wasm
  packages/wasm/test/fixtures/jsapi/resources/js-wasm-cycle.js
  packages/wasm/test/fixtures/jsapi/resources/js-wasm-cycle.wasm
  packages/wasm/test/fixtures/jsapi/resources/log.js
  packages/wasm/test/fixtures/jsapi/resources/mutable-global-export.wasm
  packages/wasm/test/fixtures/jsapi/resources/mutable-global-reexport.wasm
  packages/wasm/test/fixtures/jsapi/resources/resolve-export.js
  packages/wasm/test/fixtures/jsapi/resources/resolve-export.wasm
  packages/wasm/test/fixtures/jsapi/resources/wasm-export-to-wasm.wasm
  packages/wasm/test/fixtures/jsapi/resources/wasm-import-from-wasm.wasm
  packages/wasm/test/fixtures/jsapi/source-phase-string-builtins.tentative.any.js
  packages/wasm/test/fixtures/jsapi/source-phase.tentative.any.js
  packages/wasm/test/fixtures/jsapi/string-builtins.tentative.any.js
  packages/wasm/test/fixtures/jsapi/v128-tdz.tentative.any.js
  packages/wasm/test/fixtures/jsapi/wasm-import-wasm-export.tentative.any.js
  packages/wasm/test/test.mjs
Owners: @shellscape

wip2
  packages/wasm/globals.wasm
  packages/wasm/package.json
  packages/wasm/src/helper.ts
  packages/wasm/src/index.ts
  packages/wasm/test/fixtures/async.js
  packages/wasm/test/fixtures/jsapi/exports.tentative.any.js
  packages/wasm/test/fixtures/jsapi/global-exports-live-bindings.tentative.any.js
  packages/wasm/test/fixtures/jsapi/global-exports.tentative.any.js
  packages/wasm/test/fixtures/jsapi/js-wasm-cycle.tentative.any.js
  packages/wasm/test/fixtures/jsapi/mutable-global-sharing.tentative.any.js
  packages/wasm/test/fixtures/jsapi/namespace-instance.tentative.any.js
  packages/wasm/test/fixtures/jsapi/resources/exports.wasm
  packages/wasm/test/fixtures/jsapi/source-phase-string-builtins.tentative.any.js
  packages/wasm/test/fixtures/jsapi/source-phase.tentative.any.js
  packages/wasm/test/fixtures/jsapi/string-builtins.tentative.any.js
  packages/wasm/test/fixtures/jsapi/v128-tdz.tentative.any.js
  packages/wasm/test/fixtures/jsapi/wasm-import-wasm-export.tentative.any.js
  packages/wasm/test/test.mjs
  pnpm-lock.yaml
  shared/tsconfig.json
Owners: @shellscape

feat(pluginutils): add `suffixRegex` & support multiple string
  packages/pluginutils/README.md
  packages/pluginutils/src/filterUtils.ts
  packages/pluginutils/src/index.ts
  packages/pluginutils/test/filterUtils.ts
  packages/pluginutils/types/index.d.ts
Owners: @shellscape

chore: update
  packages/pluginutils/README.md
Owners: @shellscape

test(commonjs): top-level `this` behavior in cjs module when `option.context` is defined
  packages/commonjs/test/fixtures/function/toplevel-this-wont-affected-by-option-context/_config.js
  packages/commonjs/test/fixtures/function/toplevel-this-wont-affected-by-option-context/foo.js
  packages/commonjs/test/fixtures/function/toplevel-this-wont-affected-by-option-context/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

refactor(commonjs): update comment to clarify top-level `this` rewrite
  packages/commonjs/src/transform-commonjs.js
Owners: @shellscape

bump babel deps to 8.0.0-beta.1
  packages/babel/package.json
  pnpm-lock.yaml
Owners: @Andarist, @shellscape

migrate test fixture Babel configs to Babel 8
  packages/babel/test/as-input-plugin.mjs
  packages/babel/test/as-output-plugin.mjs
  packages/babel/test/fixtures/.babelrc
  packages/babel/test/fixtures/class-loose/.babelrc
  packages/babel/test/fixtures/external-helpers/.babelrc
  packages/babel/test/fixtures/ignored-file/.babelrc
  packages/babel/test/fixtures/proposal-decorators/.babelrc
  packages/babel/test/fixtures/runtime-helpers-builtins/.babelrc
  packages/babel/test/fixtures/runtime-helpers-esm/.babelrc
  packages/babel/test/fixtures/runtime-helpers/.babelrc
Owners: @Andarist

update runtime-related output
  packages/babel/test/as-input-plugin.mjs
  packages/babel/test/as-output-plugin.mjs
Owners: @Andarist

prettier
  packages/babel/test/as-input-plugin.mjs
  packages/babel/test/as-output-plugin.mjs
Owners: @Andarist

Fix error thrown with empty entry while using node-resolve plugin
  packages/node-resolve/src/index.js
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

Clean up test syntax
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

chore(repo): update commonjs comment to clarify top-level `this` rewrite (#1888)
  packages/commonjs/src/transform-commonjs.js
Owners: @shellscape

feat(pluginutils): add `suffixRegex` & support multiple string (#1886)
  packages/pluginutils/README.md
  packages/pluginutils/src/filterUtils.ts
  packages/pluginutils/src/index.ts
  packages/pluginutils/test/filterUtils.ts
  packages/pluginutils/types/index.d.ts
Owners: @shellscape

chore(release): pluginutils v5.3.0
  packages/pluginutils/CHANGELOG.md
  packages/pluginutils/package.json
Owners: @shellscape

Formatting
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

fix(matched): replace matched with glob
  packages/multi-entry/package.json
  packages/multi-entry/src/index.js
  pnpm-lock.yaml
Owners: @shellscape
