Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi

chore(release): commonjs v25.0.0
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

prettier
  packages/yaml/src/index.js
Owners: @shellscape

add tests for extensions option
  packages/yaml/test/test.js
Owners: @shellscape

feat(yaml): support specifying custom file extensions (#1445)
  packages/yaml/src/index.js
  packages/yaml/test/test.js
Owners: @shellscape

chore(release): yaml v4.1.0
  packages/yaml/CHANGELOG.md
  packages/yaml/package.json
Owners: @shellscape

chore(release): yaml v4.1.0
  packages/yaml/CHANGELOG.md
  packages/yaml/package.json
Owners: @shellscape

fix(terser): don't assume code is running in worker created by the worker pool (#1483)
  packages/terser/src/constants.ts
  packages/terser/src/worker-pool.ts
  packages/terser/src/worker.ts
Owners: @tada5hi

chore(release): terser v0.4.2
  packages/terser/CHANGELOG.md
  packages/terser/package.json
Owners: @tada5hi

chore(release): terser v0.4.2
  packages/terser/CHANGELOG.md
  packages/terser/package.json
Owners: @tada5hi

feat(node-resolve): Resolve js/jsx/mjs/cjs imports from TypeScript files
  packages/node-resolve/src/index.js
  packages/node-resolve/test/fixtures/ts-import-cjs-extension/import-ts-with-cjs-extension.ts
  packages/node-resolve/test/fixtures/ts-import-cjs-extension/main.cts
  packages/node-resolve/test/fixtures/ts-import-mjs-extension/import-ts-with-mjs-extension.ts
  packages/node-resolve/test/fixtures/ts-import-mjs-extension/main.mts
  packages/node-resolve/test/fixtures/tsx-import-js-extension/MyComponent.tsx
  packages/node-resolve/test/fixtures/tsx-import-js-extension/import-tsx-with-js-extension.ts
  packages/node-resolve/test/fixtures/tsx-import-jsx-extension/MyComponent.tsx
  packages/node-resolve/test/fixtures/tsx-import-jsx-extension/import-tsx-with-jsx-extension.ts
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

fix(esm-shim): bump dependencies
  packages/esm-shim/package.json
  packages/esm-shim/src/utils.ts
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

fix(swc): bump dependencies
  packages/swc/package.json
  packages/swc/src/module.ts
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

fix(terser): bump dependencies
  packages/terser/package.json
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

fix(terser): bump dependencies (#1501)
  packages/terser/package.json
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

chore(release): terser v0.4.3
  packages/terser/CHANGELOG.md
  packages/terser/package.json
Owners: @tada5hi

chore(release): terser v0.4.3
  packages/terser/CHANGELOG.md
  packages/terser/package.json
Owners: @tada5hi

fix(swc): bump dependencies (#1500)
  packages/swc/package.json
  packages/swc/src/module.ts
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

chore(release): swc v0.1.1
  packages/swc/CHANGELOG.md
  packages/swc/package.json
Owners: @tada5hi

chore(release): swc v0.1.1
  packages/swc/CHANGELOG.md
  packages/swc/package.json
Owners: @tada5hi

fix(esm-shim): access sourcesContent instead of sources property
  packages/esm-shim/src/utils.ts
Owners: @tada5hi

fix(esm-shim): bump dependencies (#1499)
  packages/esm-shim/package.json
  packages/esm-shim/src/utils.ts
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

chore(release): esm-shim v0.1.1
  packages/esm-shim/CHANGELOG.md
  packages/esm-shim/package.json
Owners: @tada5hi

chore(release): esm-shim v0.1.1
  packages/esm-shim/CHANGELOG.md
  packages/esm-shim/package.json
Owners: @tada5hi

add extensions?: string[] to RollupYamlOptions
  packages/yaml/types/index.d.ts
Owners: @shellscape

fix(commonjs): add classBodyDepth flag
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/function/this/foo.js
  packages/commonjs/test/fixtures/function/this/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

fix(commonjs): change dynamicRequireRoot to normalizedDynamicRequireRoot && tweak related tests
  packages/commonjs/src/index.js
  packages/commonjs/test/test.js
Owners: @shellscape

feat(node-resolve): Resolve js/jsx/mjs/cjs imports from TypeScript files (#1498)
  packages/node-resolve/src/index.js
  packages/node-resolve/test/fixtures/ts-import-cjs-extension/import-ts-with-cjs-extension.ts
  packages/node-resolve/test/fixtures/ts-import-cjs-extension/main.cts
  packages/node-resolve/test/fixtures/ts-import-mjs-extension/import-ts-with-mjs-extension.ts
  packages/node-resolve/test/fixtures/ts-import-mjs-extension/main.mts
  packages/node-resolve/test/fixtures/tsx-import-js-extension/MyComponent.tsx
  packages/node-resolve/test/fixtures/tsx-import-js-extension/import-tsx-with-js-extension.ts
  packages/node-resolve/test/fixtures/tsx-import-jsx-extension/MyComponent.tsx
  packages/node-resolve/test/fixtures/tsx-import-jsx-extension/import-tsx-with-jsx-extension.ts
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

chore(release): node-resolve v15.1.0
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

chore(release): node-resolve v15.1.0
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

feat: raw svg support in image plugin
  packages/image/src/index.js
  packages/image/test/snapshots/test.js.md
  packages/image/test/snapshots/test.js.snap
  packages/image/test/test.js
  packages/image/types/index.d.ts
Owners: @tjenkinson

test extension option in yaml/test/types.ts
  packages/yaml/test/types.ts
Owners: @shellscape

fix(commonjs): change dynamicRequireRoot to normalizedDynamicRequireRoot && tweak related tests (#1508)
  packages/commonjs/src/index.js
  packages/commonjs/test/test.js
Owners: @shellscape

chore(release): commonjs v25.0.1
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore(release): commonjs v25.0.1
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore: add tips for issue numbers in pr template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @shellscape

Update README.md adding an note on sourcemaps
  packages/typescript/README.md
Owners: @shellscape

fix(typescript): change the value of isExternalLibraryImport to false if the resolvedModule should be compiled
  packages/typescript/src/index.ts
  packages/typescript/src/moduleResolution.ts
  packages/typescript/test/fixtures/external-library-import/main.ts
  packages/typescript/test/fixtures/external-library-import/node_modules/dep.ts
  packages/typescript/test/fixtures/external-library-import/tsconfig.json
  packages/typescript/test/test.js
Owners: @shellscape

fix(commonjs): add classBodyDepth flag (#1507)
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/function/this/foo.js
  packages/commonjs/test/fixtures/function/this/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

chore(release): commonjs v25.0.2
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore(release): commonjs v25.0.2
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape
