Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(node-resolve): bump is-builtin-module version, imports with a trailing slash (#1424)
  packages/node-resolve/package.json
  packages/node-resolve/test/fixtures/prefer-local.js
  packages/node-resolve/test/prefer-builtins.js
  pnpm-lock.yaml
Owners: @tjenkinson, @shellscape

chore(release): node-resolve v15.0.2
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

chore(release): node-resolve v15.0.2
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

feat(typescript): write declaration files in configured directory for `output.file` (#1378)
  packages/typescript/README.md
  packages/typescript/package.json
  packages/typescript/src/index.ts
  packages/typescript/test/test.js
  pnpm-lock.yaml
  util/test.d.ts
  util/test.js
Owners: @shellscape

chore(release): typescript v11.1.0
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
  packages/typescript/test/fixtures/incremental-single/tsconfig.tsbuildinfo
Owners: @shellscape

chore(release): typescript v11.1.0
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
  packages/typescript/test/fixtures/incremental-single/tsconfig.tsbuildinfo
Owners: @shellscape

make yaml plugin extensions configurable
  packages/yaml/src/index.js
Owners: @shellscape

docs(wasm): Fix typo in README
  packages/wasm/README.md
Owners: @shellscape

fix(node-resolve): Resolve all combinations of .ts/.tsx imported as .js
  packages/node-resolve/src/index.js
  packages/node-resolve/test/fixtures/ts-import-js-extension/MyComponent.tsx
  packages/node-resolve/test/fixtures/ts-import-js-extension/import-tsx-with-js-extension.ts
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

fix(typescript): Allow for using `compilerOptions.moduleResolution`
  packages/typescript/src/options/tsconfig.ts
Owners: @shellscape

fix(typescript): Add test for setting moduleResolution
  packages/typescript/test/fixtures/nodenext-module/index.ts
  packages/typescript/test/fixtures/nodenext-module/node_modules/foo/index.d.cts
  packages/typescript/test/fixtures/nodenext-module/node_modules/foo/index.d.ts
  packages/typescript/test/fixtures/nodenext-module/node_modules/foo/index.js
  packages/typescript/test/fixtures/nodenext-module/node_modules/foo/package.json
  packages/typescript/test/fixtures/nodenext-module/package.json
  packages/typescript/test/fixtures/nodenext-module/tsconfig.json
  packages/typescript/test/fixtures/nodenext-resolution/node_modules/foo/dist/index.js
  packages/typescript/test/fixtures/nodenext-resolution/node_modules/foo/package.json
  packages/typescript/test/fixtures/nodenext-resolution/node_modules/foo/types/index.d.cts
  packages/typescript/test/fixtures/nodenext-resolution/node_modules/foo/types/index.d.ts
  packages/typescript/test/fixtures/nodenext-resolution/tsconfig.json
  packages/typescript/test/test.js
Owners: @shellscape

test(commonjs): attempt 2 at having tests not fail in CI
  packages/commonjs/src/index.js
  packages/commonjs/test/test.js
Owners: @shellscape

test: 1st try at the test
  packages/commonjs/test/test.js
Owners: @shellscape

test(commonjs): the dynamic root must ignore conflicting backslashes
  packages/commonjs/src/index.js
  packages/commonjs/test/test.js
Owners: @shellscape

test(commonjs): added a test specifically for Windows
  packages/commonjs/test/test.js
Owners: @shellscape

fix(terser): expose extended terser options interface
  packages/terser/types/index.d.ts
Owners: @tada5hi

fix(esm-shim,swc,terser): bump version of dependencies
  packages/esm-shim/package.json
  packages/swc/package.json
  packages/swc/src/module.ts
  packages/terser/package.json
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

fix(esm-shim): filter source map content for non string values
  packages/esm-shim/src/utils.ts
Owners: @tada5hi

fix(esm-shim): ensure source map content is present
  packages/esm-shim/src/utils.ts
Owners: @tada5hi

Update README.md
  packages/wasm/README.md
Owners: @shellscape

fix(terser): expose extended terser options interface (#1477)
  packages/terser/types/index.d.ts
Owners: @tada5hi

chore(release): terser v0.4.1
  packages/terser/CHANGELOG.md
  packages/terser/package.json
Owners: @tada5hi

chore(release): terser v0.4.1
  packages/terser/CHANGELOG.md
  packages/terser/package.json
Owners: @tada5hi

chore(release): commonjs v24.1.0
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore(release): commonjs v24.1.0
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

fix(terser): don't assume code is running in worker created by the worker pool
  packages/terser/src/constants.ts
  packages/terser/src/worker-pool.ts
  packages/terser/src/worker.ts
Owners: @tada5hi

sort imports
  packages/terser/src/worker-pool.ts
Owners: @tada5hi

docs(plugin-eslint): typo in readme
  packages/eslint/README.md
Owners: @shellscape

Update type of processRow option to DVS
  packages/dsv/types/index.d.ts
Owners: @shellscape

docs(eslint): typo in readme (#1486)
  packages/eslint/README.md
Owners: @shellscape

chore(release): eslint v9.0.4
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Owners: @shellscape

chore(release): eslint v9.0.4
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Owners: @shellscape

docs(wasm): Fix typo in README (#1473)
  packages/wasm/README.md
Owners: @shellscape

chore(release): wasm v6.1.3
  packages/wasm/CHANGELOG.md
  packages/wasm/package.json
Owners: @shellscape

chore(release): wasm v6.1.3
  packages/wasm/CHANGELOG.md
  packages/wasm/package.json
Owners: @shellscape

fix(typescript): Allow for using `compilerOptions.moduleResolution` (#1453)
  packages/typescript/src/options/tsconfig.ts
  packages/typescript/test/fixtures/nodenext-module/index.ts
  packages/typescript/test/fixtures/nodenext-module/node_modules/foo/index.d.cts
  packages/typescript/test/fixtures/nodenext-module/node_modules/foo/index.d.ts
  packages/typescript/test/fixtures/nodenext-module/node_modules/foo/index.js
  packages/typescript/test/fixtures/nodenext-module/node_modules/foo/package.json
  packages/typescript/test/fixtures/nodenext-module/package.json
  packages/typescript/test/fixtures/nodenext-module/tsconfig.json
  packages/typescript/test/fixtures/nodenext-resolution/node_modules/foo/dist/index.js
  packages/typescript/test/fixtures/nodenext-resolution/node_modules/foo/package.json
  packages/typescript/test/fixtures/nodenext-resolution/node_modules/foo/types/index.d.cts
  packages/typescript/test/fixtures/nodenext-resolution/node_modules/foo/types/index.d.ts
  packages/typescript/test/fixtures/nodenext-resolution/tsconfig.json
  packages/typescript/test/test.js
Owners: @shellscape

chore(release): typescript v11.1.1
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

chore(release): typescript v11.1.1
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

fix(commonjs)!: dynamic require root check was broken in some cases (#1461)
  packages/commonjs/src/index.js
  packages/commonjs/test/helpers/util.js
  packages/commonjs/test/test.js
Owners: @shellscape

chore(release): commonjs v25.0.0
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi
