Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(replace): update delimiters to respect valid js identifier chars (#1938)
  packages/replace/README.md
  packages/replace/src/index.js
  packages/replace/test/fixtures/form/dollar-sign-boundary/_config.js
  packages/replace/test/fixtures/form/dollar-sign-boundary/input.js
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
Owners: @shellscape

chore(release): replace v6.0.3
  packages/replace/CHANGELOG.md
  packages/replace/package.json
Owners: @shellscape

feat(commonjs)!: revert #1909 and add `requireNodeBuiltins` option (#1937)
  packages/commonjs/README.md
  packages/commonjs/src/index.js
  packages/commonjs/src/resolve-require-sources.js
  packages/commonjs/test/fixtures/function/module-side-effects-external-node-builtin-wrapped-default/_config.js
  packages/commonjs/test/fixtures/function/module-side-effects-external-node-builtin-wrapped-default/main.js
  packages/commonjs/test/fixtures/function/module-side-effects-external-node-builtin-wrapped/_config.js
  packages/commonjs/test/fixtures/function/strict-requires-auto-external-node-builtin-default/_config.js
  packages/commonjs/test/fixtures/function/strict-requires-auto-external-node-builtin-default/main.js
  packages/commonjs/test/fixtures/function/strict-requires-external-node-builtin-default/_config.js
  packages/commonjs/test/fixtures/function/strict-requires-external-node-builtin-default/main.js
  packages/commonjs/test/fixtures/function/strict-requires-external-node-builtin/_config.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/types/index.d.ts
Owners: @shellscape

chore(release): commonjs v29.0.0
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore(auto-install): narrow Rollup peer range to ^4
  packages/auto-install/package.json
Owners: @shellscape

chore(repo): restore pnpm-lock.yaml (v9) and keep fixture lockfiles local
  pnpm-lock.yaml
Owners: @shellscape

test(auto-install): mirror alias package setup; map ~package to dist and add yarn fixture
  .config/vitest.config.mts
  packages/auto-install/src/index.ts
  packages/auto-install/test/fixtures/yarn/.gitkeep
  pnpm-lock.yaml
Owners: @shellscape

test(auto-install): extend timeout and tune npm env for npm* tests to avoid CI timeouts
  packages/auto-install/test/npm-bare.test.ts
  packages/auto-install/test/npm.test.ts
Owners: @shellscape

test(auto-install): scope npm env tweaks to test body and restore via try/finally
  packages/auto-install/test/npm-bare.test.ts
  packages/auto-install/test/npm.test.ts
Owners: @shellscape

refactor(auto-install): restore defaults pattern for option handling
  packages/auto-install/src/index.ts
Owners: @shellscape

fix(auto-install): use 'pnpm add' for installing new deps
  packages/auto-install/src/index.ts
Owners: @shellscape

refactor(auto-install): restore const defaults (incl. commands); allow test override via options
  packages/auto-install/src/index.ts
Owners: @shellscape

refactor(auto-install): compute pkgFile after merge; keep defaults independent of opts
  packages/auto-install/src/index.ts
Owners: @shellscape

refactor(auto-install): derive validManagers from options.commands keys
  packages/auto-install/src/index.ts
Owners: @shellscape

chore(auto-install): remove over-strict 'satisfies' on options; simplify typing
  packages/auto-install/src/index.ts
Owners: @shellscape

fix(typescript): avoid resolving definition files with arbitrary extensions
  packages/typescript/src/index.ts
  packages/typescript/src/outputFile.ts
Owners: @shellscape

chore(repo): convert test.js to test-helper.ts
  util/test.d.ts
  util/test.ts
Owners: @shellscape

fix(repo): remove Rollup type dependency from shared test helper
  .eslintignore
  packages/typescript/test/tslib.ts
  util/test.js
  util/test.ts
Owners: @shellscape

add some failing fixture tests
  packages/commonjs/test/fixtures/form/conditional-exports-or-conditional/input.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-conditional/output.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-false/input.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-false/output.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-null/input.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-null/output.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-true/input.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-true/output.js
  packages/commonjs/test/fixtures/form/conditional-exports-true-or-conditional/input.js
  packages/commonjs/test/fixtures/form/conditional-exports-true-or-conditional/output.js
Owners: @shellscape

fix conditional check bug
  packages/commonjs/src/ast-utils.js
Owners: @shellscape

feat(babel): improve filtering capability & performance
  packages/babel/README.md
  packages/babel/package.json
  packages/babel/src/index.js
  packages/babel/test/as-input-plugin.mjs
  packages/babel/types/index.d.ts
Owners: @Andarist

feat(babel): add parallel processing via worker threads
  packages/babel/README.md
  packages/babel/rollup.config.mjs
  packages/babel/src/index.js
  packages/babel/src/preflightCheck.js
  packages/babel/src/transformCode.js
  packages/babel/src/worker.js
  packages/babel/src/workerPool.js
  packages/babel/test/as-input-plugin.mjs
  packages/babel/types/index.d.ts
Owners: @Andarist

Correctly replaces shorthand "global" property in object
  packages/commonjs/src/ast-utils.js
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/function/shorthand-global/_config.js
  packages/commonjs/test/fixtures/function/shorthand-global/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

build(typescript): bump typescript dev dependency to v5
  packages/typescript/package.json
  packages/typescript/src/index.ts
  packages/typescript/src/options/tsconfig.ts
  packages/typescript/src/watchProgram.ts
  packages/typescript/test/fixtures/nodenext-resolution/tsconfig.json
  packages/typescript/test/test.js
  pnpm-lock.yaml
Owners: @shellscape

test(typescript): add test for arbitrary extensions
  packages/typescript/test/fixtures/arbitrary-dts/main.ts
  packages/typescript/test/fixtures/arbitrary-dts/module.custom
  packages/typescript/test/fixtures/arbitrary-dts/module.d.custom.ts
  packages/typescript/test/fixtures/arbitrary-dts/tsconfig.json
  packages/typescript/test/test.js
Owners: @shellscape

fix(commonjs): handle global shorthand property correctly
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/function/shorthand-global/_config.js
  packages/commonjs/test/fixtures/function/shorthand-global/main.js
Owners: @shellscape

fix(terser): bump serialize-javascript, smob & terser
  packages/terser/package.json
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

fix(deps): downgrade serialize-javascript vo v6.0.2
  packages/terser/package.json
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

fix(deps): bump smob to v1.6.1
  packages/terser/package.json
  pnpm-lock.yaml
Owners: @tada5hi, @shellscape

refactor: simplify resolveId and extract getBundle helper in tests
  packages/sucrase/src/index.js
  packages/sucrase/test/snapshots/test.js.md
  packages/sucrase/test/snapshots/test.js.snap
  packages/sucrase/test/test.js
Owners: @shellscape

fix: recognize named export
  packages/commonjs/package.json
  packages/commonjs/src/analyze-exports-lexer.js
  packages/commonjs/src/index.js
  packages/commonjs/src/proxies.js
  packages/commonjs/src/transform-commonjs.js
  pnpm-lock.yaml
Owners: @shellscape

chore(repo): setup for oidc
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Owners: @shellscape

feat(auto-install)!: ESM only. Update Node and Rollup minimum versions
  packages/auto-install/CHANGELOG.md
  packages/auto-install/README.md
  packages/auto-install/package.json
  packages/auto-install/rollup.config.mjs
  packages/auto-install/src/index.ts
  packages/auto-install/test/auto-install.test.ts
  packages/auto-install/test/npm-bare.js
  packages/auto-install/test/npm.js
  packages/auto-install/test/pnpm-bare.js
  packages/auto-install/test/pnpm.js
  packages/auto-install/test/snapshots/npm-bare.js.md
  packages/auto-install/test/snapshots/npm-bare.js.snap
  packages/auto-install/test/snapshots/npm.js.md
  packages/auto-install/test/snapshots/npm.js.snap
  packages/auto-install/test/yarn-bare.js
  packages/auto-install/test/yarn.js
  packages/auto-install/tsconfig.json
  packages/auto-install/types/index.d.ts
  pnpm-lock.yaml
Owners: @shellscape

test: add jsxImportSource assertion for automatic JSX runtime
  packages/sucrase/test/fixtures/jsx-import-source/example.jsx
  packages/sucrase/test/fixtures/jsx-import-source/main.js
  packages/sucrase/test/test.js
Owners: @shellscape

test: add coverage for preserveDynamicImport and injectCreateRequireForImportRequire
  packages/sucrase/test/fixtures/inject-create-require/main.ts
  packages/sucrase/test/fixtures/preserve-dynamic-import/main.js
  packages/sucrase/test/test.js
Owners: @shellscape

test: remove context option from getBundle helper
  packages/sucrase/test/snapshots/test.js.md
  packages/sucrase/test/snapshots/test.js.snap
  packages/sucrase/test/test.js
Owners: @shellscape

refactor: add context this
  packages/sucrase/test/test.js
Owners: @shellscape

test: update snapshots
  packages/sucrase/test/snapshots/test.js.md
  packages/sucrase/test/snapshots/test.js.snap
Owners: @shellscape

fix regression of (condition || true) case
  packages/commonjs/src/ast-utils.js
  packages/commonjs/test/fixtures/form/conditional-exports-or-true/output.js
Owners: @shellscape

feat(babel): improve filtering capability & performance
  packages/babel/README.md
  packages/babel/package.json
  packages/babel/src/index.js
  packages/babel/test/as-input-plugin.mjs
  packages/babel/types/index.d.ts
Owners: @Andarist

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi
