Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi

test: normalize slash correctly
  packages/alias/test/test.mjs
Owners: @shellscape

test: return promise
  packages/alias/test/test.mjs
Owners: @shellscape

fix(dynamic-import-vars): escape special glob characters
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
  packages/dynamic-import-vars/test/src/dynamic-import-to-glob.test.mjs
Owners: @shellscape

Add recommendation for tsconfig.json with TypeScript 5+
  packages/typescript/README.md
Owners: @shellscape

fix(dynamic-import-vars): escape special glob characters (#1636)
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
  packages/dynamic-import-vars/test/src/dynamic-import-to-glob.test.mjs
Owners: @shellscape

chore(release): dynamic-import-vars v2.1.1
  packages/dynamic-import-vars/CHANGELOG.md
  packages/dynamic-import-vars/package.json
Owners: @shellscape

feat(alias): add warning to avoid unintended duplicate modules (#1634)
  packages/alias/src/index.ts
  packages/alias/test/fixtures/folder/warn-importee.js
  packages/alias/test/fixtures/warn.js
  packages/alias/test/test.mjs
Owners: @shellscape

chore(release): alias v5.1.0
  packages/alias/CHANGELOG.md
  packages/alias/package.json
Owners: @shellscape

doc(pluginutils): correct the return type of createFilter (#1633)
  packages/pluginutils/README.md
Owners: @shellscape

missing parenthesis
  packages/commonjs/src/resolve-require-sources.js
Owners: @shellscape

refactor(pluginutils): change to includeArbitraryNames
  packages/pluginutils/README.md
  packages/pluginutils/src/dataToEsm.ts
  packages/pluginutils/test/dataToEsm.ts
  packages/pluginutils/types/index.d.ts
Owners: @shellscape

Update packages/dynamic-import-vars/README.md
  packages/dynamic-import-vars/README.md
Owners: @shellscape

fix(dynamic-import-vars): Allow a "no files found" error to be emitted as warning (#1625)
  packages/dynamic-import-vars/README.md
  packages/dynamic-import-vars/src/index.js
  packages/dynamic-import-vars/test/rollup-plugin-dynamic-import-vars.test.js
Owners: @shellscape

chore(release): dynamic-import-vars v2.1.2
  packages/dynamic-import-vars/CHANGELOG.md
  packages/dynamic-import-vars/package.json
Owners: @shellscape

docs: add options to dataToEsm section
  packages/pluginutils/README.md
Owners: @shellscape

docs: add option description to new option
  packages/pluginutils/types/index.d.ts
Owners: @shellscape

feat(pluginutils): add `includeArbitraryNames: true` to `dataToEsm` (#1635)
  packages/pluginutils/README.md
  packages/pluginutils/src/dataToEsm.ts
  packages/pluginutils/test/dataToEsm.ts
  packages/pluginutils/types/index.d.ts
Owners: @shellscape

chore(release): pluginutils v5.1.0
  packages/pluginutils/CHANGELOG.md
  packages/pluginutils/package.json
Owners: @shellscape

chore(repo): fix scope regex for package release
  package.json
Owners: @shellscape

Fix typo in error message
  packages/alias/src/index.ts
Owners: @shellscape

feat(json): add `includeArbitraryNames` option
  .eslintignore
  packages/json/README.md
  packages/json/package.json
  packages/json/src/index.js
  packages/json/test/fixtures/arbitrary/foo.json
  packages/json/test/fixtures/arbitrary/main.js
  packages/json/test/test.js
  pnpm-lock.yaml
Owners: @shellscape

feat(json): add `includeArbitraryNames` option (#1641)
  .eslintignore
  packages/json/README.md
  packages/json/package.json
  packages/json/src/index.js
  packages/json/test/fixtures/arbitrary/foo.json
  packages/json/test/fixtures/arbitrary/main.js
  packages/json/test/test.js
  pnpm-lock.yaml
Owners: @shellscape

chore(release): json v6.1.0
  packages/json/CHANGELOG.md
  packages/json/package.json
Owners: @shellscape

In certain cirumstances findPackageJson will loop forever.
  packages/node-resolve/src/package/utils.ts
Owners: @tjenkinson

Fix linter issues.
  packages/node-resolve/src/package/utils.ts
Owners: @tjenkinson

Resolve issue #1652
  packages/typescript/src/index.ts
  packages/typescript/test/fixtures/with-invalid-sources-inside-cwd/invalid.ts
  packages/typescript/test/fixtures/with-invalid-sources-inside-cwd/main.ts
  packages/typescript/test/fixtures/with-invalid-sources-inside-cwd/valid.ts
  packages/typescript/test/test.js
  packages/typescript/test/tslib.ts
Owners: @shellscape

fix: Cannot read properties of undefined (reading 'ssr')
  packages/commonjs/src/resolve-require-sources.js
Owners: @shellscape

docs: consistent plugin names
  packages/inject/src/index.js
  packages/pluginutils/README.md
  packages/typescript/README.md
  packages/virtual/package.json
Owners: @shellscape

chore(repo): consistent plugin names in docs (#1657)
  packages/inject/src/index.js
  packages/pluginutils/README.md
  packages/typescript/README.md
  packages/virtual/package.json
Owners: @shellscape

fix(typescript): Ensure rollup 4 compatibility
  packages/typescript/package.json
  pnpm-lock.yaml
Owners: @shellscape

Update package.json
  packages/terser/package.json
Owners: @tada5hi

fix(typescript): Ensure rollup 4 compatibility (#1658)
  packages/typescript/package.json
  pnpm-lock.yaml
Owners: @shellscape

chore(release): typescript v11.1.6
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

test: update different values
  packages/commonjs/test/test.js
Owners: @shellscape

feat(commonjs)!: default strictRequires to true
  packages/commonjs/README.md
  packages/commonjs/src/utils.js
Owners: @shellscape

test: update some tests to use auto
  packages/commonjs/test/fixtures/function/compiled-esm-default-is-module-exports-false/_config.js
  packages/commonjs/test/fixtures/function/expose-file-type-detection/_config.js
  packages/commonjs/test/fixtures/function/module-side-effects-late-entry/_config.js
  packages/commonjs/test/fixtures/function/pass-require-to-node-resolve/_config.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/test.js
Owners: @shellscape

test: adapt assertion
  packages/commonjs/test/test.js
Owners: @shellscape

test: correctly pass options in test
  packages/commonjs/src/resolve-id.js
  packages/commonjs/test/fixtures/function/module-meta-properties/_config.js
  packages/commonjs/test/fixtures/function/pass-require-to-node-resolve/_config.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

fix(commonjs): respect defaultIsModuleExports:false for ES imports from wrapped CommonJS
  packages/commonjs/src/proxies.js
  packages/commonjs/test/fixtures/function/compiled-esm-default-is-module-exports-false/_config.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

test: adapt assertions for wrapped CommonJS
  packages/commonjs/test/fixtures/function/expose-file-type-detection/_config.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape
