Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi

build(ci): fix test run
  .github/workflows/node-windows.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
Owners: @shellscape

build(ci): merge validation in a unique workflow
  .github/workflows/node-windows.yml
  .github/workflows/validate.yml
Owners: @shellscape

fix(repo): plugin type definitions not being exported correctly in ES Module
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/strip/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
  shared/rollup.config.mjs
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

build(ci): revert node 20 support
  .github/workflows/node-windows.yml
  .github/workflows/validate.yml
Owners: @shellscape

refactor(repo): modify the declaration file to be a self-contained
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/strip/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
  shared/rollup.config.mjs
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

Add back node version 20, issue is fixed on 20.6.1.
  .github/workflows/node-windows.yml
Owners: @shellscape

chore(repo): update workflows, node and actions versions
  .github/workflows/node-windows.yml
  .github/workflows/pr-title.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Owners: @shellscape

chore(repo): add tips for issue numbers in pr template (#1516)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @shellscape

chore(repo): update workflow checkout
  .github/workflows/node-windows.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
Owners: @shellscape

Add include/exclude options for wasm plugin.
  packages/wasm/README.md
  packages/wasm/package.json
  packages/wasm/src/index.ts
  packages/wasm/types/index.d.ts
  pnpm-lock.yaml
Owners: @shellscape

feat(wasm): add include/exclude options for wasm plugin. (#1558)
  packages/wasm/README.md
  packages/wasm/package.json
  packages/wasm/src/index.ts
  packages/wasm/types/index.d.ts
  pnpm-lock.yaml
Owners: @shellscape

fix(typescript): fix sourcemap sourcecontent referencing non-existent files (#1571)
  packages/typescript/src/index.ts
  packages/typescript/src/outputFile.ts
  packages/typescript/test/test.js
Owners: @shellscape

fix(dsv): type of processRow
  packages/dsv/types/index.d.ts
Owners: @shellscape

test(dsv): update test for processRow types
  packages/dsv/test/types.ts
Owners: @shellscape

fix(typescript): fix sourcemap sourcecontent referencing non-existent files (#1571)
  .github/workflows/release.yml
  packages/typescript/src/index.ts
  packages/typescript/src/outputFile.ts
  packages/typescript/test/test.js
Owners: @shellscape

chore(release): typescript v11.1.4
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

chore(release): typescript v11.1.4
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

chore(wasm): manually bump package version after failed release in CI
  packages/wasm/package.json
Owners: @shellscape

chore(release): wasm v6.2.1
  packages/wasm/CHANGELOG.md
  packages/wasm/package.json
Owners: @shellscape

chore(release): wasm v6.2.1
  packages/wasm/CHANGELOG.md
  packages/wasm/package.json
Owners: @shellscape

fix(dsv): fix type of processRow option (#1581)
  packages/dsv/test/types.ts
  packages/dsv/types/index.d.ts
Owners: @shellscape

chore(release): dsv v3.0.3
  packages/dsv/CHANGELOG.md
  packages/dsv/package.json
Owners: @shellscape

chore(release): dsv v3.0.3
  packages/dsv/CHANGELOG.md
  packages/dsv/package.json
Owners: @shellscape

fix(node-resolve): modulePaths default is not set
  packages/node-resolve/src/index.js
Owners: @tjenkinson

chore(alias,babel): debug CI issues
  .github/workflows/node-windows.yml
  package.json
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/beep/package.json
  packages/buble/package.json
  pnpm-lock.yaml
Owners: @shellscape, @Andarist

keep this context for callbacks
  packages/commonjs/src/resolve-require-sources.js
Owners: @shellscape

fix(commonjs,dynamic-import-vars,esm-shim,inject,replace,strip): bump magic-string version
  packages/commonjs/package.json
  packages/dynamic-import-vars/package.json
  packages/esm-shim/package.json
  packages/inject/package.json
  packages/replace/package.json
  packages/strip/package.json
  pnpm-lock.yaml
Owners: @shellscape, @tada5hi

test: add a test for defaults
  packages/node-resolve/test/snapshots/test.mjs.md
  packages/node-resolve/test/snapshots/test.mjs.snap
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

fix(node-resolve): modulePaths default is not set (#1534)
  packages/node-resolve/src/index.js
  packages/node-resolve/test/snapshots/test.mjs.md
  packages/node-resolve/test/snapshots/test.mjs.snap
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

chore(release): node-resolve v15.2.3
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

chore(release): node-resolve v15.2.3
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

fix(commonjs,dynamic-import-vars,inject,replace,strip,esm-shim): update magic-string
  packages/commonjs/package.json
  packages/dynamic-import-vars/package.json
  packages/esm-shim/package.json
  packages/inject/package.json
  packages/replace/package.json
  packages/strip/package.json
  pnpm-lock.yaml
Owners: @shellscape, @tada5hi

fix: prevent variable before colons from being replaced when preventAssignment is true.
  packages/replace/src/index.js
Owners: @shellscape

feat: add typescript-declare test.
  packages/replace/test/fixtures/form/typescript-declare/_config.js
  packages/replace/test/fixtures/form/typescript-declare/input.ts
  packages/replace/test/fixtures/form/typescript-declare/output.ts
  packages/replace/test/form.js
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
Owners: @shellscape

fix(commonjs): Keep the shebang at the top of the file content
  packages/commonjs/src/index.js
  packages/commonjs/src/proxies.js
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/samples/shebang/main.js
  packages/commonjs/test/test.js
Owners: @shellscape

chore: update
  packages/commonjs/package.json
  packages/dynamic-import-vars/package.json
  packages/esm-shim/package.json
  packages/inject/package.json
  packages/replace/package.json
  packages/strip/package.json
  pnpm-lock.yaml
Owners: @shellscape, @tada5hi

fix(commonjs): Keep the shebang at the top of the file content (#1610)
  packages/commonjs/src/index.js
  packages/commonjs/src/proxies.js
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/samples/shebang/main.js
  packages/commonjs/test/test.js
Owners: @shellscape

chore(release): commonjs v25.0.6
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore(release): commonjs v25.0.6
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

feat(terser): use os.availableParallelism if possible
  package.json
  packages/terser/src/worker-pool.ts
  pnpm-lock.yaml
Owners: @shellscape, @tada5hi
