Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

docs: improve readme to explain about CommonJS entry points
  packages/commonjs/README.md
  packages/commonjs/test/test.js
Owners: @shellscape

test: allow tests to specify an entry point for running the code
  packages/commonjs/src/helpers.js
  packages/commonjs/test/fixtures/function/dash-name/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-package-sub/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-package-sub/sub/main.js
  packages/commonjs/test/function.js
  packages/commonjs/test/helpers/util.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/test.js
Owners: @shellscape

test: refine late-entry tests
  packages/commonjs/test/fixtures/function/module-side-effects-late-entry-strict/_config.js
  packages/commonjs/test/fixtures/function/module-side-effects-late-entry-strict/foo.js
  packages/commonjs/test/fixtures/function/module-side-effects-late-entry-strict/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

fix(commonjs): treat moduleSideEffects as __PURE__ comments for wrapped modules
  packages/commonjs/src/generate-imports.js
  packages/commonjs/src/resolve-require-sources.js
  packages/commonjs/test/fixtures/function/module-side-effects-require-wrapped/_config.js
  packages/commonjs/test/fixtures/function/module-side-effects-require-wrapped/bar.js
  packages/commonjs/test/fixtures/function/module-side-effects-require-wrapped/foo.js
  packages/commonjs/test/fixtures/function/module-side-effects-require-wrapped/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

fix(commonjs): treat moduleSideEffects as __PURE__ comments for proxied wrapped modules
  packages/commonjs/src/index.js
  packages/commonjs/src/proxies.js
  packages/commonjs/test/fixtures/function/module-side-effects-import-wrapped/_config.js
  packages/commonjs/test/fixtures/function/module-side-effects-import-wrapped/bar.js
  packages/commonjs/test/fixtures/function/module-side-effects-import-wrapped/foo.js
  packages/commonjs/test/fixtures/function/module-side-effects-import-wrapped/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

doc(pluginswc): add @swc/core to install step
  packages/swc/README.md
Owners: @tada5hi

feat(typescript): add transformers factory
  packages/typescript/README.md
  packages/typescript/src/moduleResolution.ts
  packages/typescript/src/options/tsconfig.ts
  packages/typescript/src/watchProgram.ts
  packages/typescript/test/test.js
  packages/typescript/types/index.d.ts
Owners: @shellscape

types: fix missing export type for esm-shim
  packages/esm-shim/types/index.d.ts
Owners: @tada5hi

Add `@swc/core` to the installation instruction
  packages/swc/README.md
Owners: @tada5hi

Allow using a custom loader
  packages/wasm/src/helper.ts
  packages/wasm/src/index.ts
  packages/wasm/test/test.mjs
  packages/wasm/types/index.d.ts
Owners: @shellscape

implement changes from https://github.com/rollup/plugins/pull/1604#issuecomment-1868119098
  packages/terser/test/test.js
Owners: @tada5hi

fix(commonjs): preserve the class body property keys even if they are special keywords
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/function/class-body-property-keys-are-special-keywords/_config.js
  packages/commonjs/test/fixtures/function/class-body-property-keys-are-special-keywords/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

Do not transform define and require
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

Do not transform the class property keys
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

feat: allow `options.preferBuiltins` to be function
  packages/node-resolve/src/index.js
Owners: @tjenkinson

tests: add testcase about passing function to preferBuiltins
  packages/node-resolve/test/fixtures/prefer-builtin-local-and-builtin.js
  packages/node-resolve/test/prefer-builtins.js
Owners: @tjenkinson

docs: update readme
  packages/node-resolve/README.md
Owners: @tjenkinson

feat: add types in dts
  packages/node-resolve/types/index.d.ts
Owners: @tjenkinson

chore: bump glob's version
  packages/commonjs/package.json
  pnpm-lock.yaml
Owners: @shellscape

fix: update regex to do not match new line in specifier group
  packages/esm-shim/src/constants.ts
Owners: @tada5hi

test: add testcases and update snapshot
  packages/esm-shim/test/fixtures/cjs-import-literal.js
  packages/esm-shim/test/snapshots/test.js.md
  packages/esm-shim/test/snapshots/test.js.snap
  packages/esm-shim/test/test.js
Owners: @tada5hi

fix(replace): add missing sourceMap documentation
  packages/replace/README.md
Owners: @shellscape

chore(run): add test for multiple entry points
  packages/run/test/test.js
Owners: @shellscape

refactor(run): extract reusable consts from a test
  packages/run/test/test.js
Owners: @shellscape

fix(esm-shim): do not insert shims at `import` literal (#1696)
  packages/esm-shim/src/constants.ts
  packages/esm-shim/test/fixtures/cjs-import-literal.js
  packages/esm-shim/test/snapshots/test.js.md
  packages/esm-shim/test/snapshots/test.js.snap
  packages/esm-shim/test/test.js
Owners: @tada5hi

chore(release): esm-shim v0.1.6
  packages/esm-shim/CHANGELOG.md
  packages/esm-shim/package.json
Owners: @tada5hi

fix(virtual): incorrect import path
  packages/virtual/src/index.ts
Owners: @shellscape

Add exception to allow fallbacks when resolving exports fail
  packages/node-resolve/src/index.js
  packages/node-resolve/src/package/resolvePackageExports.ts
  packages/node-resolve/src/resolveImportSpecifiers.js
Owners: @tjenkinson

fix(replace): fix replace for ternary operators
  packages/replace/src/index.js
  packages/replace/test/fixtures/form/ternary-operator/_config.js
  packages/replace/test/fixtures/form/ternary-operator/input.js
  packages/replace/test/fixtures/form/ternary-operator/output.js
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
Owners: @shellscape

fix(html): template function first arg is always provided
  packages/html/types/index.d.ts
Owners: @shellscape

fix(commonjs): preserve the class body property keys even if they are special keywords (#1688)
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/function/class-body-property-keys-are-special-keywords/_config.js
  packages/commonjs/test/fixtures/function/class-body-property-keys-are-special-keywords/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

chore(release): commonjs v25.0.8
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore(release): commonjs v25.0.8
  package.json
Owners: @shellscape

feat: Allow @rollup/plugin-virtual to be a function that takes a module ID
  packages/virtual/src/index.ts
  packages/virtual/test/test.js
  packages/virtual/types/index.d.ts
Owners: @shellscape

fix: when virtual config is string, no need "importerSuffix"
  packages/virtual/src/index.ts
  packages/virtual/test/test.js
Owners: @shellscape

Add plugin del
  packages/del/package.json
  packages/del/rollup.config.mjs
  packages/del/src/index.ts
  packages/del/test/fixtures/test-file.js
  packages/del/test/snapshots/test.js.md
  packages/del/test/snapshots/test.js.snap
  packages/del/test/test.js
  packages/del/tsconfig.json
  packages/del/types/index.d.ts
  pnpm-lock.yaml
Owners: @shellscape

Create README.md
  packages/del/README.md
Owners: @shellscape

chore: use `pnpm exec` to speed up husky hook
  .husky/pre-commit
Owners: @shellscape

test(typescript): add test case for invalid declarationDir with output.file
  packages/typescript/test/test.js
Owners: @shellscape

fix(typescript): correctly resolve output filename of declaration files when output.file is used
  packages/typescript/src/index.ts
Owners: @shellscape

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi
