Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(typescript): validate that declarationDir is inside bundle output directory when using output.file
  packages/typescript/src/options/validate.ts
Owners: @shellscape

test(typescript): check for correct error for invalid declarationDir when using output.file
  packages/typescript/test/test.js
Owners: @shellscape

chore(repo): use `pnpm exec` to speed up husky hook (#1727)
  .husky/pre-commit
Owners: @shellscape

chore(repo): fix incorrect import path in virtual plugin (#1702)
  packages/virtual/src/index.ts
Owners: @shellscape

fix(replace): ternary operator replacement (#1712)
  packages/replace/src/index.js
  packages/replace/test/fixtures/form/ternary-operator/_config.js
  packages/replace/test/fixtures/form/ternary-operator/input.js
  packages/replace/test/fixtures/form/ternary-operator/output.js
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
Owners: @shellscape

chore(release): replace v5.0.6
  packages/replace/CHANGELOG.md
  packages/replace/package.json
Owners: @shellscape

fix(esm-shim): missing exports in types (#1670)
  packages/esm-shim/types/index.d.ts
Owners: @tada5hi

chore(release): esm-shim v0.1.7
  packages/esm-shim/CHANGELOG.md
  packages/esm-shim/package.json
Owners: @tada5hi

docs(swc): add @swc/core to install step (#1666)
  packages/swc/README.md
Owners: @tada5hi

chore(release): swc v0.3.1
  packages/swc/CHANGELOG.md
  packages/swc/package.json
Owners: @tada5hi

chore: bump glob's version
  packages/commonjs/package.json
  pnpm-lock.yaml
Owners: @shellscape

fix: let glob match alphabetical order
  packages/commonjs/src/dynamic-modules.js
Owners: @shellscape

fix prettier
  packages/commonjs/src/resolve-require-sources.js
Owners: @shellscape

fix(replace): Update attributes alphabetically
  packages/replace/README.md
Owners: @shellscape

feat(run): add `input` option
  packages/run/README.md
  packages/run/src/index.ts
  packages/run/test/test.js
  packages/run/types/index.d.ts
Owners: @shellscape

feat(run): add `input` option (#1699)
  packages/run/README.md
  packages/run/src/index.ts
  packages/run/test/test.js
  packages/run/types/index.d.ts
Owners: @shellscape

chore(release): run v3.1.0
  packages/run/CHANGELOG.md
  packages/run/package.json
Owners: @shellscape

fix(replace): add missing sourceMap documentation (#1698)
  packages/replace/README.md
Owners: @shellscape

chore(release): replace v5.0.7
  packages/replace/CHANGELOG.md
  packages/replace/package.json
Owners: @shellscape

chore(commonjs)!: bump glob's version (#1695)
  packages/commonjs/package.json
  packages/commonjs/src/dynamic-modules.js
  pnpm-lock.yaml
Owners: @shellscape

chore(release): commonjs v26.0.0
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

fix(commonjs): correct import of glob
  packages/commonjs/src/dynamic-modules.js
Owners: @shellscape

chore(release): commonjs v26.0.1
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

fix(html): Correct types for the template function
  packages/html/src/index.ts
  packages/html/types/index.d.ts
Owners: @shellscape

fix: Apply suggestions from code review
  packages/virtual/src/index.ts
  packages/virtual/types/index.d.ts
Owners: @shellscape

fix(babel): Update Rollup dependency
  packages/babel/package.json
  pnpm-lock.yaml
Owners: @Andarist, @shellscape

Update index.js
  packages/dsv/src/index.js
Owners: @shellscape

Update README.md
  packages/dsv/README.md
Owners: @shellscape

chore(node-resolve): remove is-builtin-module
  packages/node-resolve/package.json
  packages/node-resolve/src/index.js
  pnpm-lock.yaml
Owners: @tjenkinson, @shellscape

feat: supports eslint v9
  package.json
  packages/eslint/package.json
  pnpm-lock.yaml
Owners: @shellscape

chore: upgrade to pnpm 9
  package.json
  pnpm-lock.yaml
Owners: @shellscape

chore(commonjs): switch to fdir for fewer dependencies
  package.json
  packages/commonjs/package.json
  packages/commonjs/src/dynamic-modules.js
  packages/commonjs/test/fixtures/function/dynamic-require-instances/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-package/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-resolve-index/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-resolve-reference/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-slash-access/_config.js
  pnpm-lock.yaml
Owners: @shellscape

ref(typescript): Remove resolve package
  packages/typescript/package.json
  packages/typescript/src/tslib.ts
  pnpm-lock.yaml
Owners: @shellscape

fix(replace): use shell-emulator for better cross-platform compatibility
  .npmrc
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/strip/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

chore(repo) remove del-cli dependency and use cross-platform rm -rf
  package.json
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
  pnpm-lock.yaml
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(repo): plugin type definitions not being exported correctly in ES Module
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/strip/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
  shared/rollup.config.mjs
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

refactor(repo): modify the declaration file to be a self-contained
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/strip/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
  shared/rollup.config.mjs
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(repo) emit .d.mts file extension for esm
  shared/rollup.config.mjs
Owners: @shellscape

test: move original test file to legacy.mjs
  packages/eslint/package.json
  packages/eslint/test/legacy.mjs
  pnpm-lock.yaml
Owners: @shellscape

fix(dsv): strip bom from csv/tsv files if necessary
  packages/dsv/package.json
  packages/dsv/src/index.js
  packages/dsv/test/fixtures/csv-with-bom/fruit.csv
  packages/dsv/test/fixtures/csv-with-bom/main.js
  packages/dsv/test/fixtures/tsv-with-bom/fruit.tsv
  packages/dsv/test/fixtures/tsv-with-bom/main.js
  packages/dsv/test/test.js
  pnpm-lock.yaml
Owners: @shellscape

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi
