Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(commonjs): replace top-level this with exports name (#1618)
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/function/this/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

chore(release): commonjs v26.0.2
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

fix(replace)!: objectGuards doesn't take effects (#1764)
  packages/replace/src/index.js
  packages/replace/test/fixtures/form/process-check/input.js
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
Owners: @shellscape

chore(release): replace v6.0.0
  packages/replace/CHANGELOG.md
  packages/replace/package.json
Owners: @shellscape

chore: update snapshots
  packages/replace/test/snapshots/misc.js.snap
  packages/replace/test/snapshots/sourcemaps.js.snap
  pnpm-lock.yaml
Owners: @shellscape

chore: use pnpm lock from upstream
  pnpm-lock.yaml
Owners: @shellscape

fix(replace): The `preventAssignment` option is treated as a value to replace (#1768)
  packages/replace/src/index.js
  packages/replace/test/fixtures/form/observe-plugin-options/_config.js
  packages/replace/test/fixtures/form/observe-plugin-options/input.js
  packages/replace/test/fixtures/form/observe-plugin-options/output.js
  packages/replace/test/snapshots/form.js.md
  packages/replace/test/snapshots/form.js.snap
  packages/replace/test/snapshots/misc.js.snap
  packages/replace/test/snapshots/sourcemaps.js.snap
Owners: @shellscape

chore(release): replace v6.0.1
  packages/replace/CHANGELOG.md
  packages/replace/package.json
Owners: @shellscape

fix(dsv): strip bom from csv/tsv files if necessary (#1745)
  packages/dsv/package.json
  packages/dsv/src/index.js
  packages/dsv/test/fixtures/csv-with-bom/fruit.csv
  packages/dsv/test/fixtures/csv-with-bom/main.js
  packages/dsv/test/fixtures/tsv-with-bom/fruit.tsv
  packages/dsv/test/fixtures/tsv-with-bom/main.js
  packages/dsv/test/test.js
  pnpm-lock.yaml
Owners: @shellscape

chore(release): dsv v3.0.5
  packages/dsv/CHANGELOG.md
  packages/dsv/package.json
Owners: @shellscape

chore(commonjs): revert #1618
  packages/commonjs/CHANGELOG.md
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/function/this/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

chore(release): commonjs v26.0.3
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore(repo): cherry-pick. commonjs. replace top-level this with exports name (#1618)
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/function/this/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
Owners: @shellscape

chore(release): commonjs v27.0.0
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore(release): commonjs v27.0.0
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore: update workflow pnpm version
  .github/workflows/release.yml
Owners: @shellscape

chore(repo): upgrade to pnpm 9 (#1740)
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Owners: @shellscape

chore(commonjs): switch to fdir for fewer dependencies (#1741)
  packages/commonjs/package.json
  packages/commonjs/src/dynamic-modules.js
  packages/commonjs/test/fixtures/function/dynamic-require-instances/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-package/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-resolve-index/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-resolve-reference/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-slash-access/_config.js
  pnpm-lock.yaml
Owners: @shellscape

chore(release): commonjs v28.0.0
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

feat: allow `options.preferBuiltins` to be function
  packages/node-resolve/src/index.js
Owners: @tjenkinson

docs: update readme
  packages/node-resolve/README.md
Owners: @tjenkinson

tests: add testcase about passing function to preferBuiltins
  packages/node-resolve/test/fixtures/prefer-builtin-local-and-builtin.js
  packages/node-resolve/test/prefer-builtins.js
Owners: @tjenkinson

feat: add types in dts
  packages/node-resolve/types/index.d.ts
Owners: @tjenkinson

feat(node-resolve): allow preferBuiltins to be a function (#1694)
  packages/node-resolve/README.md
  packages/node-resolve/src/index.js
  packages/node-resolve/test/fixtures/prefer-builtin-local-and-builtin.js
  packages/node-resolve/test/prefer-builtins.js
  packages/node-resolve/types/index.d.ts
Owners: @tjenkinson

chore(release): node-resolve v15.3.0
  packages/node-resolve/CHANGELOG.md
  packages/node-resolve/package.json
Owners: @tjenkinson

fix(pluginutils): optimize `createFilter` and `normalizePath` (#1750)
  packages/pluginutils/src/createFilter.ts
  packages/pluginutils/src/normalizePath.ts
Owners: @shellscape

chore(release): pluginutils v5.1.2
  packages/pluginutils/CHANGELOG.md
  packages/pluginutils/package.json
Owners: @shellscape

fix(replace): use shell-emulator for better cross-platform compatibility
  .npmrc
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/strip/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

chore(repo) remove del-cli dependency and use cross-platform rm -rf
  package.json
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
  pnpm-lock.yaml
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

chore: upgrade picomatch
  packages/commonjs/package.json
  pnpm-lock.yaml
Owners: @shellscape

chore(dynamic-import-vars): switch to tinyglobby for fewer dependencies
  packages/dynamic-import-vars/package.json
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
  packages/dynamic-import-vars/src/index.js
  pnpm-lock.yaml
Owners: @shellscape

fix(repo): provide typings for both cjs and es builds
  packages/alias/package.json
  packages/auto-install/package.json
  packages/babel/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/data-uri/package.json
  packages/dsv/package.json
  packages/dynamic-import-vars/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/html/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/strip/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
  shared/rollup.config.mjs
Owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(typescript): allow for files to be nested within outDir
  packages/typescript/src/options/validate.ts
  packages/typescript/test/test.js
Owners: @shellscape

Update tsconfig.json
  packages/auto-install/tsconfig.json
Owners: @shellscape

refactor: replace `test` with `includes`
  packages/node-resolve/src/index.js
  packages/pluginutils/src/attachScopes.ts
Owners: @tjenkinson, @shellscape

chore(dynamic-import-vars): switch to tinyglobby for fewer dependencies (#1780)
  packages/dynamic-import-vars/package.json
  packages/dynamic-import-vars/src/dynamic-import-to-glob.js
  packages/dynamic-import-vars/src/index.js
  pnpm-lock.yaml
Owners: @shellscape

chore(release): dynamic-import-vars v2.1.4
  packages/dynamic-import-vars/CHANGELOG.md
  packages/dynamic-import-vars/package.json
Owners: @shellscape

fix(typescript): allow for files to be nested in folders within outDir (#1783)
  packages/typescript/src/options/validate.ts
  packages/typescript/test/test.js
Owners: @shellscape

chore(release): typescript v12.1.1
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

chore(commonjs): upgrade picomatch (#1775)
  packages/commonjs/package.json
  pnpm-lock.yaml
Owners: @shellscape

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi
