Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

fix(yaml): Add extensions?: string[] to RollupYamlOptions types (#1506)
  packages/yaml/test/types.ts
  packages/yaml/types/index.d.ts
Owners: @shellscape

chore(release): yaml v4.1.1
  packages/yaml/CHANGELOG.md
  packages/yaml/package.json
Owners: @shellscape

chore(release): yaml v4.1.1
  packages/yaml/CHANGELOG.md
  packages/yaml/package.json
Owners: @shellscape

fix(dynamic-import-vars): keep dynamic import assert arg intact
  packages/dynamic-import-vars/README.md
  packages/dynamic-import-vars/package.json
  packages/dynamic-import-vars/src/index.js
  packages/dynamic-import-vars/test/fixtures/fixture-assert.js
  packages/dynamic-import-vars/test/rollup-plugin-dynamic-import-vars.test.js
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.md
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.snap
  pnpm-lock.yaml
Owners: @shellscape

fix(typescript): change the value of isExternalLibraryImport to false if the resolvedModule should be compiled (#1521)
  packages/typescript/src/index.ts
  packages/typescript/src/moduleResolution.ts
  packages/typescript/test/fixtures/external-library-import/main.ts
  packages/typescript/test/fixtures/external-library-import/node_modules/dep.ts
  packages/typescript/test/fixtures/external-library-import/tsconfig.json
  packages/typescript/test/test.js
Owners: @shellscape

chore(release): typescript v11.1.2
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

chore(release): typescript v11.1.2
  packages/typescript/CHANGELOG.md
  packages/typescript/package.json
Owners: @shellscape

feat(replace): add safer default delimiters
  packages/replace/src/index.js
Owners: @shellscape

docs(dynamic-import-vars): typo
  packages/dynamic-import-vars/README.md
Owners: @shellscape

improve
  packages/alias/package.json
  packages/auto-install/package.json
  packages/buble/package.json
  packages/commonjs/package.json
  packages/commonjs/src/dynamic-modules.js
  packages/commonjs/src/transform-commonjs.js
  packages/commonjs/test/fixtures/function/dynamic-require-globs/main.js
  packages/commonjs/test/fixtures/function/dynamic-require-resolve-no-fallback/_config.js
  packages/commonjs/test/fixtures/function/dynamic-require-resolve-no-fallback/main.js
  packages/commonjs/test/fixtures/function/dynamic-require-targets-no-fallback/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/tsconfig.json
  packages/dsv/package.json
  packages/eslint/package.json
  packages/esm-shim/package.json
  packages/graphql/package.json
  packages/image/package.json
  packages/inject/package.json
  packages/json/package.json
  packages/legacy/package.json
  packages/multi-entry/package.json
  packages/node-resolve/package.json
  packages/pluginutils/package.json
  packages/replace/package.json
  packages/run/package.json
  packages/sucrase/package.json
  packages/swc/package.json
  packages/terser/package.json
  packages/typescript/package.json
  packages/url/package.json
  packages/virtual/package.json
  packages/wasm/package.json
  packages/yaml/package.json
Owners: @shellscape, @tada5hi, @tjenkinson

docs(dynamic-import-vars): typo (#1527)
  packages/dynamic-import-vars/README.md
Owners: @shellscape

chore(release): dynamic-import-vars v2.0.4
  packages/dynamic-import-vars/CHANGELOG.md
  packages/dynamic-import-vars/package.json
Owners: @shellscape

chore(release): dynamic-import-vars v2.0.4
  packages/dynamic-import-vars/CHANGELOG.md
  packages/dynamic-import-vars/package.json
Owners: @shellscape

fix(commonjs): preserve this reference in the child class
  packages/commonjs/src/helpers.js
  packages/commonjs/test/fixtures/function/preserv-this-reference-in-the-child-class/dep.js
  packages/commonjs/test/fixtures/function/preserv-this-reference-in-the-child-class/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/snapshots/test.js.md
  packages/commonjs/test/snapshots/test.js.snap
Owners: @shellscape

update snapshots
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  pnpm-lock.yaml
Owners: @shellscape

tweak
  packages/commonjs/src/helpers.js
Owners: @shellscape

test: update snapshots
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/snapshots/test.js.md
  packages/commonjs/test/snapshots/test.js.snap
Owners: @shellscape

fix(commonjs): preserve `this` reference in the child class (#1537)
  packages/commonjs/src/helpers.js
  packages/commonjs/test/fixtures/function/preserv-this-reference-in-the-child-class/dep.js
  packages/commonjs/test/fixtures/function/preserv-this-reference-in-the-child-class/main.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/snapshots/test.js.md
  packages/commonjs/test/snapshots/test.js.snap
  pnpm-lock.yaml
Owners: @shellscape

chore(release): commonjs v25.0.3
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore(release): commonjs v25.0.3
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

docs(commonjs): update docs
  packages/commonjs/README.md
Owners: @shellscape

fix(pluginutils): add current working dirctory when pattern starts with one *
  packages/pluginutils/src/createFilter.ts
  packages/pluginutils/test/createFilter.ts
Owners: @shellscape

test(typescript): add test case for implicitly included declarations
  packages/typescript/test/declarations.ts
  packages/typescript/test/fixtures/implicitly-included-type-only-file/custom-types.ts
  packages/typescript/test/fixtures/implicitly-included-type-only-file/main.ts
  packages/typescript/test/fixtures/implicitly-included-type-only-file/tsconfig.json
Owners: @shellscape

fix(typescript): emit declarations for (implicit) type-only source files
  packages/typescript/src/index.ts
  packages/typescript/src/outputFile.ts
Owners: @shellscape

test(typescript): update declaration tests output file order
  packages/typescript/test/declarations.ts
Owners: @shellscape

test(typescript): verify that only necessary declarations are emitted
  packages/typescript/test/declarations.ts
  packages/typescript/test/fixtures/implicitly-included-type-only-file/main.ts
  packages/typescript/test/fixtures/implicitly-included-type-only-file/should-be-emitted-types.ts
  packages/typescript/test/fixtures/implicitly-included-type-only-file/should-not-be-emitted-types.ts
Owners: @shellscape

feat(node-resolve): pass original importee to secondary resolve
  packages/node-resolve/src/index.js
  packages/node-resolve/test/snapshots/prefer-builtins.js.md
  packages/node-resolve/test/snapshots/prefer-builtins.js.snap
  packages/node-resolve/test/snapshots/test.mjs.md
  packages/node-resolve/test/snapshots/test.mjs.snap
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

docs(commonjs): update docs (#1545)
  packages/commonjs/README.md
Owners: @shellscape

chore(release): commonjs v25.0.4
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

chore(release): commonjs v25.0.4
  packages/commonjs/CHANGELOG.md
  packages/commonjs/package.json
Owners: @shellscape

fix(dynamic-import-vars): keep dynamic import assert arg intact (#1504)
  packages/dynamic-import-vars/README.md
  packages/dynamic-import-vars/package.json
  packages/dynamic-import-vars/src/index.js
  packages/dynamic-import-vars/test/fixtures/fixture-assert.js
  packages/dynamic-import-vars/test/rollup-plugin-dynamic-import-vars.test.js
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.md
  packages/dynamic-import-vars/test/snapshots/rollup-plugin-dynamic-import-vars.test.js.snap
  pnpm-lock.yaml
Owners: @shellscape

chore(release): dynamic-import-vars v2.0.5
  packages/dynamic-import-vars/CHANGELOG.md
  packages/dynamic-import-vars/package.json
Owners: @shellscape

chore(release): dynamic-import-vars v2.0.5
  packages/dynamic-import-vars/CHANGELOG.md
  packages/dynamic-import-vars/package.json
Owners: @shellscape

reverse snapshot updates
  packages/node-resolve/test/snapshots/prefer-builtins.js.md
  packages/node-resolve/test/snapshots/prefer-builtins.js.snap
Owners: @tjenkinson

reverse test.mjs snapshot updates
  packages/node-resolve/test/snapshots/test.mjs.md
  packages/node-resolve/test/snapshots/test.mjs.snap
Owners: @tjenkinson

fix styles
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

fix(pluginutils): add current working dirctory when pattern starts with one * (#1547)
  packages/pluginutils/src/createFilter.ts
  packages/pluginutils/test/createFilter.ts
Owners: @shellscape

chore(release): pluginutils v5.0.3
  packages/pluginutils/CHANGELOG.md
  packages/pluginutils/package.json
Owners: @shellscape

chore(release): pluginutils v5.0.3
  packages/pluginutils/CHANGELOG.md
  packages/pluginutils/package.json
Owners: @shellscape

update README
  packages/node-resolve/README.md
Owners: @tjenkinson

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/swc/ @tada5hi
/packages/terser/ @tada5hi
