Repository rollup/plugins, changes with the owners that CODEOWNERS names for each.
All owners: @shellscape, @Andarist, @tada5hi, @tjenkinson

CODEOWNERS:

* @shellscape

/packages/babel/ @Andarist
/packages/esm-shim/ @tada5hi
/packages/image/ @tjenkinson
/packages/node-resolve/ @tjenkinson
/packages/terser/ @tada5hi

build: fix frozen lock file
  pnpm-lock.yaml
Owners: @shellscape

build(babel): define babel as dep instead peer-dep
  packages/babel/package.json
  pnpm-lock.yaml
Owners: @Andarist, @shellscape

build: define swc as dep instead peer-dep
  packages/swc/package.json
  pnpm-lock.yaml
Owners: @shellscape

Bump the version of is-builtin-module to include the fix for imports with a trailing slash
  packages/node-resolve/package.json
  pnpm-lock.yaml
Owners: @tjenkinson, @shellscape

Add tests for bypassing builtin modules with a trailing slash
  packages/node-resolve/test/fixtures/prefer-local.js
  packages/node-resolve/test/prefer-builtins.js
Owners: @tjenkinson

fix: set engine version to >= v14.0
  packages/swc/package.json
Owners: @shellscape

fix: set swc as peer-dep + specified rollup v3 as min version
  packages/swc/README.md
  packages/swc/package.json
  pnpm-lock.yaml
Owners: @shellscape

docs: updated min node engine version in README
  packages/swc/README.md
Owners: @shellscape

chore: fix typo in annotation
  packages/node-resolve/src/resolveImportSpecifiers.js
Owners: @tjenkinson

failing test
  packages/node-resolve/test/fixtures/exports-star-inbetween.js
  packages/node-resolve/test/fixtures/node_modules/exports-star-inbetween/foo/a.js
  packages/node-resolve/test/fixtures/node_modules/exports-star-inbetween/foo/b.js
  packages/node-resolve/test/fixtures/node_modules/exports-star-inbetween/foo/bar/c.js
  packages/node-resolve/test/fixtures/node_modules/exports-star-inbetween/package.json
  packages/node-resolve/test/package-entry-points.js
Owners: @tjenkinson

fix readme
  packages/auto-install/README.md
Owners: @shellscape

fix: commonjs: empty export when setter and defineProperty both used
  packages/commonjs/src/index.js
Owners: @shellscape

tests: commonjs: update
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/snapshots/test.js.md
  packages/commonjs/test/snapshots/test.js.snap
Owners: @shellscape

Revert "fix(commonjs): resolve export exports not found (#1363)"
  packages/commonjs/src/index.js
  packages/commonjs/test/snapshots/function.js.md
  packages/commonjs/test/snapshots/function.js.snap
  packages/commonjs/test/snapshots/test.js.md
  packages/commonjs/test/snapshots/test.js.snap
Owners: @shellscape

docs(alias): fix README esm error
  packages/alias/README.md
Owners: @shellscape

fix(typescript): Add missing types for `resolve`
  packages/typescript/package.json
  pnpm-lock.yaml
Owners: @shellscape

feat(node-resolve): Increase the support for .mjs/.cjs
  packages/node-resolve/src/index.js
  packages/node-resolve/test/fixtures/ts-import-cjs-extension/import-ts-with-cjs-extension.ts
  packages/node-resolve/test/fixtures/ts-import-cjs-extension/main.cts
  packages/node-resolve/test/fixtures/ts-import-mjs-extension/import-ts-with-mjs-extension.ts
  packages/node-resolve/test/fixtures/ts-import-mjs-extension/main.mts
  packages/node-resolve/test/test.mjs
Owners: @tjenkinson

feat(utils): Add test function `getFiles`
  util/test.d.ts
  util/test.js
Owners: @shellscape

docs(typescript): Remove now unneeded documentation of non functional workaround
  packages/typescript/README.md
Owners: @shellscape

fix: Make `generateBundle` function more self explaining
  packages/typescript/src/index.ts
Owners: @shellscape

fix(typescript): Fix writing declarations when `output.file` is used
  packages/typescript/src/index.ts
  packages/typescript/test/test.js
Owners: @shellscape

docs: add unbuild reference + use tsconfig file link
  packages/esm-shim/README.md
  packages/esm-shim/tsconfig.json
  packages/esm-shim/unbuild.license
Owners: @tada5hi

fix: renderChunk arg + add match-all polyfill
  packages/esm-shim/src/module.ts
  packages/esm-shim/src/utils.ts
Owners: @tada5hi

fix(commonjs): dynamic require root check was broken in some cases
  packages/commonjs/src/index.js
Owners: @shellscape

fix(commonjs): fixed a commonjs unit test based on OS paths
  packages/commonjs/test/helpers/util.js
  packages/commonjs/test/test.js
Owners: @shellscape

docs(alias): fix README esm error (#1451)
  packages/alias/README.md
Owners: @shellscape

chore(release): alias v4.0.4
  packages/alias/CHANGELOG.md
  packages/alias/package.json
Owners: @shellscape

chore(release): alias v4.0.4
  packages/alias/CHANGELOG.md
  packages/alias/package.json
Owners: @shellscape
